/* ======================================================== */
/* 2FA */

#elTwoFactorAuthentication {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	overflow: auto;
}

	#elTwoFactorAuthentication > div {
		max-width: 500px;
		background: rgb( var(--theme-area_background_reset) );
		box-shadow: 0px 5px 55px rgba(0,0,0,0.4);
		border-radius: 3px;
		overflow: hidden;
	}

	#elTwoFactorAuthentication .ipsTabs {
		background: transparent;
		padding: 0;
		border: 0;
	}

		#elTwoFactorAuthentication .ipsTabs .ipsTabs_item:not( .ipsTabs_activeItem ) {
			color: rgb( var(--theme-text_color) );
			background: transparent;
		}

	#elTwoFactorAuthentication .c2FA_info {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	#elTwoFactorAuthentication .cOtherMethod {
		padding-top: 0;
	}

#elGoogleAuthenticator input[type='text'] {
	font-size: 30px;
	text-align: center;
}

#elGoogleAuthenticator .ipsGrid_span8 {
	margin-top: 25px;
}

#elGoogleAuthenticator .ipsGrid_span5 {
	padding-left: 25px;
}

#elAuthy select {
	width: 100%;
}

#elAuthy input[type='text'] {
	font-size: 30px;
	text-align: center;
}

.cAuthy_container {
	position: relative;
}

.cAuthy_icon {
	width: 36px;
	height: 36px;
	position: absolute;
	top: 8px;
	left: 8px;
}

.cAuthy_field {
	
}