/* ----- */

.cCreateTopic_date input {
	max-width: 100% !important;
	width: 100% !important;
	margin-bottom: 7px;
	padding-left: 35px !important;
}

.cCreateTopic_date li {
	position: relative;
}

.cCreateTopic_date i {
	position: absolute;
	left: 10px;
	top: 10px;
	font-size: 18px;
}

[data-ipsTitleField] {
	overflow-wrap: break-word;
}