/* ----- */
.cCmsRecord_row h4.ipsDataItem_title {
	font-size: 14px !important;
	display: inline;
}

.ipsDataItem_main span.ipsBadge.ipsPos_right {
	margin-left: 4px;
}

.ipsBadge img.ipsImage {
	max-height: 20px;
	max-width: 20px;
}