/* ----- */
.cCmsRecord_image {
	float: left;
	max-width: 300px;
	max-height: 300px;
	margin-right: 30px;
	margin-bottom: 30px;
}

	.cCmsRecord_image img {
		max-width: 300px;
		max-height: 300px;
	}

div[data-controller="core.front.core.commentsWrapper"] .ipsTabs {
	margin: 0px !important;
}

.ipsList_inline span.ipsBadge.ipsPos_right {
	margin-left: 4px;
}

.ipsBadge img.ipsImage {
	max-height: 20px;
	max-width: 20px;
}

.ipsPagesDiff {
	margin-bottom: 5px;
}
