/* Badges: various indicators */
/* ======================================================== */
/* STANDARD BADGE */

.ipsBadge {
	padding: 0 1em;
	line-height: 2;
	border-radius: 100px;
	font-weight: 500;
	display: inline-block;
	vertical-align: middle;
	text-shadow: none;
	letter-spacing: 0;
	/* Fallback background if one isn't specified */
	background: var(--badge--background, currentColor linear-gradient(rgba( var(--theme-area_background_reset), 0.9 ), rgba( var(--theme-area_background_reset), 0.9 )));
}

.ipsBadge,
a.ipsBadge{
	color: var(--badge--color, rgb( var(--theme-text_color) ));
}

	/* Remove background-image on badges if the style tag overwrites the background-color. Eg: Badges with featured forum colors */
	.ipsBadge[style*='background-color']{
		background-image: none;
	}

	.ipsBadge a,
	.ipsBadge a:hover {
		color: inherit;
	}
		.ipsBadge a:hover{
			text-decoration: underline;
		}
	
	.ipsBadge.ipsBadge_icon {
		width: 2em;
		height: 2em;
		border-radius: 500px;
		font-size: 14px;
		text-align: center;
		line-height: 2;
		vertical-align: middle;
		padding: 0;
	}

		.ipsBadge.ipsBadge_icon.ipsBadge_small {
			font-size: 10px;
			vertical-align: baseline;
		}
		
		.ipsBadge.ipsBadge_icon.ipsBadge_medium {
			font-size: 11px;
			vertical-align: baseline;
		}

		.ipsBadge.ipsBadge_icon.ipsBadge_large {
			font-size: 17px;
		}

.ipsType_pageTitle .ipsBadge {
	vertical-align: middle !important;
}

.ipsBadge_reverse {
	color: var(--badge--background, #fff);
	background: var(--badge--color);
}

/* ======================================================== */
/* SIZES */
.ipsBadge, .ipsBadge.ipsBadge_normal {
	font-size: 10px;
}

.ipsBadge.ipsBadge_medium {
	font-size: 11px;
} 

.ipsBadge.ipsBadge_large {
	font-size: 12px;
}

.ipsBadge.ipsBadge_veryLarge {
	width: 70px;
	height: 70px;
	line-height: 64px;
	border-radius: 70px;
	font-size: 34px;
}

/* ======================================================== */
/* STYLES */
.ipsBadge_new, .ipsBadge_style1 {
	--badge--color: #323232;
}

.ipsBadge_style2 {
	--badge--color: #6a4fa8;
}

.ipsBadge_warning, .ipsBadge_style3 {
	--badge--color: #873661;
}

.ipsBadge_positive, .ipsBadge_style4 {
	--badge--background: var(--positive-light);
	--badge--color: var(--positive-dark);
}

.ipsBadge_negative, .ipsBadge_style5 {
	--badge--color: var(--negative-dark);
}

.ipsBadge_neutral, .ipsBadge_style6 {
	--badge--color: rgb( var(--theme-text_light) );
}

.ipsBadge_intermediary, .ipsBadge_style7 {
	--badge--color: var(--intermediate-dark);
}

.ipsBadge_recommended{
	--badge--color: rgb( var(--theme-featured) );
}

.ipsBadge_highlightedGroup {
	--badge--background: rgb( var(--theme-post_highlight) );
	--badge--color: rgb( var(--theme-post_highlight_border) );
}

.ipsBadge_popular {
	--badge--color: rgb( var(--theme-featured) );
}

.ipsBadge_pill {
	border-radius: 30px;
}

/* ======================================================== */
/* ITEM STATUS BADGES */
.ipsItemStatus:not( .ipsItemStatus_large ) {
	color: rgb( var(--theme-item_status) );
	font-size: 14px;
	line-height: inherit;
	vertical-align: middle;
}

	.ipsDataItem_subList .ipsItemStatus:not( .ipsItemStatus_large ) {
		vertical-align: text-top;
	}

	.ipsItemStatus.ipsItemStatus_read:not( .ipsItemStatus_large ) {
		
	}

	.ipsItemStatus.ipsItemStatus_tiny {
		font-size: 9px;
	}

	.ipsItemStatus.ipsItemStatus_small {
		font-size: 13px;
	}

	.ipsItemStatus.ipsItemStatus_large {
		background: rgb( var(--theme-item_status) );
		color: #fff;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		font-size: 17px;
		transition: 0.15s all linear;
	}

		.ipsItemStatus.ipsItemStatus_large.ipsItemStatus_read {

		}

	.ipsItemStatus.ipsItemStatus_read {
		opacity: 0.2;
	}

	.ipsItemStatus.ipsItemStatus_read:not( .ipsItemStatus_large ):not( .ipsItemStatus_posted ):not( .ipsItemStatus_custom ) {
		display: none;
	}

	/* Restrict the width of custom forum icons to match standard icons */
	.ipsItemStatus_custom{
		max-width: 40px;
	}

/* ======================================================== */
/* POINTS (for warnings) */
.ipsPoints {
	display: inline-block;
	background: #b14848;
	color: #fff;
	width: 36px;
	height: 36px;
	border-radius: 36px;
	font-size: 18px;
	text-align: center;
	line-height: 36px;
}

.ipsPoints_small {
	width: 22px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
	vertical-align: middle;
}

/* ======================================================== */
/* REP BADGE */
.ipsRepBadge {
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
}

	.ipsRepBadge_positive,
	.ipsRepBadge_positive:hover {
		color: var(--positive-dark) !important;
	}

	.ipsRepBadge_negative,
	.ipsRepBadge_negative:hover {
		color: var(--negative-dark) !important;
	}

	.ipsRepBadge_neutral,
	.ipsRepBadge_neutral:hover {
		color: #b3b3b3 !important;
	}