/* Blocks - styles for various widgets */

.ipsWidget {
	position: relative;
	padding: 0;
	background-color: var(--box--backgroundColor);
}

	.ipsWidget[data-blockBuilder] {
		background: transparent;
	}

	.ipsWidget_vertical{
		margin-bottom: 15px;
	}

.ipsWidget_title {
	font-size: {fontsize="base"};
	font-weight: bold;
	padding: 16px;
	line-height: 1;
	margin: 0;
	position: relative;
	color: rgb( var(--theme-widget_title_font) );
	background: rgb( var(--theme-widget_title_bar) );
	border-bottom: 1px solid rgba( var(--theme-text_light), 0.15 );
	border-top-left-radius: var(--radius-1);
	border-top-right-radius: var(--radius-1);
	{{if theme.headline_font != 'default'}}
		font-family: "{theme="headline_font"}", "Helvetica Neue", Helvetica, Arial, sans-serif;
	{{endif}}
}

	.ipsWidget.ipsWidget_horizontal:not( .ipsWidgetHide ) {
		margin-bottom: 10px;
	}

	.ipsWidget.ipsWidget_horizontal .ipsTabs {
		margin: -5px 0 5px 0;
	}
	
		.ipsWidget.ipsWidget_horizontal .ipsTabs_panel {
			background: rgb( var(--theme-area_background_reset) );
			margin: 0;
		}

.ipsWidget_columns > [class*="ipsGrid"] {
	margin-bottom: 0;
	border-bottom: 0;
}

html[dir="ltr"] .ipsWidget_columns > [class*="ipsGrid"] {
	border-right: 1px solid rgba(0,0,0,0.1);
	padding-right: 10px;
}
html[dir="rtl"] .ipsWidget_columns > [class*="ipsGrid"] {
	border-left: 1px solid rgba(0,0,0,0.1);
	padding-left: 10px;
}

	html[dir="ltr"] .ipsWidget_columns > [class*="ipsGrid"]:last-child {
		border-right: 0;
	}
	html[dir="rtl"] .ipsWidget_columns > [class*="ipsGrid"]:last-child {
		border-left: 0;
	}

.ipsWidget_horizontal .ipsWidget_statsCount {
	font-size: {fontsize="x_large"};
	font-weight: bold;
}

.ipsWidget_horizontal .ipsWidget_stats {
	padding-top: 15px;
	padding-bottom: 15px;
}

.ipsWidget .ipsTabs_small {
	padding: 0;
	background: transparent;
	border-radius: 0;
}

	.ipsWidget .ipsTabs_small .ipsTabs_item{
		border-radius: 0;
	}

	.ipsWidget .ipsTabs_small .ipsTabs_item:not( .ipsTabs_activeItem ) {
		color: rgb( var(--theme-text_light) );
		border-bottom: 1px solid transparent;
	}

	.ipsWidget .ipsTabs_small .ipsTabs_activeItem {
		border-bottom: 1px solid currentColor;
	}

.ipsWidget .ipsDataItem_title {
	font-size: {fontsize="small"};
}

html[dir="ltr"] .ipsWidget .ipsDataItem_main.cWidgetComments {
	padding-right: 45px;
}

	html[dir="ltr"] .ipsWidget .ipsDataItem_main.cWidgetComments .ipsCommentCount {
		margin-right: -45px;
		margin-left: 0;
	}

html[dir="rtl"] .ipsWidget .ipsDataItem_main.cWidgetComments {
	padding-left: 45px;
}

	html[dir="rtl"] .ipsWidget .ipsDataItem_main.cWidgetComments .ipsCommentCount {
		margin-left: -45px;
		margin-right: 0;
	}

.ipsWidget.ipsWidget_primary {
	background: rgb( var(--theme-area_background_dark) );
}

	.ipsWidget.ipsWidget_primary h3 {
		color: #fff;
	}

html[dir="ltr"] .ipsWidget_latestItem {
	margin-left: 85px;
}
html[dir="rtl"] .ipsWidget_latestItem {
	margin-right: 85px;
}

.ipsWidgetBlank {
	margin-top: 16px;
	padding-top: 30px;
}

.ipsWidget img.ipsPageBuilderUpload {
	width: 100%;
	height: auto;
}

.ipsWidget_imageCarousel{
	overflow: hidden;
	display: block;
	position: relative;
}

	.ipsWidget_imageCarousel img,
	.ipsWidget_imageCarousel a{
		display: block;
	}

	.ipsWidget_imageCarousel__caption {
		position: absolute;
		left: 0; right: 0; bottom: 0;
		font-size: {fontsize="base"};
		color: #ffffff;
		padding: 20px;
		white-space: normal;
		z-index: 1;
	}

		.ipsWidget_imageCarousel__caption::before{
			content: '';
			position: absolute;
			left: 0; right: 0; bottom: 0;
			height: 150%;
			z-index: -1;
			background-image: linear-gradient( to bottom, rgba(0,0,0,0), rgba(0,0,0,.7) );
		}

select[name="widget_adv__font"] option[value="Arial"] {
	font-family: Arial;
}
select[name="widget_adv__font"] option[value="Helvetica"] {
	font-family: Helvetica;
}
select[name="widget_adv__font"] option[value="Times new roman"] {
	font-family: "Times new roman";
}
select[name="widget_adv__font"] option[value="Courier"] {
	font-family: Courier;
}
select[name="widget_adv__font"] option[value="Lato"] {
	font-family: Lato;
}
select[name="widget_adv__font"] option[value="Merriweather"] {
	font-family: Merriweather;
}
select[name="widget_adv__font"] option[value="Open sans"] {
	font-family: "Open sans";
}
select[name="widget_adv__font"] option[value="Raleway"] {
	font-family: Raleway;
}
select[name="widget_adv__font"] option[value="Raleway black"] {
	font-family: "Raleway black";
}
select[name="widget_adv__font"] option[value="Roboto"] {
	font-family: Roboto;
}
select[name="widget_adv__font"] option[value="Roboto black"] {
	font-family: "Roboto black";
}