.ipsComment {
	position: relative;
	margin-bottom: var(--sp-5);
	padding: 0;
	background: rgb( var(--theme-area_background_reset) );
}	

	.ipsDataItem > .ipsComment {
		margin-bottom: 0;
	}
	
	.ipsComment.ipsComment_selected {
		box-shadow: 0px 0px 0px 1px rgb( var(--theme-selected_border) ), 0px 0px 0px 5px rgba( var(--theme-selected_border), 0.2 ) !important;
		background: rgb( var(--theme-selected) ) !important;
	}

		.ipsComment.ipsComment_selected .ipsComment_author {
			background: transparent;
		}

	/* Popular */
	.ipsComment.ipsComment_popular {
		box-shadow: 0px 0px 0px 1px rgba( var(--theme-featured), 0.8 ), 0px 0px 0px 5px rgba( var(--theme-featured), 0.2 );
	}

	/* Solved */
	.ipsComment.ipsComment_solved {
		box-shadow: 0px 0px 0px 1px rgba( var( --solved--borderColor ), 0.6 ), 0px 0px 0px 5px rgba( var( --solved--borderColor ), 0.25 );
	}

	html[dir="ltr"] .ipsComment > .ipsUserPhoto {
		float: left;
		margin-right: 7px;
	}
	html[dir="rtl"] .ipsComment > .ipsUserPhoto {
		float: right;
		margin-left: 7px;
	}

.ipsComment_header {
	padding: var(--sp-4) var(--sp-5) 0; /* No bottom padding because comment body has full padding */
	position: relative;
}
	
	.ipsComment_header .ipsUserPhoto {
		margin: 0;
	}

	.ipsComment_header .ipsComment_header_modcbox {
		margin-right: 25px;
	}
	
.ipsComment_author {
	display: inline;
}

.ipsComment_content {
	position: relative;
}

	.ipsComment.ipsComment_hasChildren {
		margin-bottom: 40px;
	}

	.ipsComment.ipsComment_hasChildren > .ipsComment_content {
		padding-bottom: 20px;
	}

.ipsComment .ipsType_richText {
	overflow-x: auto;
	overflow-y: hidden;
}

.ipsComment[data-role="replyComment"] {
	margin-left: -15px;
	margin-right: -15px;
}

	.ipsComment_parent.ipsComment > .ipsComment_content > .ipsComment_author {
		font-size: {fontsize="medium"};
		margin: 0;
	}

.ipsComment_meta {
	margin: 0;
}

.ipsComment_ellipsis {
	padding: 0 var(--sp-3);
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

	.ipsComment_ellipsis:hover {
		background: rgb( var(--theme-light_button) );
		color: rgb( var(--theme-light_button_font) );
	}

	.ipsComment_ellipsis > .fa {
		font-size: 20px;
		line-height: 24px;
	}

.ipsComment_toolWrap,
.ipsComment_tools {
	display: flex;
	align-items: center;
}
	.ipsApp .ipsComment_toolWrap{
		flex: 0 0 auto;
	}
	html[dir="ltr"] .ipsComment_tools {
		margin-left: var(--sp-4);
	}
	html[dir="rtl"] .ipsComment_tools {
		margin-right: var(--sp-4);
	}

html[dir="ltr"] .ipsComment_tools > li:not( :first-child ) {
	margin-left: var(--sp-2);
}
html[dir="rtl"] .ipsComment_tools > li:not( :first-child ) {
	margin-right: var(--sp-2);
}

.ipsComment_tools .ipsCustomInput{
	display: block;
}

.ipsComment_controls {
	margin: 0;
	padding: 0;
	list-style: none;
}

	.ipsComment_controls > li {
		display: inline-block;
		vertical-align: middle;
	}
	html[dir="ltr"] .ipsComment_controls > li {
		margin-right: 15px;
	}
	html[dir="rtl"] .ipsComment_controls > li {
		margin-left: 15px;
	}

[data-role="commentFeed"] > .ipsComment:first-child {
	margin-top: 0;
}

.ipsComment.ipsComment_ignored {
	border-width: 0;
	color: rgba( var(--theme-text_light), 0.6 );
	background: transparent;
}
.ipsComment.ipsComment_ignored:first-child {
	margin-top: 15px;
}
html[dir="ltr"] .ipsComment.ipsComment_ignored {
	padding-left: 75px;
}
html[dir="rtl"] .ipsComment.ipsComment_ignored {
	padding-right: 75px;
}

	.ipsComment.ipsComment_ignored + .ipsComment:not( .ipsComment_ignored ) {
		margin-top: 0;
	}

.ipsComment.ipsComment_popular .ipsComment_popularFlag {
	position: absolute;
	top: -3px;
	background: rgb( var(--theme-featured) );
	border-color: rgb( var(--theme-featured) );
	text-align: center;
	color: #fff;
	width: 34px;
	height: 40px;
	font-size: 26px;
	padding-top: 11px;
	z-index: 100;
	border-radius: 2px 2px 0 0;
}
	
html[dir="ltr"] .ipsComment.ipsComment_popular .ipsComment_popularFlag {
	right: 10px;
}

html[dir="rtl"] .ipsComment.ipsComment_popular .ipsComment_popularFlag {
	left: 10px;
}

	.ipsComment.ipsComment_popular .ipsComment_popularFlag:after {
		content: '';
		display: block;
		position: absolute;
	}
	
	.ipsComment.ipsComment_popular .ipsComment_popularFlag:after {
		border-width: 13px 17px 17px 17px;
		border-style: solid;
		border-color: transparent;
		border-top-color: inherit;
		top: 100%;
	}
	
	html[dir="ltr"] .ipsComment.ipsComment_popular .ipsComment_popularFlag:after {
		left: 0;
	}
	
	html[dir="rtl"] .ipsComment.ipsComment_popular .ipsComment_popularFlag:after {
		right: 0;
	}

.ipsCommentUnreadSeperator {
	margin: 15px 0;
	height: 0;
	padding: 0;
	border-width: 2px 0 0 0;
	border-style: solid;
	border-color: rgb( var(--theme-brand_primary) );
}

.ipsType_richText .ipsPagination:first-child {
	margin-bottom: 15px;
}

.ipsTooltip.ipsComment_inlineQuoteTooltip {
	pointer-events: auto;
	padding: 7px !important;
	border-radius: var(--radius-1);
}

/* Sub comments (e.g. status updates) */
.ipsComment_subComments {
	margin-top: 15px;
}
	
	html[dir="ltr"] .ipsComment_subComments {
		margin-left: 55px;
	}
	html[dir="rtl"] .ipsComment_subComments {
		margin-right: 55px;
	}

	.ipsComment_subComments .ipsComment {
		padding: 10px;
		margin-bottom: 3px;
	}

		.ipsComment_subComments .ipsComment [data-role="commentContent"] {
			margin-bottom: 0;
		}
		
		.ipsComment_subComments .ipsComment[data-role="replyComment"] {
			margin: 0;
		}

			.ipsComment_subComments .ipsComment[data-role="replyComment"] .ipsUserPhoto {
				width: 34px;
				height: 34px;
			}

			.ipsComment_subComments .ipsComment[data-role="replyComment"] .ipsComposeArea_editor {
				padding: 2px;
			}

			.ipsComment_subComments .ipsComment[data-role="replyComment"] .ipsComposeArea_dummy {
				padding: 7px;
				font-size: {fontsize="small"};
			}

	html[dir="ltr"] .ipsComment_subComments .ipsComment:not( [data-role="replyComment"] ) .ipsComment_content,
	html[dir="ltr"] .ipsComment_subComments .ipsComposeArea_withPhoto .ipsComposeArea_editor {
		margin-left: 45px;
	}
	
	html[dir="rtl"] .ipsComment_subComments .ipsComment:not( [data-role="replyComment"] ) .ipsComment_content,
	html[dir="rtl"] .ipsComment_subComments .ipsComposeArea_withPhoto .ipsComposeArea_editor {
		margin-right: 45px;
	}

	.ipsComment_subComments .ipsComposeArea_withPhoto .ipsComposeArea_editor:before {
		display: none;
	}
	
/* ======================================================== */
/* HIGHLIGHTED REPLIES */
.ipsComment_highlighted{
	--ipsComment_highlighted--boxShadow: 0px 0px 0px 1px rgba( var(--theme-post_highlight_border), 0.6 ), 0px 0px 0px 5px rgba( var(--theme-post_highlight_border), 0.15 );
}
.ipsComment_highlighted:not(.ipsBox_transparent):not(.ipsModerated):not(.ipsComment_selected):not(.ipsComment_popular ) {
	box-shadow: var(--ipsComment_highlighted--boxShadow);
}

/* ======================================================== */
/* RECOMMENDED REPLIES */

.ipsRecommendedComments {
	margin-bottom: var(--sp-5);
}

/*.ipsTabs_panel .ipsRecommendedComments {
	margin: calc( var(--sp-5) * -1) calc( var(--sp-5) * -1) 15px calc( var(--sp-5) * -1);
}*/

.ipsRecommendedComments [data-commentID]:last-child {
	margin-bottom: 0;
}

.ipsRecommendedComments .ipsType_sectionHead {
	margin-top: -5px;
	margin-bottom: 10px;
}

.ipsApp .ipsComment_recommended {
	position: relative;
	box-shadow: 0px 0px 0px 1px rgba( var(--theme-featured), 0.8 ), 0px 0px 0px 5px rgba( var(--theme-featured), 0.2 );
}

	.ipsComment_recommended .ipsColumn_narrow {
		padding-top: 30px;
	}

.ipsComment_recommendedFlag {
	position: absolute;
	top: 10px;
	line-height: 2;
	padding: 0 16px 0 10px;
	font-size: 12px;
	font-weight: 500;
	background: rgba( var(--theme-featured), 0.15 );
	color: rgb( var(--theme-featured) );
}
	html[dir="ltr"] .ipsComment_recommendedFlag {
		left: 0;
		border-radius: 0 20px 20px 0;
	}
	html[dir="rtl"] .ipsComment_recommendedFlag {
		right: 0;
		border-radius: 20px 0 0 20px;
	}

.ipsComment_recommendedNote {
	margin-top: 10px;
	position: relative;
}
	html[dir="ltr"] .ipsComment_recommendedNote {
		margin-left: 15px;
		padding-left: 30px;
	}
	html[dir="rtl"] .ipsComment_recommendedNote {
		margin-right: 15px;
		padding-right: 30px;
	}

	.ipsComment_recommendedNote:before {
		content: '\f10d';
		font-family: 'FontAwesome';
		color: rgba( var(--theme-featured), 0.6 );
		font-size: 20px;
		font-style: normal;
		position: absolute;
		top: 0;
	}
		html[dir="ltr"] .ipsComment_recommendedNote:before {
			left: 0;
		}
		html[dir="rtl"] .ipsComment_recommendedNote:before {
			right: 0;
		}

	.ipsComment_recommendedNote .ipsType_richText {
		font-style: italic;
	}

.ipsComment_recommendedRep {
	font-size: 20px;
	color: rgb( var(--theme-text_color) );
	min-width: 200px;
}
	.ipsComment_recommendedRep a {
		color: inherit;
	}
	
	.ipsComment_recommendedRep span {
		display: block;
		margin-top: 5px;
		font-size: {fontsize="x_small"};
		text-transform: uppercase;
		opacity: 0.5;
	}
	
.ipsComment .ipsComment_authorBadge {
	--badge--color: rgb( var(--theme-mentions) );
}

/* PHONES */
@media screen and (max-width: 767px) {
	.ipsComment_badges {
		padding: var(--sp-4) var(--sp-4) 0;
	}
}