.ipsApp .cke {
	box-shadow: none;
}

	.ipsApp .cke_combo {
		height: 40px;
	}

	.ipsApp .cke_top {
		background-color: transparent;
	}

	.ipsApp .cke_button{
		border-radius: var(--radius-1);
	}

		.ipsApp a.cke_button_off:hover,
		.ipsApp a.cke_button_off:focus,
		.ipsApp a.cke_button_off:active,
		.ipsApp a.cke_button_disabled:hover,
		.ipsApp a.cke_button_disabled:focus,
		.ipsApp a.cke_button_disabled:active,
		.ipsApp .cke_combo_off a.cke_combo_button:hover,
		.ipsApp .cke_combo_off a.cke_combo_button:focus{
			background: rgba( var(--theme-text_light), 0.2 );
		}

		.ipsApp a.cke_button_on,
		.ipsApp .cke_combo_off a.cke_combo_button:active,
		.ipsApp .cke_combo_on a.cke_combo_button{
			background: rgba( var(--theme-text_light), 0.35 );
		}

	.ipsApp .cke_toolbar_separator{
		margin: 0 4px;
		background: rgba( var(--theme-text_light), 0.4 );
	}

[data-ipseditor]{
	border: 1px solid var(--form-field--borderColor);
	background: rgb( var(--theme-area_background_reset) );
	border-radius: 5px;	
	padding: 5px;
	background-clip: padding-box;
	position: relative;
}

	[data-ipseditor]:hover {
		border-color: var(--form-field--borderHoverColor);
	}

	[data-ipseditor]:focus-within{
		border-color: rgb( var(--theme-active_input_border) );
		box-shadow: var(--form-field--focusShadow);
	}

	@media (min-width: 768px){
		.ipsComposeArea_withPhoto [data-ipseditor]::before,
		.ipsComposeArea_withPhoto [data-ipseditor]::after{
			content: '';
			position: absolute;
			border: 7px solid transparent;
			top: 21px;
			right: calc(100%);
			border-right-color: rgb( var(--theme-area_background_reset) );
		}

		.ipsComposeArea_withPhoto [data-ipseditor]::before{
			border-right-color: inherit;
			margin-right: 1px;
		}
	}

		.ipsComposeArea_withPhoto [data-ipseditor]:focus-within::before{
			filter: drop-shadow(rgba( var(--theme-active_input_border), 0.3 ) -4px 0px 0px);
		}

	.ipsComposeArea_editor [data-ipsEditor][data-loading] .cke {
		height: 1px !important;
		overflow: hidden !important;
	}

/* Editor combo buttons */
.ipsApp a.cke_combo_button {
	background: transparent;
	border-radius: 4px;
	box-shadow: none;
	display: flex;
	align-items: center;
	border-width: 0px !important;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 5px;
}
	.ipsApp .cke_combo_text {
		line-height: 40px;
	}
	.ipsApp .cke_combo_open {
		height: auto;
		line-height: normal;
	}
	[dir='ltr'] .cke_combo_open{
		margin-left: 0;
	}
	[dir='rtl'] .cke_combo_open{
		margin-right: 0;
	}
	.ipsApp .cke_combo_arrow {
		margin: 0;
	}

.ipsApp .cke_combo_off a.cke_combo_button:active,
.ipsApp .cke_combo_on a.cke_combo_button {
	box-shadow: none;
}

.ipsApp .cke_combo_on a.cke_combo_button:hover,
.ipsApp .cke_combo_on a.cke_combo_button:focus,
.ipsApp .cke_combo_on a.cke_combo_button:active {
	box-shadow: none;
}

.ipsApp .ipsComposeArea_editor .ipsNotificationCount {
	top: 0px;
}

html[dir="ltr"] .ipsComposeArea_withPhoto .ipsComposeArea_editor {
	margin-left: 75px;
}
html[dir="rtl"] .ipsComposeArea_withPhoto .ipsComposeArea_editor {
	margin-right: 75px;
}

.ipsComposeArea_dummy {
	padding: 12px;
	background: rgb( var(--theme-area_background_reset) );
	color: rgb( var(--theme-text_light) );
	font-size: {fontsize="medium"};
	cursor: pointer;
}

.ipsComposeArea_dummy .ipsType_warning{
	display: block;
	line-height: 34px;
}

.ipsComposeArea_dummy i.ipsFlag {
	opacity: 0.5;
}

.ipsComposeArea .ipsToolList.ipsPad_half {
	padding-top: 12px;
}

.ipsApp .ipsComposeArea .ipsToolList .ipsComposeArea_formControl {
	margin-top: 11px;
}

.ipsComposeArea [data-ipsEditor] + [data-ipsEditor-toolList] {
	margin-top: 20px;
	margin-bottom: 0;
}

/* PREVIEW */
.ipsComposeArea_editor [data-role="previewToolbar"] {
	line-height: 1;
}

.ipsComposeArea_smallPreview {
	box-shadow: 0px 0px 7px rgba( var(--theme-text_dark), 0.12 );
}

.ipsComposeArea_editor [data-role="previewContainer"] {
	line-height: 1;
}

.ipsComposeArea_editor [data-action='closePreview'] {
	font-family: arial, sans-serif;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	line-height: 30px !important;
	font-size: 20px;
	background: #000;
	border: 0;
	color: #fff;
	display: block;
	text-align: center;
	margin-top: -12px;
	text-decoration: none;
}

/* PASTE BAR */
.ipsComposeArea_editorPaste {
	background: rgb( var(--theme-area_background_dark) );
	color: #fff;
	font-size: {fontsize="x_small"};
}

	.ipsComposeArea_editorPaste .ipsComposeArea_editorPasteSwitch {
		font-family: arial, sans-serif;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		line-height: 30px !important;
		font-size: 20px;
		background: #000;
		border: 0;
		color: #fff;
		display: block;
		text-align: center;
		margin-top: -6px;
		text-decoration: none;
	}

.ipsComposeArea_editorPaste a,
.ipsComposeArea_editorPaste a:hover {
	color: inherit;
}

/* Ensure notice bars are hidden whenever editor is minimized */
.ipsComposeArea_minimized .ipsComposeArea_editorPaste {
	display: none !important;
}

/* IMAGE DIALOG */
.ipsApp .ipsComposeArea_imageAlign .ipsButton{
	line-height: 2.5;
}

	.ipsComposeArea_imageAlign.ipsButton_split > li input[type="radio"] {
		position: absolute;
		opacity: 0.0001;
	}

.ipsComposeArea_imageDims {
	display: inline-block;
	position: relative;
}
	
	html[dir="ltr"] .ipsComposeArea_imageDims > input[type="number"] {
		padding-right: 80px;
	}
	html[dir="rtl"] .ipsComposeArea_imageDims > input[type="number"] {
		padding-left: 80px;
	}

	.ipsComposeArea_imageDims > span {
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	}

	html[dir="ltr"] .ipsComposeArea_imageDims > span {
		right: 8px;
	}
	html[dir="rtl"] .ipsComposeArea_imageDims > span {
		left: 8px;
	}

@media screen and (max-width: 767px) {
	.ipsApp .ipsComposeArea_imageDims > input[type="number"].ipsField_short {
		max-width: 160px;
	}
}

/* SIDEBAR */
.ipsComposeArea_sidebar [data-role="tagsList"] {
	padding: 5px;
	max-height: 300px;
	overflow: auto;
}

	.ipsComposeArea_sidebar [data-role="tagsList"] [data-tagKey] {
		cursor: pointer;
	}

.ipsComposeArea_sidebar [data-action='tagsToggle'] {
	display: inline-block;
	position: absolute;
	top: 6px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 20px;
	color: inherit;
	opacity: 0.4;
	transition: all 0.2s linear;
}
html[dir="ltr"] .ipsComposeArea_sidebar [data-action='tagsToggle'] {
	right: 6px;
}
html[dir="rtl"] .ipsComposeArea_sidebar [data-action='tagsToggle'] {
	left: 6px;
}

	.ipsComposeArea_sidebar [data-action='tagsToggle']:hover {
		opacity: 1;
	}

	.ipsComposeArea_sidebar [data-action='tagsToggle']:after {
		display: block;
		font-family: 'FontAwesome';
		position: absolute;
		top: 0;
		font-size: 16px;
	}
	html[dir="ltr"] .ipsComposeArea_sidebar [data-action='tagsToggle']:after {
		right: 0;
	}
	html[dir="rtl"] .ipsComposeArea_sidebar [data-action='tagsToggle']:after {
		left: 0;
	}

	.ipsComposeArea_sidebarOpen [data-action='tagsToggle']:after {
		content: '\f138';
	}
	html[dir="rtl"] .ipsComposeArea_sidebarOpen [data-action='tagsToggle']:after {
		content: '\f137';
	}
	.ipsComposeArea_sidebarClosed [data-action='tagsToggle']:after {
		content: '\f137';
	}
	html[dir="rtl"] .ipsComposeArea_sidebarClosed [data-action='tagsToggle']:after {
		content: '\f138';
	}

	.ipsComposeArea_sidebarClosed {
		width: 22px !important;
		background: rgb( var(--theme-area_background) ) !important;
	}

		.ipsComposeArea_sidebarClosed [data-role="tagsHeader"],
		.ipsComposeArea_sidebarClosed [data-role="tagsList"] {
			display: none;	
		}

.ipsComposeArea_attachments {
	background: rgb( var(--theme-area_background_reset) );
	border-radius: var(--radius-1);
}
	
	.ipsComposeArea_dropZone {
		padding: 12px;
		border: 2px dashed transparent;
		border-radius: var(--radius-1);
	}

	.ipsComposeArea_dropZone .fa-paperclip {
		font-size: 30px;
		float: left;
	}
	html[dir="rtl"] .ipsComposeArea_dropZone .fa-paperclip {
		float: right;
	}
	.ipsComposeArea_dropZone .fa-clipboard {
		font-size: 24px;
		float: left;
	}
	html[dir="rtl"] .ipsComposeArea_dropZone .fa-clipboard {
		float: right;
	}

	html[dir="ltr"] .ipsComposeArea_dropZone > div {
		margin-left: 40px;
	}
	html[dir="rtl"] .ipsComposeArea_dropZone > div {
		margin-right: 40px;
	}

	.ipsComposeArea_attachmentsInner {
		margin-top: 15px;
	}

		.ipsComposeArea_attachmentsInner > div {
			margin-bottom: 15px;
		}

	html[dir="ltr"] .ipsComposeArea_attachmentsInner > p {
		padding-left: 15px;
		padding-bottom: 0;
	}
	html[dir="rtl"] .ipsComposeArea_attachmentsInner > p {
		padding-right: 15px;
		padding-bottom: 0;
	}



/* Compose warnings */
.ipsComposeArea_warning {
	margin-bottom: 5px;
}

html[dir="ltr"] .ipsComposeArea_warning {
	margin-left: 75px;
}
html[dir="rtl"] .ipsComposeArea_warning {
	margin-right: 75px;
}

.ipsComposeArea_unavailable .ipsComposeArea_editor {
	/*background: rgba( var(--theme-area_background_light), 0.5 );
	border-color: rgba( var(--theme-area_background_light), 0.5 );*/
}
	
	.ipsComposeArea_unavailable .ipsComposeArea_dummy {
		font-weight: bold;
		font-size: {fontsize="small"};
		cursor: default;
	}

	.ipsComposeArea_unavailable .ipsUserPhoto {
		opacity: 0.5;
	}

/* ATTACHMENTS */
/*..ipsAttachLink.ipsAttachLink_image {
	display: inline-block;
	position: relative;
}

	ipsAttachLink.ipsAttachLink_image:after {
		position: absolute;
		content: "\f002";
		font-family: "FontAwesome";
		bottom: 5px;
		left: 5px;
		font-size: 14px;
		background: rgba(0,0,0,0.4);
		color: #fff;
		width: 26px;
		height: 26px;
		border-radius: 15px;
		line-height: 26px;
		text-align: center;
	}*/

[data-ipsUploader] {
	display: none; /* Hides when JS is disabled. JS will show it again */
}

/*.ipsAttachment_container {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 60px;
}

	.ipsAttachment_container .ipsColumns {
		height: 100%;
	}

	.ipsAttachment_container .ipsColumns > .ipsColumn, 
	.ipsAttachment_container .ipsColumns > .ipsColumn > div {
		overflow: auto;
		height: 100%;
	}
*/

.ipsAttachment_dropZone {
	height: 200px;
	background: rgb( var(--theme-area_background_light) );
	border-radius: var(--radius-1);
	text-align: center;
	margin: 0 auto;
	padding-top: 30px;
	font-size: {fontsize="base"};
	line-height: 2;
	border: 2px dashed transparent;
	transition: all 0.2s linear;
}

.ipsAttachment_dropZone * {
	pointer-events: none; /* This prevents dragleave from firing when dragging over elements in the drop zone */
}

	.ipsAttachment_dropZone a,
	.ipsAttachment_dropZone .moxie-shim,
	.ipsAttachment_dropZone .moxie-shim * {
		pointer-events: auto; /* Reinstate default events for button */
	}

	.ipsAttachment_dropZone:not( .ipsAttachment_dropZoneSmall ) > i:first-child {
		font-size: 60px;
		display: block;
	}

	.ipsAttachment_dropZone.ipsAttachment_dropZoneSmall {
		height: auto;
		padding: 15px;
		text-align: left;
		line-height: 1;
	}
	html[dir="rtl"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall {
		text-align: right;
	}

	html[dir="ltr"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall > .ipsAttachment_dropZoneSmall_info {
		margin-left: 130px;
	}
	html[dir="rtl"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall > .ipsAttachment_dropZoneSmall_info {
		margin-right: 130px;
	}

	html[dir="ltr"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall [data-action='uploadFile'],
	html[dir="ltr"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall [data-action='stockPhoto']{
		margin-right: 10px;
	}
	html[dir="rtl"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall [data-action='uploadFile'],
	html[dir="rtl"] .ipsAttachment_dropZone.ipsAttachment_dropZoneSmall [data-action='stockPhoto']{
		margin-left: 10px;
	}

	.ipsAttachment_dropZoneSmall .ipsAttachment_supportDrag {
		font-size: {fontsize="medium"};
	}

.ipsAttachment_dropZone.ipsDragging, .ipsComposeArea_dropZone.ipsDragging {
	background: transparent;
	border-color: rgb( var(--theme-active_input_border) );
	box-shadow: 0px 0px 0px 4px rgba( var(--theme-active_input_border), 0.3 );
}

.ipsAttachment_fileList {
	margin-top: 10px;
}

.ipsAttachment_summary {
	margin-top: 15px;
	height: 44px;
}

	.ipsAttachment_summary strong {
		display: inline-block;
		margin: 4px 0 0 7px;
		font-weight: normal;
	}
	html[dir="rtl"] .ipsAttachment_summary strong {
		margin: 4px 7px 0 0;
	}

.ipsAttach {
	position: relative;
}

.ipsAttach.ipsAttach_selected {
	background-color: rgb( var(--theme-selected) );
}

.ipsAttach_selection {
	width: 24px;
	height: 24px; 
	border-radius: 12px;
	display: inline-block;
	text-align: center;
	line-height: 24px;
	color: #fff !important;
	background: #000;
	opacity: 0.6;
}
	
	.ipsAttach_selection.ipsAttach_selectionOn {
		background: #2a94de;
		opacity: 1;
	}

/* IMAGE ATTACHMENTS */
.ipsImageAttach {
	display: inline-block;
	margin: 0 0 10px 0;
	text-align: left;
	position: relative;
}
html[dir="rtl"] .ipsImageAttach {
	text-align: right;
}

.ipsImageAttach_thumb {
	max-width: 100%;
	height: 150px;
	border: 1px solid rgba( var(--theme-text_color), 0.2 );
	background-color: rgb( var(--theme-area_background_reset) );
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	overflow: hidden;
}

	.ipsImageAttach_thumb img {
		max-width: 100%;
		max-height: 100%;
		border: 0;
		position: relative;
		display: none;
	}
	
	.ipsImageAttach_thumb video {
		width: 100%;
		height: 100%;
		background: #000;
	}

.ipsImageAttach_status {
	display: block;
	line-height: 125px;
	opacity: 0.5;
}

.ipsApp .ipsImageAttach_controls {
	position: absolute;
	bottom: 55px;
	left: 10px;
	right: 10px;
	padding: 5px;
	z-index: 100;
	opacity: 1;
	transition: 0.2s all linear;
}

	.ipsApp .ipsImageAttach_controls .ipsButton {
		line-height: 22px;
		padding: 0 10px;
	}

.ipsAttach .ipsAttach_title {
	max-width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	margin-top: 5px;
}

	.ipsAttach .ipsAttach_title + p {
		margin: 0;
	}

.ipsAttach.ipsDataItem .ipsDataItem_main,
.ipsAttach.ipsDataItem [data-role='preview'] {
	opacity: 0.5;
}

	.ipsAttach.ipsAttach_done.ipsDataItem .ipsDataItem_main,
	.ipsAttach.ipsAttach_done.ipsDataItem [data-role='preview'] {
		opacity: 1;
	}

	.ipsAttach.ipsDataItem .ipsDataItem_main{
		vertical-align: middle;
	}

.ipsAttach.ipsDataItem [data-role='preview'] {
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
}

	.ipsAttach.ipsDataItem [data-role='preview'] .ipsImage {
		display: none;
	}

.ipsAttach.ipsAttach_done [data-action="insertFile"] {
	cursor: pointer;
}

.ipsAttachment_fileList .ipsImageAttach_thumb {
	vertical-align: middle;
	line-height: 200px;
}

.ipsAttachment_fileList .ipsDataList .ipsImage {
	max-width: 50px;
}

/* EMOTICONS */
.ipsEmoticons_content.ipsMenu_innerContent {
	height: 350px;
	padding: 5px;
}

	.ipsEmoticons_contentLoading {
		margin-top: 100px;
	}

.ipsEmoticons_category {
	display: table;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.ipsEmoticons_row {
	display: table-row;
}

.ipsEmoticons_item {
	display: table-cell;
	padding: 5px;
	width: 12.5%;
	text-align: center;
	font-size: 1.5em;
}

.ipsEmoticons_item img {
	max-width: 100%;
}
	
	.ipsEmoticons_item:hover {
		cursor: pointer;
		background: rgb( var(--theme-area_background_light) );
	}
	
.ipsMenu_item .ipsEmoji_result {
	display: inline-block;
	padding-right: 10px;
	text-align: center;
}

/* Giphy */

.ipsGiphyImage{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.ipsGiphy_content {
	max-width: 100%;
	height: 400px;
}

.ipsGiphy_content .ipsLoading
{
	margin-top: 150px;
}

.ipsGiphy_row {
	text-align: center;
}

.ipsGiphy_thumb {
	width: 30%;
	display: inline-block;
	height: 100px;
	overflow: hidden;
	background: rgb( var(--theme-area_background_light) );
	padding: 6px;
	margin: 4px;
}

.ipsGiphy_attribution {
	float: right;
}
	.ipsGiphy_attribution img {
		max-width: 100px;
	}
	
.ipsGiphy_moar {
	margin: 10px auto 6px auto;
	text-align: center;
}

/* OTHER */

.cEditorURL {
	margin-bottom: 10px;
}

.cEditorURL + .ipsPos_right {
	margin-top: 5px;
}

.cImageURLPreview {
	height: 300px;
	text-align: center;
}

.cImageURLPreview img {
	max-width: 100%;
	max-height: 100%;
}

/* My Media */
.cMyMedia [data-role='status'] {
	/*display: none;*/
}

.cMyMedia [data-role="myMediaContent"] {
	overflow-y: auto;
	overflow-x: hidden;
}
html[dir="ltr"] .cMyMedia .ipsColumn [data-role="myMediaContent"] {
	padding-left: 0;
}
html[dir="rtl"] .cMyMedia .ipsColumn [data-role="myMediaContent"] {
	padding-right: 0;
}

html[dir="ltr"] .cMyMedia .ipsSideMenu {
	padding-right: 0;
}
html[dir="rtl"] .cMyMedia .ipsSideMenu {
	padding-left: 0;
}

.cMyMedia_controls {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}