/* Engagement: styles for various features that generall fall under user engagement */
/* ======================================================== */
/* LIKE & REP BUTTONS */

.ipsReact {
	position: relative;
	display: flex;
	align-items: center;
	font-size: {fontsize="x_small"};
	z-index: 1900;
}

	body.ipsApp_noTouch .ipsReact_types:hover .ipsReact_button,
	body:not( .ipsApp_noTouch ) .ipsReact_types.ipsReact_types_active .ipsReact_button {
		border: 1px solid rgba( var(--theme-text_color), 0.2 );
		background: rgb( var(--theme-area_background_light) );
		box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
		transform: scale(1.2);
		transition-delay: 0s;
	}

		body.ipsApp_noTouch .ipsReact_types:hover .ipsReact_button,
		body:not( .ipsApp_noTouch ) .ipsReact_types.ipsReact_types_active .ipsReact_button {
			filter: grayscale(0%) brightness(100%);
		}

	.ipsReact .ipsReact_types ul.ipsReact_hover {
		display: block;
		pointer-events: auto !important;
		animation: reaction-hover 0.3s ease-in-out forwards;
	}

	.ipsReact .ipsReact_types ul.ipsReact_hoverOut {
		display: block;
		animation: reaction-hover-out 0.2s ease-in-out 0.4s forwards;
	}

.ipsReact_button {
	width: 42px;
	height: 42px;
	border-radius: 42px;
	padding: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	border: 1px solid transparent;
	position: relative;
	transition: 0.1s all ease-in-out;
	transition-delay: 0.4s;
	position: relative;
	filter: grayscale(100%) brightness(160%);
}
	
	.ipsReact_button a {
		display: block;
		line-height: 1;
	}

	.ipsReact_button img {
		max-width: 29px;
		max-height: 29px;
		vertical-align: top;
	}

	.ipsReact_button.ipsReact_reacted {
		filter: grayscale(0%) brightness(100%);
	}

.ipsReact_types ul {
	position: absolute;
	top: 2px;
	height: 38px;
	background: rgb( var(--theme-area_background_dark) );
	border: 1px solid rgba( var(--theme-text_color), 0.1 );
	white-space: nowrap;
	display: none;
	pointer-events: none;
	/* see https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/104357/ and https://stackoverflow.com/questions/20356311/internet-explorer-11-ignores-list-stylenone-on-the-first-load */
	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	margin: 0;
}
	
	html[dir="ltr"] .ipsReact_types ul {
		transform-origin: right;
		right: 21px;
		padding: 5px 30px 5px 5px;
		border-radius: 38px 0 0 38px;
	}
	html[dir="rtl"] .ipsReact_types ul {
		transform-origin: left;
		left: 21px;
		padding: 5px 5px 5px 30px;
		border-radius: 0 38px 38px 0;
	}

	.ipsReact_types ul li {
		display: inline-block;
	}
		html[dir="ltr"] .ipsReact_types ul li {
			margin: 0 5px 0 0 !important;
		}
		html[dir="rtl"] .ipsReact_types ul li {
			margin: 0 0 0 5px !important;
		}

	.ipsReact_types ul img {
		max-width: 28px;
		max-height: 28px;
	}

	.ipsReact_types ul a {
		transition: 0.1s all ease-in-out;
		display: inline-block;
	}

		.ipsReact_types ul a:hover {
			transform: scale(1.25);
		}

.ipsReact_name {
	display: none;
}

a.ipsReact_reaction:after {
	position: absolute;
	top: 50%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	display: block;
	opacity: 1;
	pointer-events: none;
	box-shadow: inset 0 0 0 35px rgba( var(--theme-text_color), 0 );
}
	
	html[dir="ltr"] a.ipsReact_reaction:after {
		left: 50%;
		margin: -35px 0 0 -35px;
	}
	html[dir="rtl"] a.ipsReact_reaction:after {
		right: 50%;
		margin: -35px -35px 0 0;
	}

	a.ipsReact_reaction.ipsReact_active:after {
		animation: reaction-click-ring 0.8s ease-out forwards;
	}

	a.ipsReact_reaction.ipsReact_active img {
		animation: reaction-click 0.6s ease-out forwards;
	}	


.ipsReact_unreact {
	background: rgb( var(--theme-area_background_dark) );
	color: #fff !important;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	line-height: 20px;
	font-size: 14px;
	font-family: 'arial', sans-serif;
	text-align: center;
	display: block;
	position: absolute;
	top: 0px;
}
	html[dir="ltr"] .ipsReact_unreact {
		right: -6px;
	}
	html[dir="rtl"] .ipsReact_unreact {
		left: -6px;
	}

html[dir="ltr"] .ipsReact_blurb {
	text-align: right;
	margin-left: 15px;
}
html[dir="rtl"] .ipsReact_blurb {
	text-align: left;
	margin-right: 15px;
}

html[dir="ltr"] .ipsReact_blurb:not( .ipsHide ) + .ipsReact_types {
	border-left: 1px solid rgba( var(--theme-text_color), 0.1 );
	padding-left: 3px;
	margin-left: 10px;
}
html[dir="rtl"] .ipsReact_blurb:not( .ipsHide ) + .ipsReact_types {
	border-right: 1px solid rgba( var(--theme-text_color), 0.1 );
	padding-right: 3px;
	margin-right: 10px;
}

.ipsReact_reactions {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
}

.ipsReact_reactCount {
	display: inline;
	margin: 1px 0;
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
}

	.ipsReact_reactCount > a,
	.ipsReact_reactCount > span {
		border: 1px solid var(--form-field--borderColor);
		border-radius: 50px;
		background: rgb( var(--theme-area_background_reset) );
		background-clip: padding-box;
		border-radius: 50px;
	}

	.ipsReact_reactCount > a {
		white-space: nowrap;
	}

		.ipsReact_reactCount > a:hover {
			border-color: var(--form-field--borderHoverColor);
			box-shadow: var(--form-field--focusShadow);
		}

	html[dir="ltr"] .ipsReact_reactCount {
		margin-left: 7px;
	}
	html[dir="rtl"] .ipsReact_reactCount {
		margin-right: 7px;
	}

	html[dir="ltr"] .ipsReact_reactCount:first-child {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsReact_reactCount:first-child {
		margin-right: 0;
	}

	.ipsReact_reactCount img {
		max-width: 20px;
		max-height: 20px;
	}

		.ipsReact_reactCount > span > span,
		.ipsReact_reactCount > a > span {
			display: inline-block;
			padding: 3px 0 3px 4px;
		}

		.ipsReact_reactCount > span > span:last-child,
		.ipsReact_reactCount > a > span:last-child {
			color: rgb( var(--theme-text_dark) );
			font-size: {fontsize="x_small"};
			font-weight: 500;
			padding: 0 12px 0 6px;
			line-height: 26px;
		}

		html[dir="ltr"] .ipsReact_reactCount > span > span:last-child,
		html[dir="ltr"] .ipsReact_reactCount > a > span:last-child {
			margin-left: -2px;
		}
		html[dir="rtl"] .ipsReact_reactCount > span > span:last-child,
		html[dir="rtl"] .ipsReact_reactCount > a > span:last-child {
			margin-right: -2px;
		}

.ipsReact_reactCountOnly {
	padding: 0 7px;
	font-weight: bold;
	line-height: 24px;
	border-radius: 2px;
	font-size: {fontsize="x_small"};
	display: inline-block;
}

/* MINI REACTIONS */
.ipsReact.ipsReact_mini {
	line-height: 1;
	flex-direction: row-reverse;
}

.ipsReact.ipsReact_mini .ipsReact_overview {
	display: none;
}

.ipsReact.ipsReact_mini .ipsReact_button {
	width: 26px;
	height: 26px;
	line-height: 26px;
	border-radius: 26px;
	padding: 2px;
	display: inline-block;
}

	.ipsReact.ipsReact_mini .ipsReact_button img {
		max-width: 20px;
		max-height: 20px;
	}

html[dir] .ipsReact.ipsReact_mini .ipsReact_types ul {
	top: 0;
	height: 28px;
	border-radius: 27px;
}

	html[dir="ltr"] .ipsReact.ipsReact_mini .ipsReact_types ul {
		transform-origin: left;
		left: 0;
		right: auto;	
		padding: 2px 0 2px 38px;
	}
	html[dir="rtl"] .ipsReact.ipsReact_mini .ipsReact_types ul {
		transform-origin: right;
		left: auto;
		right: 0;	
		padding: 2px 38px 2px 0;
	}

	.ipsReact.ipsReact_mini .ipsReact_types ul img {
		max-width: 22px;
		max-height: 22px;
	}

.ipsReact.ipsReact_mini .ipsReact_reactCount a img {
	max-width: 15px;
	max-height: 15px;
}

html[dir="ltr"] .ipsReact.ipsReact_mini .ipsReact_blurb {
	margin-left: 0;
	border: 0;
	padding: 1px 0 0 7px;
	margin-left: 7px;
}
html[dir="rtl"] .ipsReact.ipsReact_mini .ipsReact_blurb {
	margin-right: 0;
	border: 0;
	padding: 1px 7px 0 0;
	margin-right: 7px;
}

	html[dir] .ipsReact.ipsReact_miniNoInteraction .ipsReact_blurb {
		padding: 0;
		margin-left: 0;
		margin-right: 0;
	}

html[dir] .ipsReact.ipsReact_mini .ipsReact_unreact {
	display: inline-block;
	position: absolute;
	top: -8px;
}

	html[dir="ltr"] .ipsReact.ipsReact_mini .ipsReact_unreact {
		right: -8px;
	}
	html[dir="rtl"] .ipsReact.ipsReact_mini .ipsReact_unreact {
		left: -8px;
	}

.ipsReact_reactCountOnly_mini {
	line-height: 18px;
	font-size: {fontsize="10"};
}

html[dir="ltr"] .ipsReact_count {
	margin-left: 5px;
}
html[dir="rtl"] .ipsReact_count {
	margin-right: 5px;
}

.ipsReactOverview {
	text-align: center;
}

.ipsReactOverview ul {
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

	.ipsReactOverview ul + span.ipsType_medium {
		vertical-align: middle;
	}

	.ipsReactOverview ul img {
		max-width: 28px;
		max-height: 28px;
		border: 2px solid #fff;
		border-radius: 28px;
	}

		.ipsReactOverview_small ul img {
			max-width: 24px;
			max-height: 24px;
		}

	html[dir="ltr"] .ipsReactOverview ul li {
		margin-right: -10px !important;
		border-radius: 28px;
	}
		html[dir="ltr"] .ipsReactOverview ul li:first-child {
			margin-right: 0 !important;
		}
	
	html[dir="rtl"] .ipsReactOverview ul li {
		margin-left: -10px !important;
		border-radius: 28px;
	}
		html[dir="rtl"] .ipsReactOverview ul li:first-child {
			margin-left: 0 !important;
		}

.ipsReactOverview p {
	display: block;
    margin-top: 5px;
    font-size: {fontsize="x_small"};
    text-transform: uppercase;
    opacity: 0.5;
}

html[dir="ltr"] .ipsReactOverview_small li.ipsReactOverview_repCount {
	margin-left: 15px;
	line-height: 24px;
}
html[dir="rtl"] .ipsReactOverview_small li.ipsReactOverview_repCount {
	margin-right: 15px;
	line-height: 24px;
}
	
/* REACTION ANIMATION DEFINITIONS */
@keyframes reaction-click-ring {
	0% {
		opacity: 1;
		transform: scale3d(0.4, 0.4, 1);
	}
	40% {
		box-shadow: inset 0 0 0 2px rgba( var(--theme-text_color), 0.8 );
		transform: scale3d(1, 1, 1);
		opacity: 0.8;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba( var(--theme-text_color), 0.8 );
		opacity: 0;
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes reaction-click {
	0% {
		opacity: 0;
		transform: scale3d(0.1, 0.1, 1);
	}
	30% {
		transform: scale3d(1.3, 1.3, 1);
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes reaction-hover {
	0% {
		opacity: 0;
		transform: scale3d(0, 1, 1);
	}
	50% {
		transform: scale3d(1.2, 1, 1);
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes reaction-hover-mobile {
	0% {
		opacity: 0;
		transform: scale3d(1, 0, 1);
	}
	50% {
		transform: scale3d(1, 1.2, 1);
		opacity: 1;
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@keyframes reaction-hover-out {
	0% {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
	60% {
		transform: scale3d(0, 0.5, 1);
	}
	100% {
		opacity: 0;
	}
}

.ipsReputation_count {
	background: #fff;
	display: inline-block;
	position: relative;
	font-size: {fontsize="small"};
	font-weight: bold;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,0.1);
}
		
	.ipsRep_mini .ipsReputation_count {
		font-weight: normal;
	}
	
	.ipsReputation_count.ipsType_positive {
		background: var(--positive-light);
	}

	.ipsReputation_count.ipsType_negative {
		background: var(--negative-light);
	}

.ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count {
	font-size: {fontsize="x_small"};
	line-height: 20px;
}
html[dir="ltr"] .ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count {
	margin-left: 10px;
}
html[dir="rtl"] .ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count {
	margin-right: 10px;
}

.ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count:before {
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.1);
	top: 0;
}
html[dir="ltr"] .ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count:before {
	left: -8px;
}
html[dir="rtl"] .ipsLikeRep [data-action="giveReputation"] + .ipsReputation_count:before {
	right: -8px;
}

/* ======================================================== */
/* MINI LIKE/REP */
.ipsRep_mini .ipsLikeRep {
	background: transparent;
	border-radius: 0;
	padding: 0;
}

	.ipsLikeRep:before {
		display: none;
	}

.ipsRep_mini .ipsReputation_count {
	background: transparent;
	border-radius: 0;
	border: 0;
	padding: 0;
}

.ipsRep_mini .ipsButton.ipsButton_rep, .ipsReputation_count {
	line-height: 18px;
}

/* ======================================================== */
/* FOLLOW/LIKE */
.ipsApp .ipsFollow {
	display: inline-flex;
	vertical-align: middle;
	white-space: nowrap;
	padding: 0;
}

	.ipsApp .ipsButton_link.ipsFollow:hover {
		cursor: default;
	}

	.ipsFollow > :first-child{
		padding: 0 18px;
	}

	.ipsFollow .ipsCommentCount {
		margin: 0 4px !important;
		background: transparent;
		color: rgb( var(--theme-text_color) );
		text-shadow: none !important;
		line-height: 24px;
		padding: 0 8px;
		font-size: {fontsize="10"};
		align-self: center;
		border-radius: inherit;
		font-weight: bold;
		z-index: 1;
	}

		.ipsFollow .ipsCommentCount::before{
			content: '';
			position: absolute; top: 0; left: 0; right: 0; bottom: 0;
			border-radius: inherit;
			background: rgb( var(--theme-area_background_reset) );
			z-index: -1;
		}
		
.ipsFollowerList {
	max-height: 300px;
	overflow: auto;
}

/* ======================================================== */
/* RATINGS */
.ipsRating {
	font-size: 14px;
	line-height: 1;
	display: inline-block;
	cursor: default;
}
	
	.ipsRating > ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

		.ipsRating > ul > li {
			display: inline-block;
		}

	html[dir="ltr"] .ipsRating > ul > li,
	html[dir="ltr"] .ipsList_inline.ipsRating > li {
		margin-right: -2px; /* Where a rating is using UL (as with reviews), reset margin */
	}
	html[dir="rtl"] .ipsRating > ul > li,
	html[dir="rtl"] .ipsList_inline.ipsRating > li {
		margin-left: -2px;
	}

	/* Sizes */
	.ipsRating.ipsRating_small {
		font-size: 11px;
	}

	.ipsRating.ipsRating_large {
		font-size: 16px;
	}

	.ipsRating.ipsRating_veryLarge {
		font-size: 20px;
	}

	.ipsRating + span {
		margin-left: 10px;
	}

	.ipsRating + span:empty {
		margin-left: 0;
	}

/* Hover stuff for own ratings */
.ipsRating.ipsRating_rated .ipsRating_collective,
.ipsRating.ipsRating_rated:hover .ipsRating_mine {
	display: none;
}

	.ipsRating.ipsRating_rated:hover .ipsRating_collective {
		display: inline-block;
	}

/* Specific to the widget version */
html[dir="ltr"] [data-ipsRating] > .ipsRating {
	float: left;
}
html[dir="rtl"] [data-ipsRating] > .ipsRating {
	float: right;
}

html[dir="ltr"] [data-ipsRating] > .ipsRating > ul > li {
	padding-right: 3px;
	float: left;
}
html[dir="rtl"] [data-ipsRating] > .ipsRating > ul > li {
	padding-left: 3px;
	float: right;
}
.ipsRating > ul > li > i.fa {
	width: auto !important;
}

.ipsRating.ipsRating_loading {
	opacity: 0.6;
}

/* COLORS */
.ipsRating .ipsRating_on .fa-star {
	color: rgb( var(--theme-rating_on) );
}

	.ipsRating .ipsRating_mine .ipsRating_on .fa-star {
		color: rgb( var(--theme-brand_primary) );
	}

.ipsRating .ipsRating_half .fa-star-half.fa-flip-horizontal {
	color: rgb( var(--theme-text_light) );
	opacity: 0.4;
	margin-left: -1px;
}
.ipsRating .ipsRating_half .fa-star-half:not(.fa-flip-horizontal) {
	color: rgb( var(--theme-rating_on) );
	margin-right: -1px;
}

.ipsRating .ipsRating_off .fa-star-o,
.ipsRating .ipsRating_off .fa-star {
	color: rgb( var(--theme-text_light) );
	opacity: 0.4;
}

.ipsRating .ipsRating_hover .fa-star {
	color: rgb( var(--theme-brand_primary) );
	transition: all 0.1s linear;
	transform: scale(1.2);
}

/* ======================================================== */
/* SHARE LINKS */
.ipsShare_facebook {
	border:none;
	overflow:hidden;
	height:20px;
	width: 48px;
}

/* ======================================================== */
/* PIP PIP */
.ipsPip {
	font-size: 10px;
	color: rgb( var(--theme-text_color) );
	display: inline-block;
}
html[dir="ltr"] .ipsPip {
	margin-right: 2px;
}
html[dir="rtl"] .ipsPip {
	margin-left: 2px;
}

	.ipsPip:before {
		content: '\f111';
		font-family: 'FontAwesome';
	}

/* ====================================================== */
/* LEADERBOARD */
.ipsLeaderboard_trophy {
	color: #ffffff;
	font-size: {fontsize="2x_large"};
	padding-top: 7px;
	padding-left: 1px;
	width: 40px;
	height: 40px;
	border-radius: 38px;
	position: relative;
	display: inline-block;
	text-align: center;
}

	.ipsLeaderboard_trophy:before,
	.ipsLeaderboard_trophy:after {
		content: '';
		display: block;
		width: 12px;
		height: 30px;
		position: absolute;
		top: 24px;
	}

		.ipsLeaderboard_trophy:before {
			transform: rotate(50deg) skew(15deg);
			left: 9px;
		}
		.ipsLeaderboard_trophy:after {
			transform: rotate(-50deg) skew(-15deg);
			right: 9px;
		}

	.ipsLeaderboard_trophy .fa {
		position: relative;
		z-index: 100;
	}

.ipsLeaderboard_trophy_1,
.ipsLeaderboard_trophy_1.ipsLeaderboard_trophy:before,
.ipsLeaderboard_trophy_1.ipsLeaderboard_trophy:after {
	background-color: var(--trophy-first--background);
}

.ipsLeaderboard_trophy_2,
.ipsLeaderboard_trophy_2.ipsLeaderboard_trophy:before,
.ipsLeaderboard_trophy_2.ipsLeaderboard_trophy:after {
	background-color: var(--trophy-second--background);
}

.ipsLeaderboard_trophy_3,
.ipsLeaderboard_trophy_3.ipsLeaderboard_trophy:before,
.ipsLeaderboard_trophy_3.ipsLeaderboard_trophy:after {
	background-color: var(--trophy-third--background);
}

.ipsLeaderboard_trophy_4 {
	display: none;
}