.ipsApp select {
	border: 1px solid var(--form-field--borderColor);
	border-radius: var(--form-field--radius);
	color: inherit;
	padding: 5px;
	background: rgb( var(--theme-area_background_reset) );
}
	
	.ipsApp select::-ms-expand {
		display: none;
	}

	.ipsApp select:not( [multiple] ) {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-image: url( "{resource="select_dropdown.png" app="core" location="global"}" );
		background-position: right center;
		background-size: 18px 9px;
		background-repeat: no-repeat;
		cursor: pointer;
		padding: 9px;
		/* Workaround for firefox */
		text-indent: 0.01px;
	}

		/* Remove the default outline style as it's created using a box-shadow */
		.ipsApp select:focus{
			outline: none;
		}

		.ipsApp select:not( [multiple] ):focus {
			box-shadow: var(--form-field--focusShadow);
			border-color: var(--form-field--focusBorder, rgb( var(--theme-active_input_border) ));
		}

	html[dir="ltr"] .ipsApp select:not( [multiple] ) {
		padding-right: 30px;
	}

	html[dir="rtl"] .ipsApp select:not( [multiple] ) {
		background-position: left 10px center;
		padding-left: 30px;
	}

	.ipsApp select[disabled] {
		opacity: 0.6;
		pointer-events: none;
	}

ul.ipsForm, ol.ipsForm {
	list-style: none;
	padding: 0;
	margin: 0;
}

.ipsForm[data-role="advancedSearch"] {
	margin-top: 15px;
	padding-bottom: 15px;
}

.ipsFieldRow:not( :last-child ) {
	margin-bottom: 15px;
}

	.ipsFieldRow_noLabel > label,
	.ipsFieldRow_noLabel > .ipsFieldRow_content > label {
		display: none;
	}

.ipsFieldRow_searchResult {
	background-color: #f2e6d4;
	border: 1px solid #d1aa6e;
}

	.ipsFieldRow.ipsFieldRow_searchResult .ipsFieldRow_desc {
		color: #ad884e;
	}

/* CHECKBOX FIELDS */
/* For single checkboxes, and inline checkboxes */
.ipsFieldRow_checkbox {
	margin-bottom: 5px;
}
	
	.ipsFieldRow_checkbox + .ipsFieldRow:not( .ipsFieldRow_checkbox ) {
		margin-top: 15px;
	}

	.ipsFieldRow_checkbox input[type="checkbox"],
	.ipsFieldRow_checkbox input[type="radio"],
	.ipsFieldRow_checkbox .ipsCustomInput {
		float: left;
		margin-top: 3px;
	}
	html[dir="rtl"] .ipsFieldRow_checkbox input[type="checkbox"],
	html[dir="rtl"] .ipsFieldRow_checkbox input[type="radio"],
	html[dir="rtl"] .ipsFieldRow_checkbox .ipsCustomInput {
		float: right;
	}

	html[dir="ltr"] .ipsFieldRow_checkbox .ipsFieldRow_content {
		margin-left: 24px;
	}
	html[dir="rtl"] .ipsFieldRow_checkbox .ipsFieldRow_content {
		margin-right: 24px;
	}

	.ipsFieldRow_checkbox label {
		display: block;
	}

	.ipsFieldRow_inlineCheckbox {
		margin-top: 6px;
		display: inline-block;
		position: relative;
	}
	.ipsFieldRow_inlineCheckbox_reducedMargins {
		margin-top: 0px;
		margin-bottom: 2px !important;
	}
	html[dir="ltr"] .ipsFieldRow_inlineCheckbox {
		margin-right: 15px;
	}
	html[dir="rtl"] .ipsFieldRow_inlineCheckbox {
		margin-left: 15px;
	}

		html[dir="ltr"] .ipsFieldRow_inlineCheckbox .ipsCustomInput,
		html[dir="ltr"] .ipsToggle {
			margin-right: 3px;
		}
		html[dir="rtl"] .ipsFieldRow_inlineCheckbox .ipsCustomInput,
		html[dir="rtl"] .ipsToggle {
			margin-left: 3px;
		}

/* FIELD LISTS (for stacks of radios/checkboxes) */
.ipsField_fieldList {
	list-style: none;
	margin: 0;
	padding: 7px 0 0 0;
}

.ipsField_fieldList > li {
	margin-bottom: 10px;
}

	.ipsField_fieldList > li:last-child {
		margin-bottom: 0px;
	}

.ipsField_fieldList input[type="radio"], .ipsField_fieldList input[type="checkbox"],
.ipsField_fieldList .ipsCustomInput {
	float: left;
	margin-top: 2px;
}
html[dir="rtl"] .ipsField_fieldList input[type="radio"],
html[dir="rtl"] .ipsField_fieldList input[type="checkbox"],
html[dir="rtl"] .ipsField_fieldList .ipsCustomInput {
	float: right;
}

html[dir="ltr"] .ipsField_fieldList_content {
	margin-left: 24px;
}
html[dir="rtl"] .ipsField_fieldList_content {
	margin-right: 24px;
}

/* FULL WIDTH FIELDS */
.ipsApp .ipsFieldRow_fullWidth input[type="text"],
.ipsApp .ipsForm_fullWidth .ipsFieldRow input[type="text"],
.ipsApp .ipsFieldRow_fullWidth input[type="email"],
.ipsApp .ipsForm_fullWidth .ipsFieldRow input[type="email"],
.ipsApp .ipsFieldRow_fullWidth input[type="password"], 
.ipsApp .ipsForm_fullWidth .ipsFieldRow input[type="password"], 
.ipsApp .ipsFieldRow_fullWidth input[type="submit"], 
.ipsApp .ipsForm_fullWidth .ipsFieldRow input[type="submit"], 
.ipsApp .ipsFieldRow_fullWidth select, 
.ipsApp .ipsForm_fullWidth .ipsFieldRow select, 
.ipsApp .ipsFieldRow_fullWidth button,
.ipsApp .ipsForm_fullWidth .ipsFieldRow button, 
.ipsApp .ipsFieldRow_fullWidth textarea,
.ipsApp .ipsForm_fullWidth .ipsFieldRow textarea,
.ipsApp .ipsFieldRow_fullWidth .ipsField_autocomplete,
.ipsApp .ipsForm_fullWidth .ipsFieldRow .ipsField_autocomplete,
.ipsApp .ipsFieldRow_fullWidth .ipsSelectTree,
.ipsApp .ipsForm_fullWidth .ipsFieldRow .ipsSelectTree,
.ipsApp input.ipsField_fullWidth, .ipsApp textarea.ipsField_fullWidth,
.ipsApp .ipsField_autocomplete.ipsField_fullWidth, .ipsApp select.ipsField_fullWidth,
.ipsApp .ipsSelectTree.ipsField_fullWidth,
.ipsApp .ipsField_dummy.ipsField_fullWidth {
	width: 100%;
	max-width: 100% !important;
}

/* FORM TYPOGRAPHY */
.ipsFieldRow_desc {
	font-size: {fontsize="x_small"};
	color: rgb( var(--theme-text_light) );
	margin-top: 3px;
	display: inline-block;
}

.ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_label,
.ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_title {
	font-size: {fontsize="medium"};
	font-weight: 600;
	margin-bottom: 5px;
	display: inline-block;
	padding-top: 5px;
}

.ipsFieldRow.ipsFieldRow_yesNo .ipsFieldRow_label,
.ipsFieldRow.ipsFieldRow_yesNo .ipsFieldRow_title {
	padding-top: 0;
}

.ipsApp .ipsField_primary,
.ipsApp .ipsField_primary.ipsField_autocomplete input,
.ipsApp .ipsFieldRow_primary input {
	font-size: {fontsize="large"};
}

.ipsApp .ipsFieldRow_primary .ipsField_autocomplete,
.ipsApp .ipsFieldRow_primary textarea,
.ipsApp .ipsFieldRow_primary input[type="text"],
.ipsApp .ipsFieldRow_primary input[type="password"],
.ipsApp .ipsFieldRow_primary input[type="datetime"],
.ipsApp .ipsFieldRow_primary input[type="datetime-local"],
.ipsApp .ipsFieldRow_primary input[type="date"],
.ipsApp .ipsFieldRow_primary input[type="month"],
.ipsApp .ipsFieldRow_primary input[type="time"],
.ipsApp .ipsFieldRow_primary input[type="week"],
.ipsApp .ipsFieldRow_primary input[type="number"],
.ipsApp .ipsFieldRow_primary input[type="email"],
.ipsApp .ipsFieldRow_primary input[type="url"],
.ipsApp .ipsFieldRow_primary input[type="search"],
.ipsApp .ipsFieldRow_primary input[type="tel"],
.ipsApp .ipsFieldRow_primary .ipsField_dummy {
	padding: 12px;
}

.ipsFieldRow_required {
	font-size: {fontsize="10"};
	text-transform: uppercase;
	color: #AA1414;
	font-weight: 500;
}
html[dir="ltr"] .ipsFieldRow_label span:first-child:not( :empty ) + .ipsFieldRow_required {
	margin-left: 10px;
}
html[dir="rtl"] .ipsFieldRow_label span:first-child:not( :empty ) + .ipsFieldRow_required {
	margin-right: 10px;
}

/* HORIZONTAL FORMS */
/* i.e. titles beside fields */

.ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label,
.ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {
	width: 185px;
	line-height: 1.3;
	font-size: {fontsize="medium"};
	font-weight: 600;
}
html[dir="ltr"] .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label,
html[dir="ltr"] .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {
	float: left;
	padding-right: 15px;
	text-align: right;
}
html[dir="rtl"] .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label,
html[dir="rtl"] .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {
	float: right;
	padding-left: 15px;
	text-align: left;
}

.ipsForm.ipsForm_horizontal .ipsFieldRow.ipsFieldRow_shortTitle > .ipsFieldRow_title {
	width: 85px;
}

html[dir="ltr"] .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-left: 185px;
}
html[dir="ltr"] .ipsForm_horizontal .ipsFieldRow.ipsFieldRow_shortTitle:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-left: 95px;
}
html[dir="ltr"] .ipsForm_horizontal .ipsFieldRow_checkbox {
	margin-left: 185px;
}
html[dir="rtl"] .ipsForm_horizontal .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-right: 185px;
}
html[dir="rtl"] .ipsForm_horizontal .ipsFieldRow.ipsFieldRow_shortTitle:not( .ipsFieldRow_checkbox ) .ipsFieldRow_content {
	margin-right: 95px;
}
html[dir="rtl"] .ipsForm_horizontal .ipsFieldRow_checkbox {
	margin-right: 185px;
}

.ipsForm_horizontal .ipsFieldRow_required {
	font-size: 0;
	margin: 0;
}

	.ipsForm_horizontal .ipsFieldRow_required:before {
		content: '*';
		display: inline;
		color: #c02222;
		font-size: 16px;
	}

.ipsForm_horizontal .ipsFieldRow_textValue .ipsFieldRow_content {
	padding-top: 7px;
}

.ipsForm_horizontal .ipsFieldRow_content .ipsRating {
	margin-top: 3px;
}

/* VERTICAL FORMS */
/* i.e. titles above fields; overwrites horizontal rules */
.ipsForm_vertical .ipsFieldRow > .ipsFieldRow_label,
.ipsForm_vertical .ipsFieldRow > .ipsFieldRow_title {
	float: none !important;
	width: 100%;
	text-align: left;
}
html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_label,
html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_title {
	text-align: right;
}

html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ),
html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_label,
html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_content,
html[dir="rtl"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_title {
	margin-right: 0px;
}

html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ),
html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_label,
html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_content,
html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_title {
	margin-left: 0px !important;
}

html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_label,
html[dir="ltr"] .ipsForm_vertical .ipsFieldRow:not( .ipsFieldRow_checkbox ) > .ipsFieldRow_title {
	text-align: left;
}	


/* FIELD GROUPS */
.ipsForm_group {
	margin-bottom: 15px;
	padding-top: 15px;
	border: 0;
	border-bottom: 1px solid rgba( var(--theme-text_color), 0.2 );
}
	
	.ipsForm_group > .ipsForm_groupTitle {
		float: left;
		font-size: {fontsize="base"};
		font-weight: 500;
		margin: 0;
	}
	html[dir="rtl"] .ipsForm_group > .ipsForm_groupTitle {
		float: right;
	}

	.ipsForm_group > .ipsForm_groupContent {
		list-style: none;
	}
	html[dir="ltr"] .ipsForm_group > .ipsForm_groupContent {
		margin: 0 0 0 175px;
		padding: 0 0 0 15px;
		border-left: 1px solid rgba( var(--theme-text_color), 0.2 );
	}
	html[dir="rtl"] .ipsForm_group > .ipsForm_groupContent {
		margin: 0 175px 0 0;
		padding: 0 15px 0 0 ;
		border-right: 1px solid rgba( var(--theme-text_color), 0.2 );
	}

.ipsForm .ipsForm_group:last-child {
	border-bottom: 0;
}

/* ELEMENT STYLES */
.ipsApp label:not( .ipsField_unlimited ), .ipsApp input, .ipsApp button, .ipsApp select, .ipsApp textarea {
	font-size: inherit;
	font-family: inherit;
	vertical-align: middle;
	line-height: inherit;
}

.ipsApp .ipsField_dummy {
	height: 32px;
}

.ipsApp .ipsField_autocomplete {
	position: relative;
	outline: 0;
	display: inline-block;
}
html[dir="ltr"] .ipsApp .ipsField_autocomplete {
	padding-right: 35px;
}
html[dir="rtl"] .ipsApp .ipsField_autocomplete {
	padding-left: 35px;
}
	.ipsApp .ipsField_autocomplete input[type="text"] {
		border: 0;
		border-radius: 0px;
		padding: 0;
		background: transparent;
		width: 20px;
		max-width: 100%;
		box-shadow: none;
	}

		.ipsApp .ipsField_autocomplete input[type="text"]:focus {
			outline: 0;
			box-shadow: none;
		}

	.ipsApp .ipsField_autocomplete.ipsField_autocompleteDisabled {
		pointer-events: none;
	}
		
		.ipsApp .ipsField_autocomplete.ipsField_autocompleteDisabled .cToken {
			opacity: 0.6;
		}

	html[dir="ltr"] .ipsApp .ipsField_autocomplete_loading {
		position: absolute;
		right: 10px;
	}
	html[dir="rtl"] .ipsApp .ipsField_autocomplete_loading {
		position: absolute;
		left: 10px;
	}

	.ipsApp .ipsField_autocomplete [data-action='addToken'] {
		font-size: {fontsize="small"};
		color: rgb( var(--theme-brand_primary) )
	}

.ipsApp input[type="color"] {
	min-width: 50px;
}

.ipsApp .ipsField_autocomplete, .ipsApp textarea, .ipsApp input[type="text"], .ipsApp input[type="password"],
.ipsApp input[type="datetime"], .ipsApp input[type="datetime-local"], .ipsApp input[type="date"],
.ipsApp input[type="month"], .ipsApp input[type="time"], .ipsApp input[type="week"], 
.ipsApp input[type="number"], .ipsApp input[type="email"], .ipsApp input[type="url"],
.ipsApp input[type="search"], .ipsApp input[type="tel"], .ipsApp .ipsField_dummy {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
 	background-color: rgb( var(--theme-area_background_reset) );
 	border: 1px solid var(--form-field--borderColor);
	border-radius: var(--form-field--radius);
	width: 100%;
	max-width: 350px;
	padding: var(--sp-2);
	color: inherit;
}

/* Fix iOS issue with collapsing fields */
.ipsApp input[type="datetime"], .ipsApp input[type="datetime-local"], .ipsApp input[type="date"],
.ipsApp input[type="month"], .ipsApp input[type="time"], .ipsApp input[type="week"] {
	min-height: 44px;
}

.CodeMirror {
	border: 1px solid var(--form-field--borderColor);
	border-radius: var(--form-field--radius);
	cursor: text;
}

html[dir="rtl"] .CodeMirror {
	direction: ltr;
}

.ipsApp textarea.ipsField_short, .ipsApp input[type="text"].ipsField_short, .ipsApp input[type="password"].ipsField_short,
.ipsApp input[type="datetime"].ipsField_short, .ipsApp input[type="datetime-local"].ipsField_short, .ipsApp input[type="date"].ipsField_short,
.ipsApp input[type="month"].ipsField_short, .ipsApp input[type="time"].ipsField_short, .ipsApp input[type="week"].ipsField_short, 
.ipsApp input[type="number"].ipsField_short, .ipsApp input[type="email"].ipsField_short, .ipsApp input[type="url"].ipsField_short,
.ipsApp input[type="search"].ipsField_short, .ipsApp input[type="tel"].ipsField_short, .ipsApp input[type="color"].ipsField_short, .ipsApp select.ipsField_short {
	width: 200px;
	max-width: 200px;
}

.ipsApp textarea.ipsField_medium, .ipsApp input[type="text"].ipsField_medium, .ipsApp input[type="password"].ipsField_medium,
.ipsApp input[type="datetime"].ipsField_medium, .ipsApp input[type="datetime-local"].ipsField_medium, .ipsApp input[type="date"].ipsField_medium,
.ipsApp input[type="month"].ipsField_medium, .ipsApp input[type="time"].ipsField_medium, .ipsApp input[type="week"].ipsField_medium, 
.ipsApp input[type="number"].ipsField_medium, .ipsApp input[type="email"].ipsField_medium, .ipsApp input[type="url"].ipsField_medium,
.ipsApp input[type="search"].ipsField_medium, .ipsApp input[type="tel"].ipsField_medium, .ipsApp input[type="color"].ipsField_medium, .ipsApp select.ipsField_medium {
	width: 270px;
	max-width: 270px;
}

.ipsApp textarea.ipsField_tiny, .ipsApp input[type="text"].ipsField_tiny, .ipsApp input[type="password"].ipsField_tiny,
.ipsApp input[type="datetime"].ipsField_tiny, .ipsApp input[type="datetime-local"].ipsField_tiny, .ipsApp input[type="date"].ipsField_tiny,
.ipsApp input[type="month"].ipsField_tiny, .ipsApp input[type="time"].ipsField_tiny, .ipsApp input[type="week"].ipsField_tiny, 
.ipsApp input[type="number"].ipsField_tiny, .ipsApp input[type="email"].ipsField_tiny, .ipsApp input[type="url"].ipsField_tiny,
.ipsApp input[type="search"].ipsField_tiny, .ipsApp input[type="tel"].ipsField_tiny, .ipsApp input[type="color"].ipsField_tiny, .ipsApp select.ipsField_tiny {
	width: 60px;
	max-width: 60px;
}

	.ipsApp select.ipsField_short, .ipsApp select.ipsField_medium, .ipsApp select.ipsField_tiny {
		text-overflow: ellipsis;
	}

.ipsApp textarea:hover, .ipsApp input[type="text"]:hover, .ipsApp input[type="password"]:hover,
.ipsApp input[type="datetime"]:hover, .ipsApp input[type="datetime-local"]:hover,
.ipsApp input[type="date"]:hover, .ipsApp input[type="month"]:hover, .ipsApp input[type="time"]:hover,
.ipsApp input[type="week"]:hover, .ipsApp input[type="number"]:hover, .ipsApp input[type="email"]:hover,
.ipsApp input[type="url"]:hover, .ipsApp input[type="search"]:hover, .ipsApp input[type="tel"]:hover,
.ipsApp input[type="color"]:hover {
	border-color: var(--form-field--borderHoverColor);
}

.ipsApp textarea:focus, .ipsApp input[type="text"]:focus, .ipsApp input[type="password"]:focus,
.ipsApp input[type="datetime"]:focus, .ipsApp input[type="datetime-local"]:focus,
.ipsApp input[type="date"]:focus, .ipsApp input[type="month"]:focus, .ipsApp input[type="time"]:focus,
.ipsApp input[type="week"]:focus, .ipsApp input[type="number"]:focus, .ipsApp input[type="email"]:focus,
.ipsApp input[type="url"]:focus, .ipsApp input[type="search"]:focus, .ipsApp input[type="tel"]:focus,
.ipsApp input[type="color"]:focus {
	box-shadow: var(--form-field--focusShadow);
	border-color: var(--form-field--focusBorder, rgb( var(--theme-active_input_border) ));
	outline: 0;
}

.ipsApp textarea[disabled], .ipsApp input[type="text"][disabled], .ipsApp input[type="password"][disabled],
.ipsApp input[type="datetime"][disabled], .ipsApp input[type="datetime-local"][disabled],
.ipsApp input[type="date"][disabled], .ipsApp input[type="month"][disabled], .ipsApp input[type="time"][disabled],
.ipsApp input[type="week"][disabled], .ipsApp input[type="number"][disabled], .ipsApp input[type="email"][disabled],
.ipsApp input[type="url"][disabled], .ipsApp input[type="search"][disabled], .ipsApp input[type="tel"][disabled],
.ipsApp input[type="color"][disabled] {
	background: rgb( var(--theme-area_background_light) );
	opacity: 0.7;
}

/* Fix for textarea word wrap in Edge */
.ipsApp textarea {
	white-space: pre-wrap;
}

.ipsApp .ipsToggle:focus,
.ipsApp .ipsCustomInput input:focus + span {
	border-color: var(--form-field--focusBorder, rgb( var(--theme-active_input_border) ));
	outline: 0;
	box-shadow: var(--form-field--focusShadow);
}

.ipsFieldRow_content [data-role="prefixRow"] {
	margin-top: 5px;
}

.ipsApp textarea:not([data-ipsAutocomplete]) {
	height: auto;
	max-width: 100%;
}

.ipsFieldRow .ipsFieldRow_icon {
	position: relative;
}

	html[dir="ltr"] .ipsFieldRow .ipsFieldRow_icon input[type="text"] {
		padding-left: 35px;
	}
	html[dir="rtl"] .ipsFieldRow .ipsFieldRow_icon input[type="text"] {
		padding-right: 35px;
	}

	.ipsFieldRow .ipsFieldRow_icon:after {
		font-family: 'FontAwesome';
		font-size: 16px;
		position: absolute;
		top: 3px;
		color: rgb( var(--theme-text_light) );
		display: inline-block;
		width: 30px;
		height: 30px;
	}
	html[dir="ltr"] .ipsFieldRow .ipsFieldRow_icon:after {
		left: 3px;
	}
	html[dir="rtl"] .ipsFieldRow .ipsFieldRow_icon:after {
		right: 3px;
	}

		.ipsFieldRow .ipsFieldRow_icon[data-icon="search"] {
			content: "\f002";
		}

	.ipsFieldRow.ipsFieldRow_primary .ipsFieldRow_icon:after {
		font-size: 18px;
		top: 0;
	}
	html[dir="ltr"] .ipsFieldRow.ipsFieldRow_primary .ipsFieldRow_icon:after {
		left: 10px;
	}
	html[dir="rtl"] .ipsFieldRow.ipsFieldRow_primary .ipsFieldRow_icon:after {
		right: 10px;
	}

.ipsApp .ipsField_loading {
	background-image: url( "{resource="loaders/tiny_loading@2x.gif" app="core" location="front"}" );
	background-size: 14px 14px;
	background-repeat: no-repeat;
	background-position: right 5px center;
}

html[dir="rtl"] .ipsApp .ipsField_loading {
	background-position: left 5px center;
}

.ipsFieldRow_section {
	background: rgb( var(--theme-area_background_light) );
	color: rgb( var(--theme-text_color) );
	padding: 15px;
	font-size: {fontsize="base"};
}

/* VALIDATION */
/* css variables are used in supported browsers for easier customization */
.ipsApp input.ipsField_error, .ipsFieldRow_error textarea:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="text"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="password"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="datetime"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="datetime-local"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="date"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="month"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="time"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="week"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="number"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="email"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="url"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="search"]:not( .ipsFieldRow_errorExclude ), .ipsFieldRow_error input[type="tel"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error input[type="color"]:not( .ipsFieldRow_errorExclude ),
.ipsFieldRow_error .ipsField_dummy, .ipsFieldRow_error.ipsField_dummy {
	background-color: #f8e6e9;
	background-color: var(--input-error__background-color, #f8e6e9);
	border-color: #ba7b84;
	border-color: var(--input-error__border-color, #ba7b84);
}

.ipsApp input.ipsField_success, .ipsApp textarea.ipsField_success, .ipsFieldRow_success textarea, .ipsFieldRow_success input[type="text"], .ipsFieldRow_success input[type="password"],
.ipsFieldRow_success input[type="datetime"], .ipsFieldRow_success input[type="datetime-local"],
.ipsFieldRow_success input[type="date"], .ipsFieldRow_success input[type="month"], .ipsFieldRow_success input[type="time"],
.ipsFieldRow_success input[type="week"], .ipsFieldRow_success input[type="number"], .ipsFieldRow_success input[type="email"],
.ipsFieldRow_success input[type="url"], .ipsFieldRow_success input[type="search"], .ipsFieldRow_success input[type="tel"],
.ipsFieldRow_success input[type="color"] {
	background-color: #ebf2e5;
	background-color: var(--input-success__background-color, #ebf2e5);
	border-color: #4a7c20;
	border-color: var(--input-success__border-color, #4a7c20);
}

/* Monospace textarea */
textarea.ipsField_codeInput {
	font-family: "Courier New", Courier, monospace;
}

input[type="text"].ipsField_tinyText {
	font-size: {fontsize="x_small"};
	padding: 4px;
}

/* TOGGLES */
input[type="checkbox"]:disabled + .ipsToggle {
	opacity: 0.4;
	cursor: default !important;
}

	input[type="checkbox"]:disabled + .ipsToggle:not( [data-ipsTooltip] ) {
		pointer-events: none;
	}

.ipsToggle {
	width: 42px;
	background: rgb( var(--theme-area_background_light) );
	display: inline-block;
	height: 22px;
	line-height: 22px;
	border-radius: 11px;
	position: relative;
	border: 1px solid rgba(0,0,0,0.1);
	overflow: hidden;
	vertical-align: middle;
	cursor: pointer;
	transition: all 0.3s linear;
}
	
	.ipsToggle.ipsToggle_off {
		background: rgba( var(--theme-active_input_border), 0.3 );
		filter: grayscale(100%);
	}

	.ipsToggle.ipsToggle_on {
		background: rgb( var(--theme-active_input_border) );
	}

	.ipsToggle input {
		opacity: 0.001;
	}

	.ipsToggle span {
		background: #fff;
		border-radius: 9px;
		height: 16px;
		width: 16px;
		top: 2px;
		text-indent: 100%;
		white-space: nowrap;
		display: block;
		position: absolute;
		pointer-events: none;
		transition: all 0.2s linear;
	}	

		html[dir="ltr"] .ipsToggle.ipsToggle_on span {
			right: 1px;
		}
		html[dir="rtl"] .ipsToggle.ipsToggle_on span {
			left: 1px;
		}

		html[dir="ltr"] .ipsToggle.ipsToggle_off span {
			right: 22px;
		}
		html[dir="rtl"] .ipsToggle.ipsToggle_off span {
			left: 22px;
		}
		
/* No, no, no, no, yes */
.ipsField_yesNo {
	display: inline-block;
	margin: 0;
	padding: 0;
}

html[dir="ltr"] .ipsField_yesNo li {
	float: left;
}
html[dir="rtl"] .ipsField_yesNo li {
	float: right;
}

.ipsField_yesNo input[type="radio"] {
	display: none;
}

.ipsField_yesNo label {
	display: block;
	height: 32px;
	line-height: 32px;
	text-align: center;
	width: 40px;
	background: #f2f2f2;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	cursor: pointer;
	position: relative;
	transition: 0.2s all linear;
}

	.ipsField_yesNo label:after {
		color: #d5d5d5;		
		font-family: "FontAwesome";
		position: absolute;
		top: 0;
		text-indent: 0;
		font-size: 18px;
	}
	html[dir="ltr"] .ipsField_yesNo label:after {
		left: 50%;
	}
	html[dir="rtl"] .ipsField_yesNo label:after {
		right: 50%;
	}

		.ipsField_yesNo .ipsField_yesNo_yes label:after {
			content: "\f00c";
		}
		html[dir="ltr"] .ipsField_yesNo .ipsField_yesNo_yes label:after {
			margin-left: -9px;
		}
		html[dir="rtl"] .ipsField_yesNo .ipsField_yesNo_yes label:after {
			margin-right: -9px;
		}

			.ipsField_yesNo .ipsField_yesNo_yes input[type="radio"]:checked + label {
				background: #68a72f;
			}

		.ipsField_yesNo .ipsField_yesNo_no label:after {
			content: "\f00d";
		}
		html[dir="ltr"] .ipsField_yesNo .ipsField_yesNo_no label:after {
			margin-left: -7px;
		}
		html[dir="rtl"] .ipsField_yesNo .ipsField_yesNo_no label:after {
			margin-right: -7px;
		}

			.ipsField_yesNo .ipsField_yesNo_no input[type="radio"]:checked + label {
				background: #a72f35;
			}

.ipsField_yesNo li:first-child label {
	border-radius: 3px 0 0 3px;
}
html[dir="rtl"] .ipsField_yesNo li:first-child label {
	border-radius: 0 3px 3px 0;
}

.ipsField_yesNo li:last-child label {
	border-radius: 0 3px 3px 0;
}
html[dir="rtl"] .ipsField_yesNo li:last-child label {
	border-radius: 3px 0 0 3px;
}

.ipsField_yesNo input[type="radio"]:checked + label:after {
	color: #fff;
}

.ipsField_yesNo.ipsField_yesNo_disabled {
	opacity: 0.5;
}

/* CUSTOM CHECKBOX/RADIO STYLES */
.ipsCustomInput {
	position: relative;
	width: 16px;
	height: 16px;
	display: inline-block;
	font-size: 0;
	vertical-align: middle;
}

	.ipsCustomInput > span {
		border: 1px solid var(--form-field--borderColor);
		background: rgb( var(--theme-area_background_reset) );
		background-clip: padding-box;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}

		.ipsCustomInput input[type="checkbox"] + span {
			border-radius: var(--form-field--radius);
		}
		.ipsCustomInput input[type="radio"] + span {
			border-radius: 8px;
		}

	/* Hover */
	.ipsCustomInput input:hover:not( :disabled ):not(:checked) + span {
		border-color: var(--form-field--borderHoverColor);
	}

	/* Disabled styles */
	.ipsCustomInput input:disabled{
		cursor: auto;
	}
	.ipsCustomInput input:disabled + span {
		opacity: 0.5;
		filter: grayscale(0.6);
	}

		.ipsCustomInput input:not( :checked ):disabled + span {
			background: rgb( var(--theme-area_background) );
		}

	/* Active styles */
	.ipsCustomInput input:active:not( :checked ):not( :disabled ) + span,
	.ipsCustomInput input:active:checked:not( :disabled ) + span {
		background: rgb( var(--theme-brand_primary) );
	}

	/* Checked styles */
	.ipsCustomInput input:checked + span {
		border-color: rgb( var(--theme-brand_primary) );
		background-color: rgb( var(--theme-brand_primary) );
		color: #fff;
	}

	.ipsCustomInput input[type="checkbox"]:checked + span:after {
		content: '\f00c';
		font-family: "FontAwesome";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 9px;
	}

	.ipsCustomInput input[type="radio"]:checked + span:after {
		width: 6px;
		height: 6px;
		display: block;
		content: '';
		position: absolute;
		top: 4px;
		left: 4px;
		border-radius: 8px;
		background: currentColor;
	}

	.ipsCustomInput input {
		opacity: 0.000001;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		cursor: pointer;
		top: 0;
		left: 0;
	}

	html[dir="ltr"] .ipsCustomInput + label {
		margin-left: 3px;
	}
	html[dir="rtl"] .ipsCustomInput + label {
		margin-right: 3px;
	}

/* TRANSLATABLE */
.ipsField_translatable li {
	margin-bottom: 5px;
	position: relative;
}

.ipsField_translatable li span.ipsFlag {
	display: inline-block;
	position: absolute;
	top: 15px;
}
html[dir="ltr"] .ipsField_translatable li span.ipsFlag {
	left: 8px;
}
html[dir="rtl"] .ipsField_translatable li span.ipsFlag {
	right: 8px;
}

	.ipsField_translatable li p.ipsFlagEditor span.ipsFlag{
		top: 4px;
	}

html[dir="ltr"] .ipsField_translatable li .ipsFlag + input[type="text"],
html[dir="ltr"] .ipsField_translatable li .ipsFlag + input[type="password"] {
	padding-left: 30px;
}
html[dir="rtl"] .ipsField_translatable li .ipsFlag + input[type="text"],
html[dir="rtl"] .ipsField_translatable li .ipsFlag + input[type="password"] {
	padding-right: 30px;
}

.ipsField_translatable li .ipsFlag + span.ipsFlagLabel {
	font-weight: bold;
}
html[dir="ltr"] .ipsField_translatable li .ipsFlag + span.ipsFlagLabel {
	margin-left: 30px;
}
html[dir="rtl"] .ipsField_translatable li .ipsFlag + span.ipsFlagLabel {
	margin-right: 30px;
}

/* STACK */
.ipsFieldRow:not( .ipsFieldRow_fullWidth ) .ipsField_stack { 
	max-width: 350px;
}

.ipsField_stackItem {
	margin-bottom: 5px;
	position: relative;
	padding-left: 32px;
}

.ipsField_stackItem .ipsField_stackDrag,
.ipsField_stackItem .ipsField_stackDelete {
	position: absolute;
	width: 32px;
	height: 32px;
	line-height: 34px;
	top: 0;
	text-align: center;
}

html[dir="ltr"] .ipsField_stackItem .ipsField_stackDrag {
	left: 0;
}
html[dir="rtl"] .ipsField_stackItem .ipsField_stackDrag {
	right: 0;
}

	.ipsField_stackItem .ipsDrag_dragHandle {
		opacity: 0.2;
	}

.ipsField_stackItem .ipsField_stackDelete {
	background: rgb( var(--theme-area_background_dark) );
	color: #fff;
	width: 19px;
	height: 19px;
	border-radius: 19px;
	line-height: 17px;
	top: 5px;
}

html[dir="ltr"] .ipsField_stackDelete {
	right: 0;
}
html[dir="rtl"] .ipsField_stackDelete {
	left: 0;
}

.ipsField_stackItem input[type="text"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="url"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="tel"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="email"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="number"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="search"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="password"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="datetime"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="datetime-local"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="date"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="week"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="month"]:not(.ipsField_stackItemNoMargin),
.ipsField_stackItem input[type="time"]:not(.ipsField_stackItemNoMargin) {
	margin-left: -32px;
	padding-left: 32px;
}
	
	html[dir="ltr"] .ipsField_stackItem input[type="button"],
	html[dir="ltr"] .ipsField_stackItem input[type="checkbox"],
	html[dir="ltr"] .ipsField_stackItem input[type="color"],
	html[dir="ltr"] .ipsField_stackItem input[type="file"],
	html[dir="ltr"] .ipsField_stackItem input[type="radio"],
	html[dir="ltr"] .ipsField_stackItem input[type="range"],
	html[dir="ltr"] .ipsField_stackItem input[type="submit"],
	html[dir="ltr"] .ipsField_stackItem select,
	html[dir="ltr"] .ipsField_stackItem textarea {
		margin-left: 36px;
	}
	html[dir="rtl"] .ipsField_stackItem input[type="button"],
	html[dir="rtl"] .ipsField_stackItem input[type="checkbox"],
	html[dir="rtl"] .ipsField_stackItem input[type="color"],
	html[dir="rtl"] .ipsField_stackItem input[type="file"],
	html[dir="rtl"] .ipsField_stackItem input[type="radio"],
	html[dir="rtl"] .ipsField_stackItem input[type="range"],
	html[dir="rtl"] .ipsField_stackItem input[type="submit"],
	html[dir="rtl"] .ipsField_stackItem select,
	html[dir="rtl"] .ipsField_stackItem textarea {
		margin-right: 36px;
	}

	/* Key value pairs */
	html[dir="ltr"] .ipsField_stackItem_keyValue span input[type="text"] {
		margin-left: 0px;
		padding-left: 6px;
	}
	html[dir="rtl"] .ipsField_stackItem_keyValue span input[type="text"] {
		margin-right: 0px;
		padding-right: 6px;
	}
	
	.ipsField_stackItem_keyValue
	{
		padding-top: 8px;
	}
	html[dir="ltr"] .ipsField_stackItem_keyValue
	{
		margin-left: 36px;
	}
	html[dir="rtl"] .ipsField_stackItem_keyValue
	{
		margin-right: 36px;
	}
	
/* ATTACHMENTS */
.ipsField_uploader {
	border: 1px solid #efefef;
	border-bottom: 1px solid #dedede;
	box-shadow: 0px 1px 0px rgba(255,255,255,1) inset;
	background: #f6f6f6;
	padding: 15px;
	text-shadow: 0px 1px 0px #fff;
	position: relative;
}

	.ipsField_uploader .ipsField_uploader_icon {
		font-size: 36px;
		vertical-align: middle;
		transition: all 0.2s linear;
	}
	html[dir="ltr"] .ipsField_uploader .ipsField_uploader_icon {
		margin-right: 10px;
		float: left;
	}
	html[dir="rtl"] .ipsField_uploader .ipsField_uploader_icon {
		margin-left: 10px;
		float: right;
	}

		.ipsField_uploader:hover .ipsField_uploader_icon {
			transform: scale(1.3);
		}

	.ipsField_uploader .ipsField_uploader_msg span {
		font-size: {fontsize="medium"};
		font-weight: bold;
		display: block;
	}

		.ipsField_uploader .ipsField_uploader_msg span + span {
			opacity: 0.7;
			font-weight: normal;
			font-size: {fontsize="x_small"};
		}

.ipsAttachments_list {
	border: 1px solid #efefef;
}

	.ipsAttachments_list > li {
		padding: 15px;
		background: #fcfcfc;
		border-bottom: 1px solid #efefef;
	}

		.ipsAttachments_list > li:last-child {
			border-bottom: 0;
		}

.ipsAttachment_name {
	font-weight: bold;
}

.ipsAttachment_size {
	opacity: 0.7;
	font-size: {fontsize="x_small"};
}

.ipsAttachments_tools {
	opacity: 0;
	transition: 0.5s all linear;
}

	.ipsAttachments_list > li:hover .ipsAttachments_tools {
		opacity: 0.4;
	}

	.ipsAttachments_list > li .ipsAttachments_tools:hover {
		opacity: 1;
	}

.ipsAttachment_progress {
	border: 1px solid rgb( var(--theme-area_background) );
	height: 12px;
	border-radius: 10px;
	width: 150px;
	display: inline-block;
	background: rgb( var(--theme-area_background_reset) );
}

	.ipsAttachment_progress > span {
		background: rgb( var(--theme-area_background_dark) );
		width: 0%;
		display: block;
		height: 10px;
		border-radius: 10px;
	}

	.ipsImageAttach .ipsAttachment_progress {
		width: 70%;
		position: absolute;
		top: 45%;
	}
	html[dir="ltr"] .ipsImageAttach .ipsAttachment_progress {
		margin-left: -35%;
		left: 50%;
	}
	html[dir="rtl"] .ipsImageAttach .ipsAttachment_progress {
		margin-right: -35%;
		right: 50%;
	}

.ipsField_uploader + .ipsAttachments_list {
	border-top: 0;
}
html[dir="ltr"] .ipsField_uploader + .ipsAttachments_list {
	margin-left: 10px;
}
html[dir="rtl"] .ipsField_uploader + .ipsAttachments_list {
	margin-right: 10px;
}

.ipsAttachment_supportDrag {
	display: none;
}

.ipsAttachment_loading.ipsLoading_small {
	font-size: 30px;
	margin-top: 2px;
	margin-right: 6px;
}
	.ipsAttachment_loading.ipsAttachment_loading_editor {
		margin-top: -2px;
	}
	
/* AUTOCOMPLETE TOKENS */
.cToken {
	height: 22px;
	line-height: 22px;
	background: rgb( var(--theme-area_background_reset) );
	background-image: linear-gradient(to bottom, rgba( var(--theme-brand_primary), 0.15 ), rgba( var(--theme-brand_primary), 0.15 ));
	color: rgb( var(--theme-brand_primary) );
	display: inline-block;
	font-size: {fontsize="small"};
	border-radius: 12px;
	padding: 0 10px;
	cursor: pointer;
	margin: 1px 5px 1px 0 !important;
	max-width: 100%;
	overflow: hidden;
}
html[dir="rtl"] .cToken {
	margin: 1px 0 1px 5px !important;
}

.cToken.cToken_selected {
	opacity: 0.7;
}

/* CONTENTITEM */
ul.ipsContentItemSelector li {
	margin-top: 10px;
}

ul.ipsContentItemSelector li:first-child {
	margin-top: 5px;
}

ul.ipsContentItemSelector li div[data-role="contentItemRow"]
{
	padding-left: 5px;
}

.cContentItem_delete {
	height: 18px;
	line-height: 18px;
	background: rgb( var(--theme-brand_primary) );
	color: #fff;
	display: inline-block;
	font-size: 13px;
	border-radius: 12px;
	padding: 0 10px;
	cursor: pointer;
	margin: 1px 5px 1px 0 !important;
	float: left;
}

/* SELECT TREE */
.ipsSelectTree {
	min-height: 38px;
	border: 1px solid var(--form-field--borderColor);
	width: 100%;
	max-width: 350px;
	border-radius: var(--form-field--radius);
	padding: 9px;
	position: relative;
	background: rgb( var(--theme-area_background_reset) );
	cursor: pointer;
	margin-bottom: 5px;
}
html[dir="ltr"] .ipsSelectTree {
	padding-right: 25px;
}
html[dir="rtl"] .ipsSelectTree {
	padding-left: 25px;
}
	
	.ipsSelectTree.ipsSelectTree_disabled, .ipsSelectTree.ipsSelectTree_disabled .ipsSelectTree_expand {
		opacity: 0.6;
		pointer-events: none;
	}

	.ipsSelectTree_active.ipsSelectTree_bottom {
		border-bottom-color: transparent;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-color: rgb( var(--theme-active_input_border) );
	}
	.ipsSelectTree_active.ipsSelectTree_top {
		border-top-color: transparent;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-color: rgb( var(--theme-active_input_border) );
	}

		.ipsSelectTree_active .ipsSelectTree_nodes::before{
			content: '';
			position: absolute;
			top: -1px; left: -1px; right: -1px; bottom: -1px;
			z-index: -1;
			border-radius: 3px;
			box-shadow: var(--form-field--focusShadow);
			pointer-events: none;
			display: none;
		}

			@supports (--css: 10px){
				.ipsSelectTree_active .ipsSelectTree_nodes::before{
					display: block;
				}
			}

			.ipsSelectTree_nodes.ipsSelectTree_bottom::before{
				top: calc((var(--ipsSelectTree-offset) + 20px) * -1);
			}
			.ipsSelectTree_nodes.ipsSelectTree_top::before{
				bottom: calc((var(--ipsSelectTree-offset) + 20px) * -1);
			}

	.ipsSelectTree_expand {
		position: absolute;
		top: -1px;
		bottom: -1px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 0 3px 3px 0;
		width: 26px;
		text-align: center;
		opacity: 0.3;
	}
	html[dir="ltr"] .ipsSelectTree_expand {
		right: -1px;
	}
	html[dir="rtl"] .ipsSelectTree_expand {
		left: -1px;
	}
		
	.ipsSelectTree [data-role="tokenList"] li {
		line-height: 1;
	}
	html[dir="ltr"] .ipsSelectTree [data-role="tokenList"] li {
		margin-right: 5px;
	}
	html[dir="rtl"] .ipsSelectTree [data-role="tokenList"] li {
		margin-left: 5px;
	}

		.ipsSelectTree [data-role="tokenList"] .cToken {
			background: rgb( var(--theme-brand_primary) );
			color: #fff;
			margin-bottom: 4px;
		}

.ipsSelectTree_nodes {
	position: absolute;
	top: 100%;
	left: -1px;
	max-width: 500px;
	border: 1px solid rgb( var(--theme-active_input_border) );
	padding: 7px;
	background: rgb( var(--theme-area_background_reset) );
}

	.ipsSelectTree_nodes.ipsSelectTree_bottom {
		top: 100% !important;
		border-top: 1px dashed rgba( var(--theme-text_color), 0.2 );
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
	.ipsSelectTree_nodes.ipsSelectTree_top {
		bottom: 100% !important;
		border-bottom: 1px dashed rgba( var(--theme-text_color), 0.2 );
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}
	
	.ipsSelectTree_nodes [data-role="nodeList"] {
		max-height: 300px;
		overflow: auto;
	}
	
	.ipsSelectTree_nodes [data-role="nodeList"] .ipsTabs_panel {
		min-height: 264px;
	}

		.ipsSelectTree_nodes [data-role="nodeList"] li {
			position: relative;
		}

			.ipsSelectTree_item{
				border-radius: 3px;
			}

			.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item {
				padding: 7px 25px 7px 22px;
			}
			html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item {
				padding: 7px 22px 7px 25px;
			}

				.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item.ipsSelectTree_withChildren {
					padding: 7px 4px;
				}

				.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item:not( .ipsSelectTree_itemDisabled ):hover {
					background: rgba( var(--theme-text_color), 0.08 );
				}

					.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item:not( .ipsSelectTree_itemDisabled ).ipsSelectTree_selected:hover {
						background: rgba( var(--theme-area_background_dark), 0.9 );
					}

			html[dir="ltr"] .ipsSelectTree_nodes [data-role="nodeList"] li [data-role="childWrapper"] {
				margin-left: 12px;
				padding-left: 4px;
				border-left: 1px dashed rgba( var(--theme-text_color), 0.2 );
			}
			html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li [data-role="childWrapper"] {
				margin-right: 12px;
				padding-right: 4px;
				border-right: 1px dotted rgba( var(--theme-text_color), 0.2 );
			}

			.ipsSelectTree_nodes [data-role="nodeList"] li:last-child {
				border: 0;
			}

			.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_toggle {
				width: 16px;
				height: 19px;
				display: inline-block;
				color: inherit;
				position: relative;
				vertical-align: middle;
				float: left;
			}
			html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_toggle {
				float: right;
			}

				.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_toggle + [data-role="nodeTitle"] {
					display: block;
				}
				html[dir="ltr"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_toggle + [data-role="nodeTitle"] {
					margin-left: 20px;
				}
				html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_toggle + [data-role="nodeTitle"] {
					margin-right: 20px;
				}

				.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item > .ipsSelectTree_toggle:before {
					text-align: center;
					font-size: 11px;
					display: block;
					width: 20px;
					height: 19px;
					position: absolute;
					top: 0;
					content: '\f054';
					font-family: 'FontAwesome';
				}
				html[dir="ltr"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item > .ipsSelectTree_toggle:before {
					left: 0;
				}
				html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item > .ipsSelectTree_toggle:before {
					right: 0;
				}

					.ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item.ipsSelectTree_itemOpen > .ipsSelectTree_toggle:before {
						transform: rotate(90deg);
					}
					html[dir="ltr"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item.ipsSelectTree_itemOpen > .ipsSelectTree_toggle:before {
						left: -2px;
					}
					html[dir="rtl"] .ipsSelectTree_nodes [data-role="nodeList"] li .ipsSelectTree_item.ipsSelectTree_itemOpen > .ipsSelectTree_toggle:before {
						right: -2px;
					}

		.ipsSelectTree_nodes [data-role="nodeList"] .ipsTabs li {
			border-bottom: 0;
		}

		.ipsSelectTree_nodes .ipsSelectTree_loadMore {
			text-align: center;
			padding: 7px 0px 0px;
		}

			.ipsSelectTree_nodes .ipsSelectTree_loadMore .ipsLoading {
				margin-right: 4px;
			}

.ipsSelectTree_selected {
	background: rgb( var(--theme-area_background_dark) );
	color: #fff;
}
	
	.ipsSelectTree_selected:after {
		content: '\f00c';
		font-family: 'FontAwesome';
		position: absolute;
		top: 7px;
		color: inherit;
	}
	html[dir="ltr"] .ipsSelectTree_selected:after {
		right: 7px;
	}
	html[dir="rtl"] .ipsSelectTree_selected:after {
		left: 7px;
	}

.ipsSelectTree_itemDisabled > [data-role="nodeTitle"] {
	color: var(--form-field--borderHoverColor);
	cursor: default;
}

.ipsSelectTree_placeholder {
	opacity: 0.6;
}

.ipsSelectTree_search {
	margin-top: 7px;
	position: relative;
}

	.ipsApp .ipsSelectTree_search input {
		border: 1px solid rgba(0,0,0,0.3);
		font-size: {fontsize="x_small"};
	}
	html[dir="ltr"] .ipsApp .ipsSelectTree_search input {
		padding-left: 26px;
	}
	html[dir="rtl"] .ipsApp .ipsSelectTree_search input {
		padding-right: 26px;
	}

	.ipsSelectTree_search:after {
		content: '\f002';
		font-family: "FontAwesome";
		position: absolute;
		top: 7px;
	}
	html[dir="ltr"] .ipsSelectTree_search:after {
		left: 7px;
	}
	html[dir="rtl"] .ipsSelectTree_search:after {
		right: 7px;
	}

/* HIDDEN LABELS */
.ipsForm_noLabels .ipsFieldRow_label, .ipsForm_noLabels .ipsFieldRow_title,
.ipsForm_noLabels .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_label, .ipsForm_noLabels .ipsFieldRow:not( .ipsFieldRow_checkbox ) .ipsFieldRow_title {
	display: none;
}

input.ipsField_vle {
	color: black;
	font-weight: normal;
}

/* RECAPTCHA RTL FIX */
/* Recaptcha appears to not support RTL properly, so we'll force it to LTR mode */
html[dir="rtl"] #recaptcha_table:not( .recaptcha_theme_clean ) {
	direction: ltr !important;
}

/* IE11 CKE Source fix */
_:-ms-input-placeholder, :root .cke_source {
	min-width: 100% !important;
}

.ipsForm_meter {
	max-width: 350px;
	width: 100%;
	height: 7px;
	display: block;
	margin-top: 7px;
	border-radius: 2px;
}

.ipsForm_meterAdvice {
	font-size: {fontsize="10"};
	font-weight: bold;
	display: block;
}

	.ipsForm_meter[data-adviceValue="1"] + .ipsForm_meterAdvice { color: #C62828;}
	.ipsForm_meter[data-adviceValue="2"] + .ipsForm_meterAdvice { color: #D84315;}
	.ipsForm_meter[data-adviceValue="3"] + .ipsForm_meterAdvice { color: #FF8F00;}
	.ipsForm_meter[data-adviceValue="4"] + .ipsForm_meterAdvice { color: #9E9D24;}
	.ipsForm_meter[data-adviceValue="5"] + .ipsForm_meterAdvice { color: #2E7D32;}

.ipsForm_meter::-webkit-meter-bar {
	background: none;
	border-radius: 2px;
	background-color: #f0f0f0;
}

/* Webkit based browsers */
.ipsForm_meter[data-adviceValue="1"]::-webkit-meter-optimum-value { background: #C62828; }
.ipsForm_meter[data-adviceValue="2"]::-webkit-meter-optimum-value { background: #D84315; }
.ipsForm_meter[data-adviceValue="3"]::-webkit-meter-optimum-value { background: #FF8F00; }
.ipsForm_meter[data-adviceValue="4"]::-webkit-meter-optimum-value { background: #9E9D24; }
.ipsForm_meter[data-adviceValue="5"]::-webkit-meter-optimum-value { background: #2E7D32; }

/* Gecko based browsers */
.ipsForm_meter[data-adviceValue="1"]::-moz-meter-bar { background: #C62828; }
.ipsForm_meter[data-adviceValue="2"]::-moz-meter-bar { background: #D84315; }
.ipsForm_meter[data-adviceValue="3"]::-moz-meter-bar { background: #FF8F00; }
.ipsForm_meter[data-adviceValue="4"]::-moz-meter-bar { background: #9E9D24; }
.ipsForm_meter[data-adviceValue="5"]::-moz-meter-bar { background: #2E7D32; }


/* Cropper tool */
[data-role="cropper"] {
	margin: 0 auto;
	max-width: 100%;
}

.ipsForm_cropper {
	max-width: 100%;
}

.ipsForm_cropper > img {
	max-width: 100%;
}

.ipsForm_colorSwatch {
	width: 30px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid rgb( var(--theme-area_background) );
}

.ipsForm_colorSwatchWrapper {
	padding: 6px 0px;
}

/* Just a little thing to make the Google address field autocomplete have
	a higher z-index because otherwise it's hidden behind modals */
.pac-container {
	z-index: 100000;
}

/*!
 * Cropper.js v1.5.9
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2020-09-10T13:16:21.689Z
 */.cropper-container{direction:ltr;font-size:0;line-height:0;position:relative;-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.cropper-container img{display:block;height:100%;image-orientation:0deg;max-height:none!important;max-width:none!important;min-height:0!important;min-width:0!important;width:100%}.cropper-canvas,.cropper-crop-box,.cropper-drag-box,.cropper-modal,.cropper-wrap-box{bottom:0;left:0;position:absolute;right:0;top:0}.cropper-canvas,.cropper-wrap-box{overflow:hidden}.cropper-drag-box{background-color:#fff;opacity:0}.cropper-modal{background-color:#000;opacity:.5}.cropper-view-box{display:block;height:100%;outline:1px solid #39f;outline-color:rgba(51,153,255,.75);overflow:hidden;width:100%}.cropper-dashed{border:0 dashed #eee;display:block;opacity:.5;position:absolute}.cropper-dashed.dashed-h{border-bottom-width:1px;border-top-width:1px;height:33.33333%;left:0;top:33.33333%;width:100%}.cropper-dashed.dashed-v{border-left-width:1px;border-right-width:1px;height:100%;left:33.33333%;top:0;width:33.33333%}.cropper-center{display:block;height:0;left:50%;opacity:.75;position:absolute;top:50%;width:0}.cropper-center:after,.cropper-center:before{background-color:#eee;content:" ";display:block;position:absolute}.cropper-center:before{height:1px;left:-3px;top:0;width:7px}.cropper-center:after{height:7px;left:0;top:-3px;width:1px}.cropper-face,.cropper-line,.cropper-point{display:block;height:100%;opacity:.1;position:absolute;width:100%}.cropper-face{background-color:#fff;left:0;top:0}.cropper-line{background-color:#39f}.cropper-line.line-e{cursor:ew-resize;right:-3px;top:0;width:5px}.cropper-line.line-n{cursor:ns-resize;height:5px;left:0;top:-3px}.cropper-line.line-w{cursor:ew-resize;left:-3px;top:0;width:5px}.cropper-line.line-s{bottom:-3px;cursor:ns-resize;height:5px;left:0}.cropper-point{background-color:#39f;height:5px;opacity:.75;width:5px}.cropper-point.point-e{cursor:ew-resize;margin-top:-3px;right:-3px;top:50%}.cropper-point.point-n{cursor:ns-resize;left:50%;margin-left:-3px;top:-3px}.cropper-point.point-w{cursor:ew-resize;left:-3px;margin-top:-3px;top:50%}.cropper-point.point-s{bottom:-3px;cursor:s-resize;left:50%;margin-left:-3px}.cropper-point.point-ne{cursor:nesw-resize;right:-3px;top:-3px}.cropper-point.point-nw{cursor:nwse-resize;left:-3px;top:-3px}.cropper-point.point-sw{bottom:-3px;cursor:nesw-resize;left:-3px}.cropper-point.point-se{bottom:-3px;cursor:nwse-resize;height:20px;opacity:1;right:-3px;width:20px}@media (min-width:768px){.cropper-point.point-se{height:15px;width:15px}}@media (min-width:992px){.cropper-point.point-se{height:10px;width:10px}}@media (min-width:1200px){.cropper-point.point-se{height:5px;opacity:.75;width:5px}}.cropper-point.point-se:before{background-color:#39f;bottom:-50%;content:" ";display:block;height:200%;opacity:0;position:absolute;right:-50%;width:200%}.cropper-invisible{opacity:0}.cropper-bg{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC")}.cropper-hide{display:block;height:0;position:absolute;width:0}.cropper-hidden{display:none!important}.cropper-move{cursor:move}.cropper-crop{cursor:crosshair}.cropper-disabled .cropper-drag-box,.cropper-disabled .cropper-face,.cropper-disabled .cropper-line,.cropper-disabled .cropper-point{cursor:not-allowed}

 /* This correctly centers the photo cropper: fixes #2372 */
[data-role="cropper"]{
	position: relative;
}
	.cropper-container{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
	}