@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
	min-height: 100%;
	position: relative;
}

body {
	font-family: {{if theme.body_font != 'default'}}"{theme="body_font"}",{{endif}} -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: {fontsize="small"};
	line-height: 1.5;
	color: rgb( var(--theme-text_color) );
	height: 100%;
	background-color: rgb( var(--theme-page_background) );
	margin: 0;
}

span.ipsEmoji, div.ipsEmoji {
	font-weight: normal;
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
}
img.ipsEmoji {
	height: 1.25em;
	width: 1.25em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

main {
	display: block;
}

.ipsLayout_noBackground {
	background: none;
}

	body.ipsNoScroll {
		overflow: hidden;
	}

a {
	color: rgb( var(--theme-link) );
	text-decoration: none;
}

	a:hover {
		color: rgb( var(--theme-link_hover) );
	}

	a:active, a:focus, a:hover {
		outline: 0 !important;
	}

img {
	vertical-align: middle;
}


/* Flexbox utilities */
.ipsFlex{
	display: flex;
}

.ipsFlex > * {
	flex: 0 1 auto;
	min-width: 0;
}

.ipsFlex-ai\:start { align-items: flex-start; }
.ipsFlex-ai\:center{ align-items: center; }
.ipsFlex-ai\:end{ align-items: flex-end; }
.ipsFlex-ai\:stretch{ align-items: stretch; }
.ipsFlex-as\:start{ align-self: flex-start; }
.ipsFlex-as\:center{ align-self: center; }
.ipsFlex-as\:end{ align-self: flex-end; }
.ipsFlex-as\:stretch{ align-self: stretch; }
.ipsFlex-jc\:start{ justify-content: flex-start; }
.ipsFlex-jc\:center{ justify-content: center; }
.ipsFlex-jc\:end{ justify-content: flex-end; }
.ipsFlex-jc\:around{ justify-content: space-around; }
.ipsFlex-jc\:between{ justify-content: space-between; }
.ipsFlex-fd\:column{ flex-direction: column; }
.ipsFlex-fd\:row{ flex-direction: row; }
.ipsFlex-fd\:column-reverse{ flex-direction: column-reverse; }
.ipsFlex-fd\:row-reverse{ flex-direction: row-reverse; }
.ipsFlex-fw\:wrap{ flex-wrap: wrap; }
.ipsFlex-fw\:nowrap{ flex-wrap: nowrap; }
.ipsFlex-fw\:wrap-reverse{ flex-wrap: wrap-reverse; }
.ipsFlex-flex\:00{ flex-grow: 0; flex-shrink: 0; }
.ipsFlex-flex\:10{ flex-grow: 1; flex-shrink: 0; }
.ipsFlex-flex\:11{ flex-grow: 1; flex-shrink: 1; }
.ipsFlex-flex\:01{ flex-grow: 0; flex-shrink: 1; }

{{if theme.responsive }}
@media (max-width: 979px){
	.md\:ipsFlex { display: flex; }
	.md\:ipsFlex > * { flex: 0 1 auto; min-width: 0; }
	.md\:ipsFlex-ai\:start { align-items: flex-start; }
	.md\:ipsFlex-ai\:center{ align-items: center; }
	.md\:ipsFlex-ai\:end{ align-items: flex-end; }
	.md\:ipsFlex-ai\:stretch{ align-items: stretch; }
	.md\:ipsFlex-as\:start{ align-self: flex-start; }
	.md\:ipsFlex-as\:center{ align-self: center; }
	.md\:ipsFlex-as\:end{ align-self: flex-end; }
	.md\:ipsFlex-as\:stretch{ align-self: stretch; }
	.md\:ipsFlex-jc\:start{ justify-content: flex-start; }
	.md\:ipsFlex-jc\:center{ justify-content: center; }
	.md\:ipsFlex-jc\:end{ justify-content: flex-end; }
	.md\:ipsFlex-jc\:around{ justify-content: space-around; }
	.md\:ipsFlex-jc\:between{ justify-content: space-between; }
	.md\:ipsFlex-fd\:column{ flex-direction: column; }
	.md\:ipsFlex-fd\:row{ flex-direction: row; }
	.md\:ipsFlex-fd\:column-reverse{ flex-direction: column-reverse; }
	.md\:ipsFlex-fd\:row-reverse{ flex-direction: row-reverse; }
	.md\:ipsFlex-fw\:wrap{ flex-wrap: wrap; }
	.ms\:ipsFlex-fw\:nowrap{ flex-wrap: nowrap; }
	.md\:ipsFlex-flex\:00{ flex-grow: 0; flex-shrink: 0; }
	.md\:ipsFlex-flex\:10{ flex-grow: 1; flex-shrink: 0; }
	.md\:ipsFlex-flex\:11{ flex-grow: 1; flex-shrink: 1; }
	.md\:ipsFlex-flex\:01{ flex-grow: 0; flex-shrink: 1; }
}

@media (max-width: 767px){
	.sm\:ipsFlex { display: flex; }
	.sm\:ipsFlex > * { flex: 0 1 auto; min-width: 0; }
	.sm\:ipsFlex-ai\:start { align-items: flex-start; }
	.sm\:ipsFlex-ai\:center{ align-items: center; }
	.sm\:ipsFlex-ai\:end{ align-items: flex-end; }
	.sm\:ipsFlex-ai\:stretch{ align-items: stretch; }
	.sm\:ipsFlex-as\:start{ align-self: flex-start; }
	.sm\:ipsFlex-as\:center{ align-self: center; }
	.sm\:ipsFlex-as\:end{ align-self: flex-end; }
	.sm\:ipsFlex-as\:stretch{ align-self: stretch; }
	.sm\:ipsFlex-jc\:start{ justify-content: flex-start; }
	.sm\:ipsFlex-jc\:center{ justify-content: center; }
	.sm\:ipsFlex-jc\:end{ justify-content: flex-end; }
	.sm\:ipsFlex-jc\:around{ justify-content: space-around; }
	.sm\:ipsFlex-jc\:between{ justify-content: space-between; }
	.sm\:ipsFlex-fd\:column{ flex-direction: column; }
	.sm\:ipsFlex-fd\:row{ flex-direction: row; }
	.sm\:ipsFlex-fd\:column-reverse{ flex-direction: column-reverse; }
	.sm\:ipsFlex-fd\:row-reverse{ flex-direction: row-reverse; }
	.sm\:ipsFlex-fw\:wrap{ flex-wrap: wrap; }
	.sm\:ipsFlex-fw\:nowrap{ flex-wrap: nowrap; }
	.sm\:ipsFlex-flex\:00{ flex-grow: 0; flex-shrink: 0; }
	.sm\:ipsFlex-flex\:10{ flex-grow: 1; flex-shrink: 0; }
	.sm\:ipsFlex-flex\:11{ flex-grow: 1; flex-shrink: 1; }
	.sm\:ipsFlex-flex\:01{ flex-grow: 0; flex-shrink: 1; }
}
{{endif}}

.ipsApp [class*="ipsGap"] {
	list-style: none;
	padding: .1px 0; /* This prevents the negative margins from collapsing into other elements */
	margin: calc(var(--ipsGap_row, var(--ipsGap)) * -1) 0 0 calc(var(--ipsGap, 0px) * -1);
}

	.ipsApp [class*="ipsGap"] > *{
		margin: var(--ipsGap_row, var(--ipsGap)) 0 0 var(--ipsGap, 0px);
	}

[class*="ipsGap"]{
	--ipsGap: var(--sp-4);
	--ipsGap_row: var(--ipsGap);	
}
.ipsGap\:1{
	--ipsGap: var(--sp-1);
}
.ipsGap\:2{
	--ipsGap: var(--sp-2);
}
.ipsGap\:3{
	--ipsGap: var(--sp-3);
}
.ipsGap\:4{
	--ipsGap: var(--sp-4);
}
.ipsGap\:5{
	--ipsGap: var(--sp-5);
}
.ipsGap\:6{
	--ipsGap: var(--sp-6);
}
.ipsGap\:7{
	--ipsGap: var(--sp-7);
}
.ipsGap\:8{
	--ipsGap: var(--sp-8);
}

.ipsGap_row\:0{
	--ipsGap_row: 0px;
}
.ipsGap_row\:1{
	--ipsGap_row: var(--sp-1);
}
.ipsGap_row\:2{
	--ipsGap_row: var(--sp-2);
}
.ipsGap_row\:3{
	--ipsGap_row: var(--sp-3);
}
.ipsGap_row\:4{
	--ipsGap_row: var(--sp-4);
}
.ipsGap_row\:5{
	--ipsGap_row: var(--sp-5);
}
.ipsGap_row\:6{
	--ipsGap_row: var(--sp-6);
}
.ipsGap_row\:7{
	--ipsGap_row: var(--sp-7);
}
.ipsGap_row\:8{
	--ipsGap_row: var(--sp-8);
}

.ipsApp fieldset {
	border: 0;
}

/* RTL flip FontAwesome arrows */
html[dir="rtl"] i.fa[class$="-right"],
html[dir="rtl"] i.fa[class$="-left"],
html[dir="rtl"] i.fa[class$="-reply"],
html[dir="rtl"] i.fa[class$="-forward"],
html[dir="rtl"] i.fa[class$="-backward"] {
	transform: scaleX(-1);
	filter: FlipH;
}

/* HEADER & MAIN NAV */
#elSiteTitle,
#elLogo{
	flex: 0 1 auto;
	min-width: 0;
	display: inline-flex;
	align-items: center;
	align-self: stretch;
	height: var(--header--height);
}

#elSiteTitle {
	color: inherit;
	font-size: 22px;
	text-decoration: none;
	font-weight: 500;
	letter-spacing: -0.5px;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

	#elLogo img {
		max-width: 100%;
		max-height: var(--logo--height);
	}

		#ipsLayout_header nav ul li.ipsHide,
		#ipsLayout_header #elMobileNav li.ipsHide {
			display: none;
		}

#ipsLayout_header header {
	background-color: rgb( var(--theme-header) );
	color: rgb( var(--theme-header_text) );
}

	#ipsLayout_header header > .ipsLayout_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	/* Minimal page layout, i.e. no nav or home link */
	body.ipsLayout_minimal.ipsLayout_minimalNoHome #ipsLayout_header nav {
		display: none;
	}

#elAjaxLoading {
	background: #323232;
	width: 150px;
	padding: 15px;
	color: #fff;
	position: fixed;
	bottom: 15px;
	border-radius: var(--radius-1);
	font-size: 16px;
	text-align: center;
	z-index: 15000;
}
html[dir="ltr"] #elAjaxLoading {
	left: 50%;
	margin-left: -75px;
}
html[dir="rtl"] #elAjaxLoading {
	right: 50%;
	margin-right: -75px;
}

	html[dir="ltr"] #elAjaxLoading img {
		margin-right: 20px;
	}
	html[dir="rtl"] #elAjaxLoading img {
		margin-left: 20px;
	}

/* SEARCH */
#elSearchWrapper{
	position: relative;
}

#elSearch {
	background: #fff;
	color: #222;
	height: 32px;
	width: 260px;
	border-radius: 50px;
	position: relative;
}

	#elSearch form{
		display: flex;
		height: 100%;
	}
	
#elSearchExpanded {
	width: 280px;
	font-size: {fontsize="small"};
	color: rgb( var(--theme-text_color) );
	background-color: rgb( var(--theme-area_background_reset) );
	background-clip: padding-box;
	box-shadow: var(--popup--boxShadow);
	border: var(--popup--border);
	border-top-width: 0;
	border-radius: var(--popup--radius);
	padding: 10px;
	position: absolute;
 	top: calc(100% + 4px);
	z-index: 10000;
 	display: none;
}

	html[dir="ltr"] #elSearchExpanded {
		right: -5px;
	}

	html[dir="rtl"] #elSearchExpanded {
		left: -5px;
	}
	
#elSearch input[type="search"] {
	flex: 1 1 100%;
	min-width: 0;
	background: transparent;
	box-shadow: none;
	font-size: inherit;
	border: 0;
	padding: 0px 16px;
	color: inherit;
}

#elSearch .cSearchSubmit {
	border: 0px;
	background: transparent;
	cursor: pointer;
	flex: 0 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 16px;
	color: inherit;
}

.cSearchExpanded::before{
	content: '';
	background: rgba( 255, 255, 255, 0.2);
	border-radius: var(--form-field--radius) var(--form-field--radius) 0px 0px;
	position: absolute;
	font-size: 4px;
	top: -1em;
	right: -1em;
	bottom: -1em;
	left: -1em;
}

/* Advanced search box */
#elSearchExpanded .ipsSideMenu_list {
	background: none;
	border-width: 0;
	border-radius: 0;
	margin: 0;
	font-size: {fontsize="x_small"};
	line-height: 1.75em;
}

	#elSearchExpanded .ipsSideMenu_list:not(:last-child){
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid rgb( var(--theme-area_background) );
	}

	#elSearchExpanded .ipsSideMenu_item{
		border-radius: 4px;
	}

#elSearchExpanded label {
	font-size: inherit;
	cursor: pointer;
}

#elSearchExpanded .ipsMenu_title {
	background: none;
	font-weight: bold;
	padding: 0 10px 10px 10px;
}



/* USER NAVIGATION */
#elUserNav {
	color: inherit;
	line-height: 36px;
	text-decoration: none;
	white-space: nowrap;
	font-weight: bold;
}

#elFooterSocialLinks {
	color: #fff;
	line-height: 36px;
	text-decoration: none;
}
	
	#elUserNav .ipsType_medium {
		line-height: inherit;
	}

	#elUserNav.cSignedOut {
		line-height: 15px;
	}
	
	#elUserNav > li > a, #elFooterSocialLinks > li > a {
		color: inherit;
		font-size: {fontsize="small"};
		vertical-align: middle;
		line-height: 1;
	}

		#elUserNav > li > a .fa,
		#elUserNav_mobile > li > a .fa,
		#elFooterSocialLinks > li > a .fa {
			font-size: 20px;
		}

		#elUserNav > li > a .fa-caret-down,
		#elUserNav > li > a .fa-plus {
			font-size: 14px;
		}

	.cUserNav_icon a {
		display: block;
		position: relative; /* Needed for notification bubbles */
		color: inherit;
	}

	#elUserNav > li > a#elRegisterButton {
		color: rgb( var(--theme-important_button_font) );
	}

	.elUserNav_sep {
		border-right: 2px solid currentColor;
		opacity: .2;
		height: 36px;
		width: 0;
		display: block;
	}

#cUserLink .ipsUserPhoto {
	padding: 0;
}
html[dir="ltr"] #cUserLink .ipsUserPhoto {
	margin-right: 5px;
}
html[dir="rtl"] #cUserLink .ipsUserPhoto {
	margin-left: 5px;
}

	#cUserLink .ipsUserPhoto {
		width: 26px;
		height: 26px;
	}

#elUserNav_mobile {
	padding: 15px 0;
}

html[dir="ltr"] #cRegisterButton {
	margin-left: 20px;
}
html[dir="rtl"] #cRegisterButton {
	margin-right: 20px;
}

#elCart .ipsNotificationCount {
	left: 10px;
	right: auto;
}

/* FLASH MESSAGE */
#elFlashMessage {
	background: rgba(0,0,0,0.9);
	color: #fff;
	position: fixed;
	width: 600px;
	font-size: 15px;
	border-radius: 100px;
	box-shadow: var(--dialog--boxShadow);
	text-align: center;
	z-index: 50000; /* This should appear above everything else */
}
	#elFlashMessage:not( .ipsPad_half ) {
		padding: 15px;
	}
	
html[dir="ltr"] #elFlashMessage {
	left: 50%;
	margin-left: -300px;
}
html[dir="rtl"] #elFlashMessage {
	right: 50%;
	margin-right: -300px;
}
	
	#elFlashMessage.ipsFlashMsg_top {
		top: 20px;
	}

	#elFlashMessage.ipsFlashMsg_bottom {
		bottom: 20px;
	}

#elFlashMessage [data-action='dismissFlashMessage'] {
	display: none;
}

	#elFlashMessage.ipsFlashMsg_dismissable [data-action='dismissFlashMessage'] {
		display: block;
		border-radius: 30px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		color: #000;
		background: #fff;
		font-family: arial, sans-serif;
		text-align: center;
		font-size: 20px;
		border: 0;
	}

#elFlashMessage a,
#elFlashMessage a:hover {
	color: inherit;
	border-bottom: 1px solid currentColor;
}

/* DRAWERS */
.ipsModal.ipsDrawer_modal {
	background: rgba( var(--theme-text_color), 0.3 );
	overflow: hidden !important;
}

/*.ipsDrawer, .ipsDrawer_menu, .ipsDrawer_content {
	overflow: auto;
}*/

.ipsDrawer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.ipsDrawer_menu {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 340px;
	max-width: calc(100% - 50px);
	background: rgb( var(--theme-area_background_reset) );
	color: rgb( var(--theme-text_color) );
	box-shadow: 0px 0px 25px rgba(0,0,0,0.2);
}
html[dir="ltr"] .ipsDrawer_menu {
	right: 0;
}
html[dir="rtl"] .ipsDrawer_menu {
	left: 0;
}

	.ipsDrawer_content {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
	}

.ipsDrawer_close {
	background: rgb( var(--theme-area_background_reset) );
	width: 40px;
	height: 40px;
	border-radius: 40px;
	color: rgb( var(--theme-text_dark) ) !important;
	text-align: center;
	font-size: 24px;
	display: block;
	position: absolute;
	top: 5px;
	z-index: 2000;
}
	
	html[dir="ltr"] .ipsDrawer_close {
		right: 315px;
	}
	html[dir="rtl"] .ipsDrawer_close {
		left: 315px;
	}

		html[dir="ltr"] .ipsDrawer_menu .ipsDrawer_close {
			right: calc(100% + 5px);
		}
		html[dir="rtl"] .ipsDrawer_menu .ipsDrawer_close {
			left: calc(100% + 5px);
		}

	.ipsDrawer_close > span {
		font-family: arial, sans-serif;
		line-height: 40px;
	}

.ipsDrawer_list {
	width: 100%;
	position: relative;
	list-style: none;
	padding: 0 0 30px 0; /* Add extra padding at bottom to account for iOS issue */
	margin: 0;
}

.ipsDrawer_list > li > a:not( .ipsButton ),
.ipsDrawer_list > li:not( .ipsDrawer_itemParent ) > a:not( .ipsButton ) {
	color: inherit;
	display: block;
	padding: var(--sp-3) var(--sp-5);
}

	.ipsDrawer_list > li > a:active {
		background: rgb( var(--theme-area_background) );
	}

	.ipsDrawer_itemParent > .ipsDrawer_list > li > a:not( .ipsButton ) {
		padding: var(--sp-3) var(--sp-5);
	}
	
.ipsDrawer_section {
	color: rgb( var(--theme-text_color) );
	font-size: {fontsize="x_small"};
	font-weight: bold;
	padding: var(--sp-4) var(--sp-5) var(--sp-1);
	text-transform: uppercase;
}

.ipsDrawer_itemParent > h4 {
	font-weight: normal;
	color: rgb( var(--theme-text_dark) );
	padding: var(--sp-3) var(--sp-5);
	position: relative;
	cursor: pointer;
	margin: 0;
}
.ipsDrawer_itemParent > .ipsDrawer_list > .ipsDrawer_itemParent > h4 {
	padding: var(--sp-3) var(--sp-5);
}
	html[dir="ltr"] .ipsDrawer_itemParent > h4:after {
		content: "\f105";
		right: var(--sp-5);
	}
	html[dir="rtl"] .ipsDrawer_itemParent > h4:after {
		content: "\f104";
		left: var(--sp-5);
	}

	.ipsDrawer_itemParent > h4 > a {
		color: inherit;
		display: block;
	}

.ipsDrawer_list .ipsDrawer_list {
	position: absolute;
	top: 0;
}
html[dir="ltr"] .ipsDrawer_list .ipsDrawer_list {
	left: 100%;
}
html[dir="rtl"] .ipsDrawer_list .ipsDrawer_list {
	right: 100%;
}

.ipsDrawer_list [data-action="back"] a {
	position: relative;
	background: rgb( var(--theme-area_background_light) );
	color: rgb( var(--theme-text_light) ) !important;
}
html[dir="ltr"] .ipsDrawer_list [data-action="back"] a {
	padding-left: var(--sp-5);
}
html[dir="rtl"] .ipsDrawer_list [data-action="back"] a {
	padding-right: var(--sp-5);
}

	html[dir="ltr"] .ipsDrawer_list [data-action="back"] a:before {
		content: "\f104";
		left: var(--sp-5);
	}
	html[dir="rtl"] .ipsDrawer_list [data-action="back"] a:before {
		content: "\f105";
		right: var(--sp-5);
	}

.ipsDrawer_itemParent > h4:after {
	font-family: "FontAwesome";
	font-size: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.ipsDrawer_list [data-action="back"] a:before {
	font-family: "FontAwesome";
}
	html[dir="ltr"] .ipsDrawer_list [data-action="back"] a:before {
		margin-right: var(--sp-2);
	}
	html[dir="rtl"] .ipsDrawer_list [data-action="back"] a:before {
		margin-left: var(--sp-2);
	}

.ipsDrawer_listTitle {
	font-size: {fontsize="medium"};
	background: rgba( var(--theme-text_light), 0.1 );
	padding: 10px;
	color: rgb( var(--theme-text_dark) );
	margin-top: 10px;
	font-weight: bold;
	border-radius: 4px;
}

/* Remove borders from buttons for cleaner appearance */
.ipsDrawer_menu .ipsButton{
	border-color: transparent;
}



/* HIGH RES IMAGES */
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

	html[dir="ltr"] .ipsApp .ipsDataItem_subList {
		background-image: url( "{resource="subitem_stem@2x.png" app="core" location="front"}" );
	}
	html[dir="rtl"] .ipsApp .ipsDataItem_subList {
		background-image: url( "{resource="subitem_stem_rtl@2x.png" app="core" location="front"}" );
	}
}

/* Redirector */
.ipsRedirect {
	text-align: center;
}
	.ipsRedirect_loading {
		min-height: 100px;
	}
	.ipsRedirect_progress {
		
	}

	.ipsRedirect_progress[data-loading-text]::after{
		content: attr(data-loading-text);
		display: block;
		margin-top: 15px;
	}

		/* Hide the message if it's empty */
		.ipsRedirect_progress[data-loading-text=""]::after{
			display: none;
		}

.ipsRedirectMessage {
	margin: 50px;
}

.ipsRedirect_manualButton {
	margin-top: 20px;
}

/* Default responsive styles */
/* DESKTOP/DEFAULT */
.ipsResponsive_block{
	display: block !important;
}

.ipsResponsive_inline{
	display: inline !important;
}

.ipsResponsive_inlineBlock{
	display: inline-block !important;
}

{{if !theme.responsive }}
	/* Hide responsive elements if responsive setting is disabled */
	.ipsApp .ipsResponsive_showPhone,
	.ipsApp .ipsResponsive_showTablet,
	.ipsApp .ipsResponsive_hideDesktop{
		display: none !important;
	}
{{endif}}

#elNavLang_menu li button,
#elNavTheme_menu li button {
	text-align: left;
	white-space: normal;
}

#elLicenseKey {
	margin: 0;
	border-radius: 0;
	font-size: {fontsize="medium"}};
	padding-right: 40px;
}
	
	#elLicenseKey .ipsList_inline {
		margin-top: 15px;
	}
	
	#elLicenseKey [data-role="closeMessage"] {
		display: inline-block;
		background: rgba(0,0,0,0.6);
		width: 30px;
		height: 30px;
		border-radius: 30px;
		line-height: 28px;
		text-align: center;
		color: #fff;
		border-bottom: 0;
		font-size: 18px;
		position: absolute;
		right: 15px;
		top: 15px;
	}

/* ACP Notification Banners */

.cAcpNotificationBanner {
	color: rgba(255,255,255,0.7);
	min-height: 90px;
	padding: var(--sp-4) var(--sp-5);
}

	/* This ensures colored text in changelogs still appears white in ACP notifications, preventing poor contrast */
	.cAcpNotificationBanner .ipsType_richText [style*='color']{
		color: inherit !important;
	}

	.cAcpNotificationBanner:not( :first-child ) {
		border-top: 1px solid rgba(0,0,0,0.1);
	}
	
	.cAcpNotificationBanner_error {
		background: var(--negative-dark) !important;
	}
	.cAcpNotificationBanner_warning {
		background: var(--intermediate-dark) !important;
	}
	.cAcpNotificationBanner_information {
		background: var(--informational-dark) !important;
	}
	.cAcpNotificationBanner_expire {
		background: var(--general-dark) !important;
	}

	.cAcpNotificationBanner i.cAcpNotificationBanner_mainIcon {
		font-size: 34px;
		line-height: 1;
		color: #fff;
		text-shadow: none;
		position: relative;
		top: 10px;
	}
	
	.cAcpNotificationBanner h2 {
		font-size: {fontsize="large"};
		font-weight: bold;
		color: #fff;
		letter-spacing: 0.3px;
	}
	
	.cAcpNotificationBanner .ipsType_richText {
		color: rgba(255,255,255,0.9);
	}
		
	.cAcpNotificationBanner hr.ipsHr {
		border-color: rgba(255,255,255,0.1);
	}
	
	.cAcpNotificationBanner a:not( .ipsButton ):not( .cAcpNotificationBanner_close ) {
		border-bottom: 1px solid {hextorgb="#fff" opacity="0.6"};
		text-decoration: none;
		opacity: 1;
		color: #fff;
		text-align: left;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: var(--sp-3);
	}
	
	.cAcpNotificationBanner_close {
		color: #fff;
		opacity: 0.8;
	}
	.cAcpNotificationBanner_close:hover {
		color: #fff;
	}

	html[dir="ltr"] .cAcpNotificationBanner.ipsPhotoPanel.ipsPhotoPanel_small > div {
		margin-left: 50px;
	}
	html[dir="rtl"] .cAcpNotificationBanner.ipsPhotoPanel.ipsPhotoPanel_small > div {
		margin-right: 50px;
	}

	@media screen and (max-width: 767px) {
		html[dir="ltr"] .cAcpNotificationBanner.ipsPhotoPanel.ipsPhotoPanel_small > div {
			margin-left: 0;
		}
		html[dir="rtl"] .cAcpNotificationBanner.ipsPhotoPanel.ipsPhotoPanel_small > div {
			margin-right: 0;
		}
	}

	.cAcpNotificationBanner .ipsButton_overlaid {
		background-color: rgba(0,0,0,0.1);
		opacity: 1;
	}

/* LICENSE RENEWAL MODAL */

.acpLicenseRenewal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.acpLicenseRenewal_wrap {
	width: 500px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0px 5px 35px rgba(69,88,107,0.4);
	position: relative;
	pointer-events: auto;
}

	.acpLicenseRenewal_inner {
		text-align: center;
	}

	.acpLicenseRenewal_wrap .ipsToolList {
		margin-bottom: 0;
	}

.acpLicenseRenewal_content {
	padding: 30px;
}

.acpLicenseRenewal_mainTitle {
	font-size: {fontsize="2x_large"};
	font-weight: 400;
	text-align: center;
	margin: 0;
}

.acpLicenseRenewal_desc {
	text-align: center;
	font-size: {fontsize="large"};
	margin-top: 20px;
	opacity: 0.8;
	line-height: 1.5em;
}

#elLicenseRenewal .ipsList_inline {
	margin-top: 15px;
}
