/* Lightbox: the image viewer used throughout the front-end */
.ipsLightbox {
	background: rgba(20,20,20,0.95);
	position: fixed;
	top: 40px;
	bottom: 40px;
	left: 40px;
	right: 40px;
	box-shadow: var(--dialog--boxShadow);
	border-radius: var(--radius-2);
}

.ipsLightbox_imagePanel {
	position: absolute !important; /* required to stop conflicts with ipsLoading */
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}
html[dir="ltr"] .ipsLightbox_imagePanel {
	left: 0px;
	right: 0;
	margin-left: 35px;
	margin-right: 25px;
}
html[dir="rtl"] .ipsLightbox_imagePanel {
	right: 0px;
	left: 0;
	margin-left: 25px;
	margin-right: 35px;
}
	
	html[dir="ltr"] .ipsLightbox_imagePanel.ipsLightbox_withComments {
		right: 350px;
	}
	html[dir="rtl"] .ipsLightbox_imagePanel.ipsLightbox_withComments {
		left: 350px;
	}

	.ipsLightbox_imagePanel .ipsLightbox_image {
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		z-index: 1000;
	}

.ipsLightbox_commentsPanel {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 350px;
	background-color: #fff;
	overflow-y: auto;
}

	/* .ipsLoading adds position: relative; to the element which makes it float to the left behind the lightbox image, 
		so we need to override that here even though we've already defined position: absolute; on ipsLightbox_commentsPanel above */
	.ipsLightbox_commentsPanel.ipsLoading {
		position: absolute;
	}

html[dir="ltr"] .ipsLightbox_commentsPanel {
	right: 0;
}
html[dir="rtl"] .ipsLightbox_commentsPanel {
	left: 0;
}	

	.ipsLightbox_commentsPanel.ipsLoading {
		min-height: 100px;
	}

.ipsLightbox_next, .ipsLightbox_prev {
	font-size: 65px;
	line-height: 65px;
	color: #fff;
	position: absolute;
	top: 50%;
	margin-top: -32px;
	opacity: 0;
	cursor: pointer;
	z-index: 5000;
	transition: opacity 0.3s linear;
	text-shadow: 0px 0px 3px #000;
}

.ipsLightbox_fullSize {
	position: absolute;
	z-index: 4999;
	color: #fff;
	opacity: 0.4;
	text-align: center;
	display: none;
	font-size: 20px;
	cursor: zoom-in;
}
	.ipsLightbox_fullSize i.fa {
		font-size: 80px;
	}

	.ipsLightbox_fullSize:hover {
		color: #fff;
	}

	.ipsLightbox:hover .ipsLightbox_fullSize {
		/*display: block;*/
	}

html[dir="ltr"] .ipsLightbox_next {
	right: 20px;
}
html[dir="ltr"] .ipsLightbox_prev {
	left: 20px;
}
html[dir="rtl"] .ipsLightbox_next {
	left: 20px;
}
html[dir="rtl"] .ipsLightbox_prev {
	right: 20px;
}

.ipsLightbox_imagePanel:hover .ipsLightbox_next,
.ipsLightbox_imagePanel:hover .ipsLightbox_prev {
	opacity: 0.5;
}

.ipsLightbox_imagePanel .ipsLightbox_next:hover, .ipsLightbox_imagePanel .ipsLightbox_prev:hover {
	opacity: 1;
	color: #fff;
}

.ipsLightbox_meta {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #000;
	min-height: 50px;
	z-index: 10000;
	opacity: 0;
	padding: 15px;
	color: #fff;
	transition: all 0.2s linear;
}

	html[dir="ltr"] .ipsLightbox_imagePanel.ipsLightbox_withComments + .ipsLightbox_meta {
		right: 350px;
	}
	html[dir="rtl"] .ipsLightbox_imagePanel.ipsLightbox_withComments + .ipsLightbox_meta {
		left: 350px;
	}

	.ipsLightbox_imagePanel:hover + .ipsLightbox_meta {
		opacity: 1;
	}

.ipsLightbox_close {
	font-size: 38px;
	color: #fff;
	position: absolute;
	top: 10px;
	cursor: pointer;
	z-index: 5000;
}
html[dir="ltr"] .ipsLightbox_close {
	right: 10px;
}
html[dir="rtl"] .ipsLightbox_close {
	left: 10px;
}

	.ipsLightbox_close:hover {
		color: #fff;
	}