/* Additional styles that apply to posts */
/* Author responses to reviews */
.ipsReviewResponse {
	margin-top: var(--sp-4);
	border-left: 2px solid rgb( var(--theme-area_background) );
}

html[dir="ltr"] .ipsReviewResponse {
	margin-left: var(--sp-4);
}
html[dir="rtl"] .ipsReviewResponse {
	margin-right: var(--sp-4);
}

.cMemberNewBadge .fa {
	color: gold;
}

