/* PHONES */
@media screen and (max-width: 767px) {
	#elClubHeader {
		position: relative;
	}
	
	#elClubHeader .cClubIcon {
		position: absolute;
		top: -11px;
		left: 50%;
	}
		html[dir="ltr"] #elClubHeader .cClubIcon {
			margin-left: -35px;
		}
		html[dir="rtl"] #elClubHeader .cClubIcon {
			margin-right: -35px;
		}

	#elClubHeader .ipsUserPhoto_medium {
		width: 70px;
		height: 70px;
	}

	#elClubHeader .cClubHeaderInfo {
		text-align: center;
	}

	#elClubHeader [data-action="editPhoto"] {
		top: -35px;
	}
		html[dir="ltr"] #elClubHeader [data-action="editPhoto"] {
			left: -5px;
		}
		html[dir="rtl"] #elClubHeader [data-action="editPhoto"] {
			right: -5px;
		}

		#elClubControls .ipsTabs [data-action='expandTabs'] {
			top: 0;
		}

	#elMyClubsActivity .ipsStream {
		margin-top: 10px;
	}
	
	#elMyClubsActivity .ipsPhotoPanel.ipsPhotoPanel_mini > div {
		margin-top: -50px;
	}
	
	html[dir] #elMyClubsActivity .ipsStreamItem .ipsPhotoPanel > .ipsUserPhoto {
		margin-top: 0;
	}
	
	.cClubCard .ipsPageHead_special .ipsUserPhoto_medium img, 
	.cClubCard .ipsPageHead_special img.ipsUserPhoto_medium, 
	.cClubCard .ipsPageHead_special .ipsUserPhoto_medium:after {
		width: 50px;
		height: 50px;
	}

	.cClubCard .ipsPageHead_special .ipsUserPhoto {
		width: auto;
		height: auto;
		top: 40px;
	}

	html[dir="ltr"] .cClubCard .cClubCard_info {
		margin-left: 75px;
	}
	html[dir="rtl"] .cClubCard .cClubCard_info {
		margin-right: 75px;
	}

	html[dir="ltr"] .cClubCard .ipsPageHead_special .cClubCard_title, 
	html[dir="ltr"] .cClubCard .ipsPageHead_special p {
		left: 75px;
	}
	html[dir="rtl"] .cClubCard .ipsPageHead_special .cClubCard_title, 
	html[dir="rtl"] .cClubCard .ipsPageHead_special p {
		right: 75px;
	}

	.cClubCard .ipsPageHead_special .cClubCard_title {
		top: 50px;
		font-size: 20px;
		max-width: calc(100% - 90px);
	}

	#elContextualTools .cClubHeader {
		flex-basis: 100%;
	}
}