/* PHONES */
@media screen and (max-width: 767px) {
	#elMessageList {
		max-height: 100%;
		min-height: 0;
		overflow: visible;
	}

	html[dir="ltr"] #elMessageSidebar .ipsCommentCount {
		margin-right: 0;
	}
	html[dir="rtl"] #elMessageSidebar .ipsCommentCount {
		margin-left: 0;
	}
	
	html[dir="ltr"] #elMessageViewer {
		padding-left: 0;
	}
	html[dir="rtl"] #elMessageViewer {
		padding-right: 0;
	}

		#elMessageViewer .ipsType_pageTitle {
			clear: both;
			margin-top: 25px;
		}

		#elMessageViewer .ipsComment {
			padding: 0;
		}

	.cMessage_members {
		padding-top: 10px;
	}

	.cMessage_members > ol > li {
		display: block;
		border-bottom: 1px solid rgba( var(--theme-text_color), 0.1 );
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	html[dir="ltr"] .cMessage_members > ol > li {
		border-right: 0;
		margin-right: 0;
	}
	html[dir="rtl"] .cMessage_members > ol > li {
		border-left: 0;
		margin-left: 0;
	}

	.cMessage_members > ol > li:last-child {
		margin-bottom: 0;
		border-bottom: 0;
		padding-bottom: 0;
		padding-right: 0;
	}
	html[dir="ltr"] .cMessage_members > ol > li:last-child {
		padding-right: 0;
	}
	html[dir="rtl"] .cMessage_members > ol > li:last-child {
		padding-left: 0;
	}

	.cMessage_members [data-role="addUserItem"] .ipsButton {
		width: 100%;
		line-height: 28px;
	}

	#elMessage_compose {
		float: right;
	}
	html[dir="rtl"] #elMessage_compose {
		float: left;
	}

	.cMessage > .ipsDataItem_main {
		margin-right: 75px;
	}

	.cMessage > .ipsDataItem_generic {
		width: 75px;
		display: inline-block;
		position: absolute;
		top: 7px;
	}

	.ipsMessageRow {
		width: 85%;
	}

}

/* Phones and tablets */
@media screen and (max-width: 979px) {
	.ipsColumn[data-role="filterBar"], .ipsColumn[data-role="filterContent"] {
		padding-right: 0px;
		padding-left: 0px;
	}
}