html[dir="ltr"] #elMessageHeader {
	border-bottom-left-radius: 0;
}
html[dir="rtl"] #elMessageHeader {
	border-bottom-right-radius: 0;
}

#elMessageSidebar {
	position: relative;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: calc( var(--sp-5) * -1 );
}

	#elMessageList  {
		overflow-y: auto;
		max-height: 500px;
		min-height: 500px;
	}

	#elMessageSidebar > .slimScrollDiv {
		clear: both;
	}

#elMessageSidebar .ipsDataItem_title {
	margin-bottom: 0;
}

#elMessageSidebar .cMessageTitle {
	display: inline-block;
	line-height: 1.3;
}
	#elMessageSidebar .cMessageTitle_unread {
		font-weight: bold;
	}

#elMessageSidebar [data-role="messageSearch"] {
	position: relative;
}

	#elMessageSidebar [data-action="messageSearchCancel"] {
		position: absolute;
		top: 0;
		text-align: center;
		line-height: 32px;
		color: inherit;
		height: 32px;
		width: 32px;
		font-size: 16px;
	}
	html[dir="ltr"] #elMessageSidebar [data-action="messageSearchCancel"] {
		right: 20%;
	}
	html[dir="rtl"] #elMessageSidebar [data-action="messageSearchCancel"] {
		left: 20%;
	}
	
	#elMessageSidebar [data-role="messageSearchText"] {
		width: 80%;
	}

.cMessage {}
	
	html[dir="ltr"] .cMessage {
		border-right: 3px solid transparent;
	}
	html[dir="rtl"] .cMessage {
		border-left: 3px solid transparent;
	}
	html[dir="ltr"] .cMessage .ipsDataItem_generic {
		padding-left: 0px;
	}
	html[dir="rtl"] .cMessage .ipsDataItem_generic {
		padding-right: 0px;
	}

	.cMessage.ipsDataItem_unread {
		background-color: rgb(var(--theme-area_background_light));
	}
/* Pending removal since this HTML doesn't exist */
/*
#elMessageList > ol > .cMessage:last-child {
	border-bottom: 2px solid #fff;
}
*/

.cMessage_active {
	background: rgb( var(--theme-selected) ) !important;
	position: relative;
}

.cMessageParticipants {
	font-size: {fontsize="10"};
	color: rgb( var(--theme-text_light) );
}

.cMessage_members {
	margin-top: 10px;
	line-height: 16px;
	position: relative;
	padding-bottom: 0;
}
	
	.cMessage_members .ipsField_autocomplete {
		margin-bottom: 10px;
	}
	
	.cMessage_members > ol > li {
		border-radius: 2px;
	}
	html[dir="ltr"] .cMessage_members > ol > li {
		border-right: 2px solid rgba( var(--theme-text_color), 0.1 );
		padding-right: 15px;
		margin: 7px 15px 7px 0;
	}
	html[dir="rtl"] .cMessage_members > ol > li {
		border-left: 2px solid rgba( var(--theme-text_color), 0.1 );
		padding-left: 15px;
		margin: 7px 0 7px 15px;
	}
		
		.cMessage_members > ol {
			padding-bottom: 0;
		}

		html[dir="ltr"] .cMessage_members > ol > li:last-child {
			border-right: 0;
		}
		html[dir="rtl"] .cMessage_members > ol > li:last-child {
			border-left: 0;
		}

.cMessage_leftConvo {
	opacity: 0.5;
}

.cMessage_noSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

#elAddParticipants {
	width: 28px;
	height: 28px;
	line-height: 28px;
	border-radius: 15px;
	text-align: center;
	padding: 0;
	border: 0;
}

	#elAddParticipants a {
		color: inherit;
	}