html[dir="ltr"] body {
	margin-right: 300px;
}
html[dir="rtl"] body {
	margin-left: 300px;
}

#elMetaTagEditor {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;	
	overflow: auto;
}
html[dir="ltr"] #elMetaTagEditor {
	right: 0;
}
html[dir="rtl"] #elMetaTagEditor {
	left: 0;
}

#elMetaTagEditor::after{
	content: '';
	display: block;
	height: 90px;
}

#elMetaTagEditor.ipsToolbox .ipsToolbox_sectionTitle {
	margin: 0 -15px 15px;
}	

#elMetaTagEditor_customTags > li, #elMetaTagEditor_defaultTags > li {
	padding-bottom: 20px;
	margin-bottom: 20px;
}

	#elMetaTagEditor_customTags > li:last-child, #elMetaTagEditor_defaultTags > li:last-child {
		margin-bottom: 0;
	}

	#elMetaTagEditor_customTags li.ipsFieldRow:not( :last-child ), #elMetaTagEditor_defaultTags li.ipsFieldRow:not( :last-child ) {
		margin-bottom: 4px;
	}

#elMetaTagEditor_submit {
	position: fixed;
	bottom: 0;
	width: 300px;
	background: #000;
	min-height: 90px;
}

	#elMetaTagEditor_submit .ipsFlex{
		min-height: 100%;
	}

html[dir="ltr"] #elMetaTagEditor_submit {
	right: 0;
}
html[dir="rtl"] #elMetaTagEditor_submit {
	left: 0;
}