.cNotificationBox .ipsPhotoPanel {
	padding: 10px 15px;
}

	.cNotificationBox .ipsPhotoPanel > .fa {
		font-size: 24px;
	}

.cNotificationSettings_expand {
	width: 15px;
	line-height: 44px;
	margin-right: 20px;
}

.cNotificationMethodIcon {
	width: 60px;
	float: left;
}
.cNotificationMethodIcon img {
	width: 100%;
}
.cNotificationMethodDetails {
	overflow: hidden;
	padding-left: 15px;
}