/* BOTH */
@media screen and (max-width: 979px) {
	#elUserReputation .ipsDataList .ipsDataItem_generic,
	#elUserReputation .ipsDataList .ipsDataItem_main {
		display: table-cell;
	}


	#elProfileHeader .ipsColumn_narrow {
		width: 70px;
	}

	#elProfileHeader .ipsUserPhoto_xlarge {
		width: 70px;
		height: 70px;
	}

	#elProfileStats {
		padding-left: 20px;
		padding-right: 20px;
	}

	#elProfilePhoto [data-action="editPhoto"] {
		bottom: 10px;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {

	html[dir="ltr"] .cSearchActivity .ipsDataItem_main {
		margin-left: 0;
	}
	html[dir="rtl"] .cSearchActivity .ipsDataItem_main {
		margin-right: 0;
	}

		html[dir="ltr"] .cSearchActivity .cSearchActivity_info {
			border-left: 0;
			padding-left: 0;
			margin-left: 0;
		}
		html[dir="rtl"] .cSearchActivity .cSearchActivity_info {
			border-right: 0;
			padding-right: 0;
			margin-right: 0;
		}

	/* Header stuff */
	#elProfileHeader {
		padding-bottom: 15px;
	}

	#elProfileHeader, #elProfileHeader.cProfileHeaderMinimal {
		padding-top: 10px !important;
		height: auto !important;
	}

		#elProfileHeader .ipsColumn {
			padding: 0;
			margin: 0;
		}

		#elProfileHeader .ipsColumn_narrow {
			width: 100%;
			margin-bottom: 5px;
		}

		#elProfileHeader .ipsUserPhoto {
			width: 60px;
			height: 60px;
			display: block;
			margin: 0 auto;
		}

		#elProfileHeader h1 {
			font-size: 24px;
			line-height: 1.2;
			margin-bottom: 5px;
		}

		#elProfileHeader .cProfileHeader_name span {
			font-size: 14px;
		}

		#elProfileHeader .cProfileHeader_history {
			float: none;
			font-size: 14px;
			vertical-align: text-top;
		}

	#elProfilePhoto [data-action="editPhoto"] {
		top: 0;
		bottom: auto;
	}
	
	.cProfileHeader_name {
		float: none;
		text-align: center;
	}
	/* Fixes centering issue with profile usernames */
	
	html[dir="ltr"] .cProfileHeader_name {
		margin-right: 0;
	}
	
	html[dir="rtl"] .cProfileHeader_name {
		margin-left: 0;
	}

	#elProfileStats {
		height: auto;
	}

		#elProfileStats.cProfileHeaderContent {
			display: none;
		}

	#elProfileStats > ul > li {
		display: block;
		margin-bottom: 10px;
	}

		html[dir] #elProfileStats > ul:last-child {
			margin-top: calc( var(--sp-1) * -1 );
			margin-bottom: calc( var(--sp-1) * -1 );
		}

		html[dir] #elProfileStats > ul:last-child > li {
			margin: var(--sp-1) 0;
			padding: 0;
			border: 0;
			width: 50%;
		}

	/* Streams */
	.ipsStream {
		margin-top: 10px;
	}

	html[dir] .ipsStream:not( .ipsStream_withTimeline ) .ipsStreamItem_contentType {
		top: 25px;
	}
	html[dir="ltr"] .ipsStream:not( .ipsStream_withTimeline ) .ipsStreamItem_contentType {
		left: 34px;
	}
	html[dir="rtl"] .ipsStream:not( .ipsStream_withTimeline ) .ipsStreamItem_contentType {
		right: 34px;
	}

	#elProfileTabs_content .ipsStreamItem .ipsPhotoPanel > .ipsUserPhoto,
	#elProfileTabs_content .ipsStreamItem .ipsPhotoPanel > .ipsStreamItem_contentType,
	#elProfileUserContent .ipsStreamItem .ipsPhotoPanel > .ipsUserPhoto,
	#elProfileUserContent .ipsStreamItem .ipsPhotoPanel > .ipsStreamItem_contentType {
		display: none;
	}
}