/* ! Referrals */
@media screen and (min-width: 980px) {
  .cReferrals_grid .sSection {
    padding: 8rem 0 8rem;
  }

  .cReferrals_grid .cReferrals_grid_row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .cReferrals_grid .cReferrals_grid_item {
    margin-right: 20px;
    max-width: 32%;
  }
}
