/* Search form */
.cSearchMainBar .ipsType_huge.fa {
	font-size: 36px;
	line-height: 1;
}

.cSearchPretendButton {
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
	background: transparent;
}

.cSearchWrapper{
	position: relative;
}

	html[dir="ltr"] #elMainSearchInput {
		padding-right: 128px;
	}
	html[dir="rtl"] #elMainSearchInput {
		padding-left: 128px;
	}

	.cSearchWrapper__button{
		position: absolute;
		top: 0; right: 0; bottom: 0;
		display: flex;
		align-items: center;
		padding: 0 7px;
	}

/* Member search results */
.cStream_members .ipsStreamItem {
	margin-top: 10px !important;
}

.cStream_members .ipsUserPhoto {
	margin-top: calc( ( var(--sp-5) + var(--sp-3) ) * -1 );
	box-shadow: 0 0 0 5px rgb( var(--theme-area_background_reset) );
}

.cStream_members .ipsGrid_span6 {
	margin-bottom: 0;
}