#elSettingsTabs > .ipsColumns {
	min-height: 250px;
}

html[dir="ltr"] #elSettingsTabs > .ipsColumns > .ipsColumn_wide {
	padding-right: 0;
}
html[dir="rtl"] #elSettingsTabs > .ipsColumns > .ipsColumn_wide {
	padding-left: 0;
}

body[data-pagecontroller="settings"] div[data-role="wizardContent"] form div.ipsPad {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

body[data-pagecontroller="settings"] .ipsButton_link {
	border: none;
}

.cLoginServiceIcon {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.cLoginServiceIcon img {
	max-height: 16px;
	max-width: 30px;
    filter: brightness(20%);
}

.ipsSideMenu_itemActive .cLoginServiceIcon img {
	filter: brightness(100%);
}