/* PHONES */
@media screen and (max-width: 767px) {
	.cStreamFilter {
		display: block;
		padding: 0 var(--sp-5);
	}
	
		.cStreamFilter > li {
			width: auto;
			float: none;
		}
		
		.cStreamFilter > li > a {
			border-right: 0;
			border-bottom: 1px solid rgba(0,0,0,0.1);
			padding: 7px 0;
		}
			
			.cStreamFilter > li > a.cStreamFilter_active {
				margin: 0 -5px;
				padding: 7px 5px;
			}
			
		.cStreamFilter > li > a:after {
			right: 7px;
			top: 15px;
		}

	#elStreamFilterForm [data-role="saveButtonContainer"] > li {
		display: block;
		text-align: center;
		margin: 0 0 5px 0;

	}

		#elStreamFilterForm [data-role="saveButtonContainer"] > li .ipsButton {
			display: block;
			width: 100%;
		}
}