/* BOTH */
@media screen and (max-width: 979px) {
	.cAuthorPane {
		margin-bottom: 0 !important;
	}

	.cTopicList .cBestAnswerIndicator {
		width: 18px;
		height: 18px;
		line-height: 18px;
		font-size: 11px;
	}

	.cTopicList .ipsDataItem_icon {
		min-width: 25px;
	}

	html[dir="ltr"] .cTopicList .ipsDataItem_icon + .ipsDataItem_main, 
	html[dir="ltr"] .cTopicList .ipsDataItem_icon + .ipsDataItem_main + .ipsDataItem_stats {
		margin-left: var(--sp-6) !important;
	}
	html[dir="rtl"] .cTopicList .ipsDataItem_icon + .ipsDataItem_main, 
	html[dir="rtl"] .cTopicList .ipsDataItem_icon + .ipsDataItem_main + .ipsDataItem_stats {
		margin-right: var(--sp-6) !important;
	}

	.cTopicList .ipsDataItem_main {
		padding: 0;
	}
	
	.cForumFluidTable .ipsDataItem_stats {
		min-width: 130px !important;
	}

	/* Fluid view juggling */
	html[dir="ltr"] .cForumFluidTable .ipsDataItem_modCheck {
		position: absolute;
		bottom: var(--sp-3);
		right: var(--sp-3) !important;
		left: auto !important;
	}
	
	html[dir="rtl"] .cForumFluidTable .ipsDataItem_modCheck {
		position: absolute;
		left: var(--sp-3) !important;
		right: auto !important;
	}
	
	/* User photo */
	html[dir="ltr"] .cForumFluidTable .cTopicList .ipsDataItem_icon {
		left: 5px;
		top: 15px;
		position: absolute;
	}
	
	html[dir="rtl"] .cForumFluidTable .cTopicList .ipsDataItem_icon {
		right: 5px;
		top: 15px;
		position: absolute;
	}
	
	/* Unread dot */
	.cForumFluidTable .ipsItemStatus {
		position: absolute;
		top: 55px;
		width: 38px;
		text-align: center;
	}
	html[dir="ltr"] .cForumFluidTable .ipsItemStatus {
		left: 5px;
	}
	
	html[dir="rtl"] .cForumFluidTable .ipsItemStatus {
		right: 5px;
	}
	
	html[dir="ltr"] .cForumFluidTable .cTopicList .ipsDataItem_icon + .ipsDataItem_main, html[dir="ltr"] .cForumFluidTable .cTopicList .ipsDataItem_icon + .ipsDataItem_main + .ipsDataItem_stats {
		margin-left: 40px !important;
	}
	
	html[dir="rtl"] .cForumFluidTable .cTopicList .ipsDataItem_icon + .ipsDataItem_main, html[dir="rtl"] .cForumFluidTable .cTopicList .ipsDataItem_icon + .ipsDataItem_main + .ipsDataItem_stats {
		margin-right: 40px !important;
	}
	
	html[dir="ltr"] .cForumFluidTable .ipsDataItem.ipsDataItem_responsivePhoto .ipsDataItem_main {
		margin-right: 10px !important;
	}
	
	html[dir="rtl"] .cForumFluidTable .ipsDataItem.ipsDataItem_responsivePhoto .ipsDataItem_main {
		margin-left: 10px !important;
	}

	.cForumMiniList_wrapper {
		display: none;
	}

		.cForumMiniList_wrapper .ipsSideMenu {
			border: 0;
		}

	.ipsDialog .cForumMiniList_wrapper,
	.cForumMiniList {
		display: block !important;
	}

	.ipsDialog #elFluidFormFilters {
		padding: 10px 15px 15px;
		border: 0;
		margin-top: 10px;
	}

	/* loading styles */
	.cForumFluidTable .ipsDataItem.ipsDataItem_loading {
		padding-left: 0;
		padding-right: 0;
	}

	html[dir="ltr"] .cForumFluidTable .ipsDataItem_loading > div > span:last-child {
		right: 15px;
	}
	html[dir="rtl"] .cForumFluidTable .ipsDataItem_loading > div > span:last-child {
		left: 15px;
	}
}

/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.cForumQuestion .ipsDataItem_main {
		width: 100%;
		padding-left: 5px !important;
	}

	.cForumQuestion .ipsDataItem_main,
	.cForumQuestion .cForumQuestion_stat {
		display: table-cell;
	}
	.cForumQuestions .cForumQuestion .cForumQuestion_stat + .ipsDataItem_modCheck {
		position: absolute;
		top: 40px;
		padding: 0 4px;
	} 
}

/* PHONES */
@media screen and (max-width: 767px) {
	/* Forum grid layout */
	.ipsForumGrid{
		--ipsForumGrid--width: 200px;
	}

	.cAuthorPane_mobile {
		display: flex;
		align-items: center;
		position: relative;
		padding: var(--sp-5) var(--sp-4) var(--sp-3);
	}

		.cAuthorPane_photo{
			flex: 0 0 auto;
			margin: 0;
		}

		.cAuthorPane_content{
			flex: 1 1 0;
			min-width: 0;
		}

	.cAuthorPane_badge {
		bottom: -3px;
		font-size: 22px;
	}

		html[dir='ltr'] .cAuthorPane_badge{
			left: auto;
			right: 0;
		}

		html[dir='rtl'] .cAuthorPane_badge{
			right: auto;
			left: 0;
		}

	.cPost.ipsComment .ipsUserPhoto {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 0;
	}

		[dir='ltr'] .cAuthorPane_mobile .cAuthorPane_photo{
			margin-right: var(--sp-3);
		}
		[dir='rtl'] .cAuthorPane_mobile .cAuthorPane_photo{
			margin-left: var(--sp-3);
		}

	.cPost.ipsComment .cAuthorPane_author {
		line-height: 16px;
		max-width: calc(100% - 15px);
		margin: 0;
	}

		.cPost.ipsComment .cAuthorPane_author > a 	{
			font-size: {fontsize="base"};
			line-height: {fontsize="large"};
			font-weight: bold;
		}

	.cPost .ipsComment_meta {
		padding: 0;
		position: absolute;
		top: -46px;
	}
		html[dir="ltr"] .cPost .ipsComment_meta {
			right: 0;
		}
		html[dir="rtl"] .cPost .ipsComment_meta {
			left: 0;
		}

	/* Normal comments have an absolutely-positioned toolbox, but we need to revert that for posts */
	/* since ipsComment_meta contains the tools in forums and is itself abs positioned (above) */
	html[dir] .cPost .ipsComment_toolWrap {
		position: relative;
		left: 0;
		right: 0;
	}
	
	/* on popular posts we show a flag, so we need to adjust positioning for that */
	.cPost.ipsComment.ipsComment_popular .ipsComment_popularFlag {
		top: -60px;
		height: 55px;
		padding-top: 18px;
	}

	html[dir] .ipsComment.ipsComment_popular [data-role="commentContent"] {
		padding-right: 0;
		padding-left: 0;
	}

	/* Q&A-specific changes */
	.cPost.cPostQuestion {
		margin-bottom: 20px;
	}

	.cPost .cRatingColumn {
		margin-bottom: 0 !important;
		padding: var(--sp-4) var(--sp-4) var(--sp-2) var(--sp-4) !important;
	}

		.cPost .cRatingColumn ul.cPostRating_controls li {
			display: inline-block;
			float: left;
		}

		.cPost .cRatingColumn ul.cPostRating_controls .cPostRating_bestAnswer {
			float: right;
		}

		.cPost .cRatingColumn .cAnswerRate {
			font-size: 40px;
		}

		.cPost .cRatingColumn .cAnswerRate.cAnswerRate_up {
			top: -1px;
		}

		.cPost .cRatingColumn .cAnswerRating {
			margin: 0 10px;
			font-size: 16px;
			font-weight: bold;
		}

		.cPost .cRatingColumn .cBestAnswerIndicator {
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 15px;
		}

	/* ---- */

	.cForumGrid .cForumGrid_forumInfo.ipsPad {
		padding: 15px;
	}

	html[dir] .cPost .cPost_contentWrap {
		padding: var(--sp-2) 0 0 0;
	}

	html[dir] .cPost .ipsComment_content {
		padding-left: var(--sp-4);
		padding-right: var(--sp-4);
		position: static;
	}
	
	.cPost .cAuthorPane + .ipsColumn {
		margin-bottom: 0;
	}

	html[dir="ltr"] .cTopic .ipsComment.ipsComment_ignored {
		padding-left: 7px;
	}
	html[dir="rtl"] .cTopic .ipsComment.ipsComment_ignored {
		padding-right: 7px;
	}

	/* Forum view */
	.cForumRow .ipsItemStatus_custom {
		max-width: 26px;
	}

	html[dir="ltr"] .cForumQuestions.cTopicList .ipsDataItem_main {
		margin-left: 40px;
	}
	html[dir="rtl"] .cForumQuestions.cTopicList .ipsDataItem_main {
		margin-right: 40px;
	}

	.cForumQuestions.cTopicList .cForumQuestion_stat {
		display: inline-block !important;
	}

	.cForumQuestions .cForumQuestion .cForumQuestion_stat,
	.cForumQuestions .cForumQuestion .cForumQuestion_stat span:first-child {
		display: inline-block;
		min-width: 0;
		color: inherit;
	}

		.cForumQuestions .cForumQuestion .cForumQuestion_stat span {
			font-size: 13px;
			color: inherit;
			font-weight: bold;
		}

		html[dir="ltr"] .cForumQuestions .cForumQuestion .ipsDataItem_modCheck,
		html[dir="ltr"] .cForumQuestions .cForumQuestion .ipsDataItem_main + .cForumQuestion_stat {
			margin-left: 30px;
		}
		html[dir="rtl"] .cForumQuestions .cForumQuestion .ipsDataItem_modCheck,
		html[dir="rtl"] .cForumQuestions .cForumQuestion .ipsDataItem_main + .cForumQuestion_stat {
			margin-right: 30px;
		}

			.cForumQuestions .cForumQuestion .cForumQuestion_stat + .ipsDataItem_modCheck {
				position: absolute;
				top: 50px;
			} 
			html[dir="ltr"] .cForumQuestions .cForumQuestion .cForumQuestion_stat + .ipsDataItem_modCheck {
				left: -15px;
			}
			html[dir="rtl"] .cForumQuestions .cForumQuestion .cForumQuestion_stat + .ipsDataItem_modCheck {
				right: -15px;
			}

			html[dir="ltr"] .cForumQuestions .cForumQuestion .cForumQuestion_stat + .cForumQuestion_stat {
				margin-left: 10px;
			}
			html[dir="rtl"] .cForumQuestions .cForumQuestion .cForumQuestion_stat + .cForumQuestion_stat {
				margin-right: 10px;
			}
}

@media (max-width: 400px){
	/* Forum grid layout */
	.ipsApp .ipsForumGrid{
		--ipsForumGrid--width: 200px;
	}
}