/* BOTH */
@media screen and (max-width: 979px) {
	/* Make the unread indicators larger on mobile */
	.ipsItemStatus:not( .ipsItemStatus_large ),
	.ipsItemStatus.ipsItemStatus_tiny,
	.ipsItemStatus.ipsItemStatus_small {
		vertical-align: initial;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
	.ipsBadge.ipsBadge_icon {
		width: 19px;
		height: 19px;
		line-height: 19px;
		font-size: 11px;
	}

	.ipsBadge.ipsBadge_icon.ipsBadge_small {
		line-height: 18px;
	}
}