/* PHONES */
@media screen and (max-width: 767px) {

	html[dir="ltr"] .ipsComment_content,
	html[dir="ltr"] .ipsComment_subComments .ipsComment_content {
		margin-left: 0;
	}
	html[dir="ltr"] .ipsComment_content,
	html[dir="ltr"] .ipsComment_subComments .ipsComment_content {
		margin-right: 0;
	}

	html[dir="ltr"] .ipsComment_subComments {
		margin-left: 0;
		padding: 15px 0 0 0;
	}
	html[dir="rtl"] .ipsComment_subComments {
		margin-right: 0;
		padding: 15px 0 0 0;
	}

	.ipsComment_parent > .ipsComment > .ipsComment_content:before {
		display: none;
	}

	.ipsComment [data-role="commentContent"] {
		margin-bottom: 10px;
	}

	/* Recommended comments */
	.ipsRecommendedComments .ipsType_sectionHead {
		margin-top: 0;
	}

	.ipsComment_recommended .ipsColumn_narrow .ipsUserPhoto {
		float: left;
		margin-right: 7px;
	}

		.ipsComment_recommended .ipsColumn_narrow .ipsUserPhoto {
			width: 30px;
			height: 30px;
		}

	.ipsRecommendedComments .ipsColumn_medium,
	.ipsComment_recommended .ipsColumn_narrow {
		margin-bottom: 0 !important;
	}

	.ipsComment_recommended .ipsComment_meta {
		padding-top: 7px;
		padding-bottom: 15px;
		border-bottom: 1px solid rgba( var(--theme-text_color), 0.1 );
	}

	.ipsComment_recommended .ipsType_richText {
		clear: both;
		margin-top: 15px;
	}

	html[dir="ltr"] .ipsComment_recommendedNote {
		margin-left: 5px;
	}
	html[dir="rtl"] .ipsComment_recommendedNote {
		margin-right: 5px;
	}

	.ipsTabs_panel .ipsRecommendedComments {
		/*margin: -7px -7px 7px -7px;*/
		margin: 0 0 7px 0;
	}

	.ipsComment_recommended hr.ipsHr {
		margin: 7px 0;
	}

	.ipsComment_recommendedFlag {
		transform: rotateY(180deg);
	}
	html[dir="ltr"] .ipsComment_recommendedFlag {
		right: -2px;
		left: auto;
	}
	html[dir="rtl"] .ipsComment_recommendedFlag {
		left: -2px;
		right: auto;
	}

	.ipsComment_toolWrap {
		position: absolute;	
	}
		html[dir="ltr"] .ipsComment_toolWrap {
			right: var(--sp-5);
		}
		html[dir="rtl"] .ipsComment_toolWrap {
			left: var(--sp-5);
		}
}