/* BOTH */
@media screen and (max-width: 979px) {
	
}

@media screen and (max-width: 767px) {
	.ipsApp .ipsComposeArea .ipsToolList .ipsComposeArea_formControl {
		margin: var(--sp-3);
		margin-top: 0;
		display: inline-block;
		float: none !important;
		vertical-align: top;
	}

	/* Hide photo and arrow */
	.ipsComposeArea > .ipsUserPhoto,
	.ipsComposeArea_editor:before {
		display: none;
	}

	/* Make editor box take up whole width */
	html[dir="ltr"] .ipsComposeArea.ipsComposeArea_withPhoto .ipsComposeArea_editor {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsComposeArea.ipsComposeArea_withPhoto .ipsComposeArea_editor {
		margin-right: 0;
	}

		.ipsComposeArea.ipsComposeArea_withPhoto .ipsComposeArea_editor:before {
			display: none;
		}

	html[dir="ltr"] .ipsComposeArea_warning {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsComposeArea_warning {
		margin-right: 0;
	}

	.ipsComposeArea_dropZone .fa-paperclip {
		font-size: 24px;
		margin-top: var(--sp-1);
	}
	.ipsComposeArea_dropZone .fa-clipboard {
		font-size: 19px;
	}

	html[dir="ltr"] .ipsComposeArea_dropZone > div {
		margin-left: 30px;
	}
	html[dir="rtl"] .ipsComposeArea_dropZone > div {
		margin-right: 30px;
	}
}