/* BOTH */
@media screen and (max-width: 979px) {

	#elSiteTitle, #elLogo{
		height: var(--responsive-header--height);
	}

		#elLogo img {
			max-height: var(--responsive-logo--height);
		}

	#elMobileNav{
		background: rgb( var(--theme-main_nav) );
		color: rgb( var(--theme-main_nav_font) );
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		list-style: none;
		margin: 0;
		padding: 0;
	}

		#elMobileBreadcrumb{
			position: relative;
			flex: 0 1 auto;
			line-height: 30px;
			font-size: 11px;
			font-weight: 700;
			min-width: 40px;
			border-radius: 5px;
			background-color: rgba(0,0,0,0.25);
			border-color: rgba(0,0,0,0.25);
			color: inherit;
		}

			html[dir='ltr'] #elMobileBreadcrumb{
				margin-left: 30px;
				margin-right: auto;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				padding-right: 10px;
				left: -10px;
			}

			html[dir='rtl'] #elMobileBreadcrumb{
				margin-right: 30px;
				margin-left: auto;
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
				padding-left: 10px;
				right: -10px;
			}

			#elMobileBreadcrumb a {
				max-width: none;
				display: block;
				position: relative;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				word-break: normal;
				color: inherit;
			}

			#elMobileBreadcrumb::before {
				position: absolute;
				overflow: hidden;
				content: '';
				top: 50%;
				border: 14px solid transparent;
				border-left-color: inherit;
				border-bottom-color: inherit;
				border-radius: 12px;
				border-bottom-left-radius: 3px;
				z-index: 0;
			}
			html[dir="ltr"] #elMobileBreadcrumb:before {
				left: 0;
				transform: translate(-50%, -50%) scaleX(0.7) rotate(45deg);
			}
			html[dir="rtl"] #elMobileBreadcrumb::before {
				right: 0;
				transform: translate(50%, -50%) scaleX(0.7) rotate(-135deg);
			}

		#elMobileNav li:not( #elMobileBreadcrumb ) a {
			width: 44px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			font-size: 22px;
			position: relative;
			display: block;
			color: inherit;
			opacity: .7;
		}

		#elMobileNav .ipsNotificationCount {
			top: 6px;
		}
		html[dir="ltr"] #elMobileNav .ipsNotificationCount {
			right: 6px;
		}
		html[dir="rtl"] #elMobileNav .ipsNotificationCount {
			left: 6px;
		}

	.elMobileDrawer__user{
		padding: var(--sp-4) var(--sp-6) var(--sp-4) var(--sp-4);
		border-bottom: 1px solid rgba( var(--theme-text_color), 0.1 );
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		background: rgb( var(--theme-area_background_reset) );
		z-index: 100;
	}

	/* Search */
	#elSearch {
		display: none; /* ...and hide search elem by default... */
		height: 40px;
	}

		body.cSearchOpen #ipsLayout_header > nav {
			display: block;
			height: 40px; /* ...but set to 40px height when search is showing, because that's in the header element */
		}

		body.cSearchOpen #ipsLayout_header > nav .ipsLayout_container {
			padding: 0;
		}

		body.cSearchOpen #ipsLayout_header .ipsNavBar_primary {
			margin-bottom: 0;
			top: 0;
		}

		body.cSearchOpen #elSearch {
			display: block;
			opacity: 1;
			width: 100%;
			margin: 0;
			transition: opacity 0.2s ease-out;
		}

			body.cSearchOpen #elSearch input[type="search"] {
				line-height: 40px;
				height: 40px;
			}

			body.cSearchOpen #elSearch button {
				font-size: 22px;
				line-height: 36px;
			}

		body.cSearchOpen #elSearch #elSearchFilter {
			display: block;
			line-height: 40px;
			border-radius: 0;
			font-size: 12px;
		}

		body.cSearchOpen #elSearchField {
			width: auto;
		}
		html[dir="ltr"] body.cSearchOpen #elSearchField {
			left: 115px;
		}
		html[dir="rtl"] body.cSearchOpen #elSearchField {
			right: 115px;
		}

	/* Code and pre need to wrap */
	code, pre {
		white-space: pre-wrap;
		word-break: break-word;
	}

	#elQueryLog, #elCachingLog {
		display: none !important;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
	body {
		font-size: 13px;
	}


	#elFlashMessage {
		width: 100%;
		padding: 7px;
	}
	html[dir="ltr"] #elFlashMessage {
		left: auto;
		margin-left: 0;
	}
	html[dir="rtl"] #elFlashMessage {
		right: auto;
		margin-right: 0;
	}
	
	.acpLicenseRenewal {
		padding: 20px;
	}
	
	.acpLicenseRenewal_content {
		padding: 20px;
	}
}

/* GOOGLE AD CODE FOR RESPONSIVE ADS */
#ipsLayout_mainArea .adsbygoogle { width: 320px; height: 100px; }
@media (min-width:500px) { #ipsLayout_mainArea .adsbygoogle { width: 468px; height: 60px; } }
@media (min-width:1050px) { #ipsLayout_mainArea .adsbygoogle { width: 728px; height: 90px; } }