/* TABLETS */
@media screen and (min-width: 768px) and (max-width: 979px) {

	/* Fixed column sizing */
	.ipsColumns.ipsColumns_collapseTablet {
		width: 100%;
		display: block;
	}
	html[dir="ltr"] .ipsColumns.ipsColumns_collapseTablet {
		padding-right: 0;
	}
	html[dir="rtl"] .ipsColumns.ipsColumns_collapseTablet {
		padding-left: 0;
	}

	.ipsColumns.ipsColumns_collapseTablet > .ipsColumn:not( .ipsHide ) {
		display: block;
		position: relative;
		margin: 15px 0;
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
	}

	.ipsLayout_contentSection {
		padding: 15px;
	}

	.ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"] {
		width: 100%;
	}
	html[dir="ltr"] .ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"] {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"] {
		margin-right: 0;
	}
}

/* BOTH */
@media screen and (max-width: 979px) {

	#ipsLayout_mainArea > .ipsPageHeader:first-child {
		padding: 7px 0;
		margin-top: -5px;
	}
	
	.ipsLayout_container {
		padding: 0 15px;
	}

	{{if !theme.sidebar_responsive}}
		#ipsLayout_sidebar {
			display: none;
		}
	{{else}}
		#ipsLayout_mainArea {
			margin-bottom: 0 !important;
		}

		#ipsLayout_sidebar {
			max-width: 100% !important;
			min-width: 0 !important;
			display: block;
			overflow: visible;
		}

		html[dir] #ipsLayout_sidebar.ipsLayout_sidebarleft,
		html[dir] #ipsLayout_sidebar.ipsLayout_sidebarright {
			padding: 15px;
			padding-top: 0;
		}
	{{endif}}

	#ipsLayout_body {
		padding: 0;
		max-width: 100%;
		margin: 0;
	}

	#ipsLayout_mainArea {
		border-radius: 0 !important;
		margin-bottom: 10px;
		padding: 15px;
	}

	#ipsLayout_contentArea,
	#ipsLayout_mainArea {
		display: block;
		border: 0;
	}

	#elContextualTools {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 0 -15px;
		padding: 0;
	}

		#elContextualTools > *{
			margin-left: 15px;
		}
}

/* PHONES */
@media screen and (max-width: 767px) {

	.ipsResponsive_pull{
		margin-left: -10px;
		margin-right: -10px;
	}

		/* Prevent 'double pull' from occurring */
		.ipsResponsive_pull .ipsResponsive_pull{
			margin-left: 0;
			margin-right: 0;
		}

		.ipsResponsive_pull,
		.ipsResponsive_pull .ipsBox:not( .ipsBox--child ),
		.ipsResponsive_pull .ipsStreamItem {
			border-radius: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

	#ipsLayout_mainArea {
		padding: 10px;
	}

	html[dir] #ipsLayout_sidebar.ipsLayout_sidebarleft,
	html[dir] #ipsLayout_sidebar.ipsLayout_sidebarright {
		padding: 10px;
		padding-top: 0;
	}

	/* Fixed column sizing */
	.ipsColumns.ipsColumns_collapseTablet:not( .ipsHide ),
	.ipsColumns.ipsColumns_collapsePhone:not( .ipsHide ) {
		width: auto;
		display: block;
		padding-right: 0;
	}

	.ipsColumns.ipsColumns_collapseTablet > .ipsColumn:not( .ipsHide ),
	.ipsColumns.ipsColumns_collapsePhone > .ipsColumn:not( .ipsHide ) {
		display: block;
		position: relative;
		width: auto;
		margin: 0 0 15px 0;
		padding: 0;
	}

	.ipsLayout_contentSection {
		padding: 5px;
	}

	.ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"],
	.ipsGrid.ipsGrid_collapsePhone > [class*="ipsGrid_span"] {
		width: 100%;
	}
	html[dir="ltr"] .ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"],
	html[dir="ltr"] .ipsGrid.ipsGrid_collapsePhone > [class*="ipsGrid_span"] {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsGrid.ipsGrid_collapseTablet > [class*="ipsGrid_span"],
	html[dir="rtl"] .ipsGrid.ipsGrid_collapsePhone > [class*="ipsGrid_span"] {
		margin-right: 0;
	}

	#elContextualTools {
		padding: 0;
	}

	/* Page header styles */
	.ipsHeaderButtons .ipsToolList {
		float: right;
		width: auto;
		margin-bottom: 0;
	}

		.ipsHeaderButtons .ipsType_pageTitle {
			line-height: 1.5;
		}

		.ipsHeaderButtons .ipsToolList .ipsButton {
			line-height: 28px;
		}
}