/* PHONES */
@media screen and (max-width: 767px) {

	.ipsSideMenu .ipsSideMenu_mainTitle a {
		color: rgb( var(--theme-text_light) );
		font-weight: normal;
	}

	/* Non-JS fallback */
	.ipsSideMenu:not(.ipsCategoriesMenu) .ipsSideMenu_title,
	.ipsSideMenu:not(.ipsCategoriesMenu) .ipsSideMenu_subTitle,
	.ipsSideMenu:not(.ipsCategoriesMenu) .ipsSideMenu_list {
		display: none;
	}

	.ipsSideMenu .ipsSideMenu_mainTitle,
	.ipsSideMenu .ipsSideMenu_mainTitle a,
	.ipsSideMenu:target .ipsSideMenu_title,
	.ipsSideMenu:target .ipsSideMenu_list,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_title,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list,
	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_subTitle {
		display: block;
	}

	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_mainTitle a,
	.ipsSideMenu:target .ipsSideMenu_mainTitle a {
		background: rgb( var(--theme-area_background_dark) );
		color: #fff;
		display: block;
		border-radius: var(--radius-1);
	}

	/* Add a space to the bottom of the header so it doesn't collide with the first menu item */
	.ipsSideMenu_open .ipsSideMenu_mainTitle{
		margin-bottom: var(--sp-3);
	}

	.ipsSideMenu.ipsSideMenu_open,
	.ipsSideMenu:target {
		width: 100%;
		/* This was removed to improve the Content Type menu in profiles. It's assumed these dropdown menus are already contained by another element. Re-add if necessary */
		/* background: rgb( var(--theme-area_background_reset) ); */
		z-index: 4000;
	}

	.ipsSideMenu.ipsSideMenu_open .ipsSideMenu_list,
	.ipsSideMenu:target .ipsSideMenu_list {
		margin-bottom: 0;
	}
}

/* Landscape-specific phone styles for menus */
@media screen and (max-height: 450px) {
	.ipsMenu_innerContent {
		max-height: 210px;
	}
}