/* BOTH */
@media screen and (max-width: 979px) {

	/* PHOTO PANELS */
	.ipsPhotoPanel.ipsPhotoPanel_notTablet > .ipsUserPhoto {
		display: none;
	}

	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-right: 0;
	}
	
	/* TOOL LISTS */
	.ipsToolList.ipsToolList_horizontal {
		margin-bottom: 15px;
	}
		/* Page header styles */
		.ipsApp .ipsHeaderButtons .ipsToolList {
			margin-bottom: 0;
		}

	/* ACTIVE USERS */
	.ipsActiveUsers_title {
		display: block;
		margin: 0;
	}
	/* Report button */
	.ipsComment_meta .ipsFaded.ipsFaded_more {
		opacity: 1;
	}
}

/* PHONES */
@media screen and (max-width: 767px) {
		
	/* PHOTO PANELS */
	.ipsPhotoPanel.ipsPhotoPanel_notPhone > .ipsUserPhoto,
	.ipsPhotoPanel.ipsPhotoPanel_notTablet > .ipsUserPhoto {
		display: none;
	}

	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notPhone > div,
	html[dir="ltr"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-left: 0;
	}
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notPhone > div,
	html[dir="rtl"] .ipsPhotoPanel.ipsPhotoPanel_notTablet > div {
		margin-right: 0;
	}
	
	/* TOOL LISTS */
	.ipsToolList_horizontal{
		text-align: center;
	}
		.ipsApp .ipsToolList_horizontal > *{
			float: none;
		}
		.ipsToolList_horizontal > *:not(:last-child){
			margin-bottom: var(--sp-2);
		}

	.ipsToolList_horizontal--flex{
		display: flex;
		margin-left: calc(var(--sp-2) * -1);
	}
		.ipsToolList_horizontal--flex > *{
			flex: 0 0 auto;
			margin-left: var(--sp-2);
		}

		.ipsToolList_primaryAction{
			flex: 1 0 60%;
			order: 1;
		}

	.ipsPad, .ipsApp ul.ipsPad, .ipsApp ol.ipsPad { padding: var(--sp-2); }
	.ipsPad_double { padding: var(--sp-4); }
}