/* PHONES */
@media screen and (max-width: 767px) {

	.ipsDialog > div {
		width: 100%;
		margin: 0 auto;
	}

	.ipsDialog.ipsDialog_fixed > div {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: 0;
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.ipsAlert {
		top: auto;
		bottom: 40px;
		left: 2%;
		right: 2%;
		margin: 0;
		width: auto;
	}

	.ipsHovercard.ipsHovercard_stemLeft { margin-left: 0; }
	.ipsHovercard.ipsHovercard_stemRight { margin-left: 0; }

	/* Moderation menu */
	.ipsPageAction {
		margin-left: 0px !important;
		left: 10px;
		right: 10px;
		text-align: center;
	}

		.ipsPageAction > ul[data-role='actionItems'] > li {
			min-width: 50px;
			padding: 5px 7px;
			float: none;
		}

			.ipsPageAction > ul[data-role='actionItems'] > li:not( .ipsHide ) {
				display: inline-block;
			}

			.ipsPageAction > ul[data-role='actionItems'] > li:first-child {
				display: block;
				width: 100%;
				font-size: 12px;
				line-height: 18px;
				padding: 5px 10px;
			}

			.ipsPageAction > ul[data-role='actionItems'] > li:last-child {
				border-right: 0;
			}

		.ipsPageAction .ipsPageAction_icon {
			font-size: 20px;
		}
}