/* Default responsive css is in framework css so that hidden items are hidden even when
	responsiveness is disabled */

/* Hide elements on desktop */
@media (min-width: 980px){
	.ipsApp .ipsResponsive_hideDesktop,
	.ipsApp .ipsResponsive_showTablet{
		display: none !important;
	}
}

/* Hide elements on tablet and below, OR only show elements on desktops */
@media (max-width: 979px){
	.ipsApp .ipsResponsive_showDesktop{
		display: none !important;
	}
}

/* Hide elements on tablet only */
@media (min-width: 768px) and (max-width: 979px){
	.ipsApp .ipsResponsive_hideTablet{
		display: none !important;
	}
}

/* Hide elements on tablet and above, OR only show elements on phones */
@media (min-width: 768px){
	.ipsApp .ipsResponsive_showPhone{
		display: none !important;
	}
}

/* Hide elements on phones */
@media (max-width: 767px){
	.ipsApp .ipsResponsive_hidePhone,
	.ipsApp .ipsResponsive_showTablet{
		display: none !important;
	}
}

@media screen and (max-width: 979px) {
	/* Prevent a floating element from floating on mobile devices */
	.ipsResponsive_noFloat {
		float: none !important;
	}

	#elSiteTitle {
		font-size: 24px;
	}

	#ipsLayout_footer ul {
		text-align: center;
		width: 100%;
	}

	#elCopyright {
		clear: both;
		float: none;
		text-align: center;
	}

	.ipsHeader_tabs {
		display: none;
	}

	/* Turns the last-but-one breadcrumb item in a 'Back' button, like <[ Home ] */
	.ipsApp_front .ipsSubNavigation .ipsBreadcrumb li, .ipsApp_front .ipsBreadcrumb li i {
		display: none;
	}

	.ipsBreadcrumb li {
		overflow: visible;
	}
}