/* PHONES */
@media screen and (max-width: 767px) {
	
	.ipsTabs {
		position: relative;
		min-height: var(--ipsTabs-responsive--height);
		box-sizing: content-box;
	}

	.ipsTabs_small{
		border-top: 2px solid rgb( var(--theme-area_background) );
		min-height: 34px;
	}

	.ipsTabs_panels.ipsTabs_contained .ipsTabs_panel {
		padding: var(--sp-5) var(--sp-3);
	}
	
	.ipsTabs [role="tablist"]{
		display: block;
	}

	.ipsTabs_item:not( .ipsTabs_activeItem ) {
		display: none !important;
		color: rgb( var(--theme-text_color) ) !important;
	}

	.ipsTabs_activeItem a, a.ipsTabs_activeItem, span.ipsTabs_activeItem {
		position: relative;
		font-size: 16px;
		font-weight: bold;
		border-radius: 4px 4px 0 0;
		line-height: var(--ipsTabs-responsive--height);
	}

	.ipsTabs.ipsTabs_withIcons .ipsTabs_item {
		text-align: left;
	}
	html[dir="rtl"] .ipsTabs.ipsTabs_withIcons .ipsTabs_item {
		text-align: right;
	}

	.ipsTabs.ipsTabs_withIcons .ipsTabs_item i {
		display: inline-block;
		font-size: 16px;
		width: 22px;
	}

	/* TAB MENU */
	/* We set the dropdown link so that it covers the whole tab bar, which means we can intercept
	 	a click on it in order to show the menu without JS necessary */
	.ipsTabs [data-action='expandTabs'] {
		display: flex !important;
		align-items: flex-start;
		justify-content: flex-end;
		color: rgb( var(--theme-text_dark) );
		position: absolute;
		left: var(--ipsTabs--padding);
		right: var(--ipsTabs--padding);
		top: var(--ipsTabs--padding);
		bottom: 0;
		font-size: 18px;
		z-index: 100;
		padding: 0 15px;
	}

		/* Align the arrow icon */
		.ipsTabs [data-action='expandTabs'] .fa{
			margin-top: 11px;
		}

		.ipsTabs.ipsTabs_small [data-action='expandTabs'] {
			top: 0;
			left: 0;
			right: 0;
		}

		.ipsTabs:target [data-action='expandTabs'], .ipsTabs.ipsTabs_showMenu [data-action='expandTabs'] {
			width: 40px;
		}
		html[dir="ltr"] .ipsTabs:target [data-action='expandTabs'],
		html[dir="ltr"] .ipsTabs.ipsTabs_showMenu [data-action='expandTabs'] {
			left: auto;
		}
		html[dir="rtl"] .ipsTabs:target [data-action='expandTabs'],
		html[dir="rtl"] .ipsTabs.ipsTabs_showMenu [data-action='expandTabs'] {
			right: auto;
		}

		.ipsTabs:target [role="tablist"], .ipsTabs.ipsTabs_showMenu [role="tablist"] {
			position: absolute;
	 		left: calc(var(--ipsTabs--padding) - 5px);
	 		right: calc(var(--ipsTabs--padding) - 5px);
	 		top: calc(var(--ipsTabs--padding) - 5px);
	 		padding: 5px;
	 		background: rgb( var(--theme-area_background_reset) );
			box-shadow: 0px 5px 40px rgba(0,0,0,0.4);
			border-radius: 3px;
		}

			.ipsTabs.ipsTabs_small:target [role="tablist"], .ipsTabs.ipsTabs_small.ipsTabs_showMenu [role="tablist"]{
				padding: 0;
			}

			.ipsTabs.ipsTabs_contained:target [role="tablist"] {
				left: 2px;
				right: 2px;
				top: 2px;
			}

			.ipsTabs.ipsTabs_stretch [role="tablist"] {
				display: block;
				width: auto;
			}

		.ipsTabs:target .ipsTabs_item, .ipsTabs.ipsTabs_showMenu .ipsTabs_item {
			display: block !important;
			width: 100% !important;
		}

}